flows/ACC_MiscellaneousLease.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_to_Case</name>
        <label>Navigate to Case</label>
        <locationX>1545</locationX>
        <locationY>1062</locationY>
        <actionName>c:NavigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>varNewAccountParentCase</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varNewAccountParentCase</assignToReference>
            <name>SObject</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>NavigatetoSingleCase</name>
        <label>Navigate to Single Case</label>
        <locationX>1023</locationX>
        <locationY>992</locationY>
        <actionName>c:NavigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varNewCaseId</assignToReference>
            <name>SObject</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>AddValuesToArray</name>
        <label>AddValuesToArray</label>
        <locationX>598</locationX>
        <locationY>226</locationY>
        <assignmentItems>
            <assignToReference>DataArr</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fieldDataForm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuildContractRecordDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToTempProperty</name>
        <label>assignToTempProperty</label>
        <locationX>1320</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>varTempProperty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPropertyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPropertyCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getMultiSelectedContract_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>childCaseAssignment</name>
        <label>childCaseAssignment</label>
        <locationX>1737</locationX>
        <locationY>753</locationY>
        <assignmentItems>
            <assignToReference>newCaseFromContract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPropertyLevelAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContractIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewAccountParentCase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Space__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseSubjectChildFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LV18 - Miscellaneous</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseSubtypeM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescriptionM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppChildCaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>childCasesListAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>childCasesListAssignment</name>
        <label>childCasesListAssignment</label>
        <locationX>1572</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>childCasesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newCaseFromContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getMultiSelectedContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>selectedContractCount</name>
        <label>selectedContractCount</label>
        <locationX>746</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>varContractCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedIdContract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arrayContractId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSelectedIdContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getSelectedContracts</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Centre</name>
        <choiceText>Centre</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Centre</stringValue>
        </value>
    </choices>
    <choices>
        <name>COVID19RentRequest</name>
        <choiceText>COVID-19 Rent Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>COVID-19 Rent Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>DC</name>
        <choiceText>D&amp;C</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D&amp;C</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeasingFinance</name>
        <choiceText>Leasing Finance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leasing Finance</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeasingRGM</name>
        <choiceText>Leasing (RGM)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leasing (RGM)</stringValue>
        </value>
    </choices>
    <choices>
        <name>MajorsFinance</name>
        <choiceText>Majors Finance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Majors Finance</stringValue>
        </value>
    </choices>
    <choices>
        <name>RevenueAssurance</name>
        <choiceText>Revenue Assurance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Revenue Assurance</stringValue>
        </value>
    </choices>
    <constants>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Surrender a Lease</stringValue>
        </value>
    </constants>
    <constants>
        <name>MakeGoodErrorText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>If  &quot;Other (Please Specify)&quot; value is selected in the &quot;Make Good&quot; field, please populate the &quot;Make Good Details&quot; field</stringValue>
        </value>
    </constants>
    <constants>
        <name>OthersPleaseSpecify</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Other (Please Specify)</stringValue>
        </value>
    </constants>
    <constants>
        <name>SurrenderaLeaseRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CAS_LVISurrenderaLease</stringValue>
        </value>
    </constants>
    <constants>
        <name>SurrenderPayoutErrorMsg</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please put an amount greater than 0 or check the Surrender Payout Amount TBA?</stringValue>
        </value>
    </constants>
    <constants>
        <name>UnexpiredErrorMsgText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The &quot;Unexpired Fitout Amount&quot; field is required when value is &quot;Lease Pre-Expiry&quot;.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>checkAccountRecordType</name>
        <label>checkAccountRecordType</label>
        <locationX>1143</locationX>
        <locationY>422</locationY>
        <defaultConnector>
            <targetReference>getSelectedAccountProperty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ACCPropertyBased</defaultConnectorLabel>
        <rules>
            <name>ACCGroupLevelSingleProperty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountRecordTypeDevName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACCGroupLevel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPropertyCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSelectedContractDetail_0</targetReference>
            </connector>
            <label>ACCGroupLevel Single Property</label>
        </rules>
        <rules>
            <name>ACCGroupLevelMultipleProperties</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountRecordTypeDevName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACCGroupLevel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPropertyCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createAccountParentCase</targetReference>
            </connector>
            <label>ACCGroupLevel Multiple Properties</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfDistinctProperty</name>
        <label>checkIfDistinctProperty</label>
        <locationX>1251</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>getMultiSelectedContract_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>DistinctProperty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPropertyId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varTempProperty</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignToTempProperty</targetReference>
            </connector>
            <label>DistinctProperty</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfRevenueAssuranceManager_0</name>
        <label>checkIfRevenueAssuranceManager</label>
        <locationX>579</locationX>
        <locationY>1267</locationY>
        <defaultConnector>
            <targetReference>RevenueAssuranceErrorMsgScreen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>raisedByRevAsrMgr_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOwnerRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revenue Assurance Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createCaseContract</targetReference>
            </connector>
            <label>raisedByRevAsrMgr</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfRevenueIsSelected_0</name>
        <label>checkIfRevenueIsSelected</label>
        <locationX>610</locationX>
        <locationY>713</locationY>
        <defaultConnector>
            <targetReference>getPropertyFromSpace2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>RevenueAssuranceSelected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseSubtypeM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RevenueAssurance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPropertyFromSpace_0</targetReference>
            </connector>
            <label>RevenueAssuranceSelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSelectedContractCount</name>
        <label>checkSelectedContractCount</label>
        <locationX>594</locationX>
        <locationY>493</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OneContractSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MiscellaneousLease</targetReference>
            </connector>
            <label>One Contract</label>
        </rules>
        <rules>
            <name>GreaterThanOneContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MiscellaneousLeaseM</targetReference>
            </connector>
            <label>GreaterThanOneContract</label>
        </rules>
        <rules>
            <name>NoSelectedContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contractIdsArray</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoContractSelected</targetReference>
            </connector>
            <label>No Selected Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>isSuccess</name>
        <label>isSuccess</label>
        <locationX>1145</locationX>
        <locationY>862</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CaseCreateSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NavigatetoSingleCase</targetReference>
            </connector>
            <label>CaseCreateSuccess</label>
        </rules>
        <rules>
            <name>CaseCreateFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseFailed</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>parentSuccess</name>
        <label>parentSuccess</label>
        <locationX>1359</locationX>
        <locationY>969</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CaseParentCreateSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewAccountParentCase</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCaserecord</targetReference>
            </connector>
            <label>CaseParentCreateSuccess</label>
        </rules>
        <rules>
            <name>CaseParentCreateFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewAccountParentCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseFailed</targetReference>
            </connector>
            <label>CaseParentCreateFailed</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CaseSubtypePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SubType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GuaranteesTypePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GuaranteeType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LATypePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LAType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LATypePLm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LAType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MakeGoodPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MakeGood__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonforTerminationPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReasonforTermination__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReleaseGuaranteePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReleaseOutgoingGuarantor__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SurrenderpayoutPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SurrenderPayout__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CaseSubjectChildFormula</name>
        <dataType>String</dataType>
        <expression>&quot;LV18 - Miscellaneous - &quot; + {!CaseSubtypeM}</expression>
    </formulas>
    <formulas>
        <name>CaseSubjectFormula</name>
        <dataType>String</dataType>
        <expression>&quot;LV18 - Miscellaneous - &quot; + {!CaseSubtype}</expression>
    </formulas>
    <formulas>
        <name>CaseSubjectParentCase</name>
        <dataType>String</dataType>
        <expression>&quot;LV18 - Miscellaneous - &quot; + {!CaseSubtypeM} + &quot; - PARENT&quot;</expression>
    </formulas>
    <formulas>
        <name>columnNameForm</name>
        <dataType>String</dataType>
        <expression>&quot;Property,Property__r.Name,text;Space,Space__r.Name,text;Space Type,TechSpaceType__c,text;Account Name, Account__r.Name,text;JDE Lease Number,JDELeaseNumber__c,text;Id,Id,Id;&quot;</expression>
    </formulas>
    <formulas>
        <name>fieldDataForm</name>
        <dataType>String</dataType>
        <expression>{!contract.Property__r.Name}&amp;&quot;,&quot;&amp;{!contract.Space__r.Name}&amp;&quot;,&quot;&amp;{!contract.TechSpaceType__c}&amp;&quot;,&quot;&amp;{!contract.Account__r.Name}&amp;&quot;,&quot;&amp;{!contract.JDELeaseNumber__c}&amp;&quot;,&quot;&amp;{!contract.Id}</expression>
    </formulas>
    <formulas>
        <name>navigateToCaseURL</name>
        <dataType>String</dataType>
        <expression>{!$Label.LVIEnvURL}+{!varNewCaseId}+&apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>navigateToParentCaseId</name>
        <dataType>String</dataType>
        <expression>{!$Label.LVIEnvURL}+{!varNewAccountParentCase}+&apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>varUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>ACC_MiscellaneousLease {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACC_MiscellaneousLease</label>
    <loops>
        <name>BuildContractRecordDetails</name>
        <label>BuildContractRecordDetails</label>
        <locationX>390</locationX>
        <locationY>228</locationY>
        <assignNextValueToReference>contract</assignNextValueToReference>
        <collectionReference>contractsRelatedToProperty</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddValuesToArray</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ActiveContracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>getMultiSelectedContract</name>
        <label>getMultiSelectedContract</label>
        <locationX>1370</locationX>
        <locationY>760</locationY>
        <assignNextValueToReference>varContractIds</assignNextValueToReference>
        <collectionReference>arrayContractId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getContractIdLookup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createChildCases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>getMultiSelectedContract_0</name>
        <label>getMultiSelectedContract</label>
        <locationX>1136</locationX>
        <locationY>324</locationY>
        <assignNextValueToReference>varContractIds</assignNextValueToReference>
        <collectionReference>arrayContractId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getContractIdLookup_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkAccountRecordType</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>getSelectedContracts</name>
        <label>getSelectedContracts</label>
        <locationX>594</locationX>
        <locationY>380</locationY>
        <assignNextValueToReference>varSelectedIdContract</assignNextValueToReference>
        <collectionReference>contractIdsArray</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>selectedContractCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkSelectedContractCount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createAccountParentCase</name>
        <label>createAccountParentCase</label>
        <locationX>1359</locationX>
        <locationY>568</locationY>
        <assignRecordIdToReference>varNewAccountParentCase</assignRecordIdToReference>
        <connector>
            <targetReference>getNewParentCaseId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Space__c</field>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubType__c</field>
            <value>
                <elementReference>CaseSubtypeM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubjectParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TechNumberOfProperties__c</field>
            <value>
                <elementReference>varPropertyCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TechSingleMiscLease__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>LV18 - Miscellaneous</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>createCaseContract</name>
        <label>createCaseContract</label>
        <locationX>830</locationX>
        <locationY>975</locationY>
        <assignRecordIdToReference>varNewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>getNewCaseId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>varSelectContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Space__c</field>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubType__c</field>
            <value>
                <elementReference>CaseSubtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubjectFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TechGMLeasing__c</field>
            <value>
                <elementReference>GetPropertyTeamMemberIdGMLeasing.TeamMember__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TechNumberOfProperties__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TechRegionalLeasingManager__c</field>
            <value>
                <elementReference>GetPropertyTeamMemberIdRegionalLeasingManager.TeamMember__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TechSingleMiscLease__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>LV18 - Miscellaneous</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>createChildCases</name>
        <label>createChildCases</label>
        <locationX>1376</locationX>
        <locationY>867</locationY>
        <connector>
            <targetReference>parentSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <inputReference>childCasesList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getContractIdLookup</name>
        <label>getContractIdLookup</label>
        <locationX>1567</locationX>
        <locationY>665</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>childCaseAssignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractIds</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varPropertyLevelAccountId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOppChildCaseId</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpaceId</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getContractIdLookup_0</name>
        <label>getContractIdLookup</label>
        <locationX>1136</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfDistinctProperty</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractIds</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varPropertyId</assignToReference>
            <field>Property__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getMiscellaneousRecId</name>
        <label>getMiscellaneousRecId</label>
        <locationX>596</locationX>
        <locationY>619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSelectedContractDetail</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CAS_LVIMiscellaneous</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getMiscellaneousRecId_0</name>
        <label>getMiscellaneousRecId</label>
        <locationX>936</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMultiSelectedContract_0</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CAS_LVIMiscellaneous</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getNewCaseId</name>
        <label>getNewCaseId</label>
        <locationX>964</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isSuccess</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varNewCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getNewParentCaseId</name>
        <label>getNewParentCaseId</label>
        <locationX>1366</locationX>
        <locationY>663</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMultiSelectedContract</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewAccountParentCase</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varNewParentCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getPropertyFromSpace2</name>
        <label>getPropertyFromSpace2</label>
        <locationX>716</locationX>
        <locationY>790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPropertyTeamMemberIdRegionalLeasingManager</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </filters>
        <object>Space__c</object>
        <outputAssignments>
            <assignToReference>varPropertyId</assignToReference>
            <field>Property__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getPropertyFromSpace_0</name>
        <label>getPropertyFromSpace</label>
        <locationX>405</locationX>
        <locationY>824</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPropertyTeamRole_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </filters>
        <object>Space__c</object>
        <outputAssignments>
            <assignToReference>varPropertyId</assignToReference>
            <field>Property__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Retrieves Property Team Member User Id for GM Leasing</description>
        <name>GetPropertyTeamMemberIdGMLeasing</name>
        <label>GetPropertyTeamMemberIdGMLeasing</label>
        <locationX>611</locationX>
        <locationY>1136</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createCaseContract</targetReference>
        </connector>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General Manager Leasing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PropertyTeam__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TeamMember__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves Property Team Member User Ids for RegionalLeasingManager</description>
        <name>GetPropertyTeamMemberIdRegionalLeasingManager</name>
        <label>GetPropertyTeamMemberIdRegionalLeasingManager</label>
        <locationX>617</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPropertyTeamMemberIdGMLeasing</targetReference>
        </connector>
        <filters>
            <field>Property__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPropertyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regional Manager - LARS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PropertyTeam__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TeamMember__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPropertyTeamRole_0</name>
        <label>getPropertyTeamRole</label>
        <locationX>405</locationX>
        <locationY>1265</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfRevenueAssuranceManager_0</targetReference>
        </connector>
        <filters>
            <field>Property__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPropertyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMember__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </filters>
        <object>PropertyTeam__c</object>
        <outputAssignments>
            <assignToReference>varOwnerRole</assignToReference>
            <field>Role__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSelectedAccountProperty</name>
        <label>getSelectedAccountProperty</label>
        <locationX>1044</locationX>
        <locationY>493</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSpaceIdRelatedToProperty</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varPropertyRelatedToAccount</assignToReference>
            <field>Property__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSelectedContractDetail</name>
        <label>getSelectedContractDetail</label>
        <locationX>406</locationX>
        <locationY>702</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfRevenueIsSelected_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectContractId</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varOpportunityId</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpaceId</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSelectedContractDetail_0</name>
        <label>getSelectedContractDetail</label>
        <locationX>1447</locationX>
        <locationY>414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createAccountParentCase</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectContractId</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varOpportunityId</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpaceId</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSpaceIdRelatedToProperty</name>
        <label>getSpaceIdRelatedToProperty</label>
        <locationX>1043</locationX>
        <locationY>619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createAccountParentCase</targetReference>
        </connector>
        <filters>
            <field>Property__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPropertyRelatedToAccount</elementReference>
            </value>
        </filters>
        <object>Space__c</object>
        <outputAssignments>
            <assignToReference>varSpaceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateCaserecord</name>
        <label>updateCaserecord</label>
        <locationX>1663</locationX>
        <locationY>918</locationY>
        <connector>
            <targetReference>Navigate_to_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewAccountParentCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TechHasChildCase__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>ActiveContracts</name>
        <label>Active Contracts</label>
        <locationX>388</locationX>
        <locationY>380</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getSelectedContracts</targetReference>
        </connector>
        <fields>
            <name>MiscellaneousLeaseScreen</name>
            <fieldText>Miscellaneous Lease</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ActiveContractScreen</name>
            <extensionName>c:ContractListFlowDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnsStr</name>
                <value>
                    <elementReference>columnNameForm</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dataArr</name>
                <value>
                    <elementReference>DataArr</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contractIdsArray</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CaseFailed</name>
        <label>CaseFailed</label>
        <locationX>1221</locationX>
        <locationY>1055</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error</name>
            <fieldText>Error on Creating Case. Check with your System Administrator.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorMessage</name>
        <label>errorMessage</label>
        <locationX>1046</locationX>
        <locationY>747</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessageText</name>
            <fieldText>Sorry, but you cant create a record at this time.

Error message: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MiscellaneousLease</name>
        <label>Miscellaneous Lease</label>
        <locationX>404</locationX>
        <locationY>597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getMiscellaneousRecId</targetReference>
        </connector>
        <fields>
            <name>CaseSubtype</name>
            <choiceReferences>Centre</choiceReferences>
            <choiceReferences>LeasingFinance</choiceReferences>
            <choiceReferences>RevenueAssurance</choiceReferences>
            <choiceReferences>LeasingRGM</choiceReferences>
            <choiceReferences>DC</choiceReferences>
            <choiceReferences>MajorsFinance</choiceReferences>
            <choiceReferences>COVID19RentRequest</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Subtype</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MiscellaneousLeaseM</name>
        <label>Miscellaneous Lease</label>
        <locationX>887</locationX>
        <locationY>482</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getMiscellaneousRecId_0</targetReference>
        </connector>
        <fields>
            <name>CaseSubtypeM</name>
            <choiceReferences>Centre</choiceReferences>
            <choiceReferences>LeasingFinance</choiceReferences>
            <choiceReferences>RevenueAssurance</choiceReferences>
            <choiceReferences>LeasingRGM</choiceReferences>
            <choiceReferences>DC</choiceReferences>
            <choiceReferences>MajorsFinance</choiceReferences>
            <choiceReferences>COVID19RentRequest</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Subtype</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DescriptionM</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoContractSelected</name>
        <label>No Contract Selected</label>
        <locationX>818</locationX>
        <locationY>624</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoContractSelectedScreen</name>
            <fieldText>Please select at least 1 contract on the previous screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RevenueAssuranceErrorMsgScreen_0</name>
        <label>Revenue Assurance Error Msg Screen</label>
        <locationX>810</locationX>
        <locationY>1264</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>revAsrErrorMsg_0</name>
            <fieldText>Only the Revenue Assurance Manager can create a Miscellaneous Lease with Revenue Assurance Type.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>253</locationY>
        <connector>
            <targetReference>BuildContractRecordDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>arrayContractId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>childCasesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>contractIdsArray</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contractsRelatedToProperty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>DataArr</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newCaseFromContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varAccountRecordTypeDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseApprovalMatrixMdt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseApprovalMatrix__mdt</objectType>
    </variables>
    <variables>
        <name>varCaseRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContractCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varContractIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewAccountParentCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewParentCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppChildCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPropertyCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varPropertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPropertyLevelAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPropertyRelatedToAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSelectedIdContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSpaceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTempProperty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
