flows/ACC_AssignmentofaLease.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NavigateToAccount1</name>
        <label>NavigateToAccount</label>
        <locationX>1177</locationX>
        <locationY>1241</locationY>
        <actionName>c:NavigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>varAssigneeAccountId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varAssigneeAccountId</assignToReference>
            <name>SObject</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>NavigateToCase</name>
        <label>Navigate To Case</label>
        <locationX>1357</locationX>
        <locationY>1224</locationY>
        <actionName>c:NavigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>varNavigateCaseId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varNavigateCaseId</assignToReference>
            <name>SObject</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>AddValuesToArray</name>
        <label>AddValuesToArray</label>
        <locationX>407</locationX>
        <locationY>22</locationY>
        <assignmentItems>
            <assignToReference>DataArr</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fieldDataForm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuildContractRecordDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assigneeErrMsgAssign</name>
        <label>assigneeErrMsgAssign</label>
        <locationX>438</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>varAssigneeErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assigneeErrMsgText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignmentofaLeaseScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assigneeErrMsgAssign2</name>
        <label>assigneeErrMsgAssign2</label>
        <locationX>1069</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>varAssigneeErrorMsg2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assigneeErrMsgText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignmentofaLeaseScreenM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFitoutAmount</name>
        <label>assignFitoutAmount</label>
        <locationX>461</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>varFitoutContributionAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignmentofaLeaseScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFitoutAmount_0</name>
        <label>assignFitoutAmount</label>
        <locationX>2068</locationX>
        <locationY>299</locationY>
        <assignmentItems>
            <assignToReference>varFitoutContributionAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>childCaseSobjectAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment1</name>
        <label>Assignment</label>
        <locationX>1064</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>varNavigateCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NavigatetoAccountCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment2</name>
        <label>Assignment</label>
        <locationX>1558</locationX>
        <locationY>1113</locationY>
        <assignmentItems>
            <assignToReference>varNavigateCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewAccountParentCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NavigatetoAccountCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>childCaseListAssignment</name>
        <label>childCaseListAssignment</label>
        <locationX>1821</locationX>
        <locationY>603</locationY>
        <assignmentItems>
            <assignToReference>childCaseList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newCaseFromContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getMultiSelectedContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>childCaseSobjectAssignment</name>
        <label>childCaseSobjectAssignment</label>
        <locationX>2000</locationX>
        <locationY>535</locationY>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContractIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.AssignmentDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignmentDateM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.AssigneeAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssigneeAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewAccountParentCase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.ReleaseOutgoingGuarantor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReleaseOutgoingGuarantorM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.RentinAdvance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RentinAdvanceM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.SecurityDeposit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecurityDepositM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.SettlementDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SettlementDateM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Space__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LV08 - Assignment of Lease</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LV08 - Assignment of Lease</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.FitoutReimbursementAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calculateFitoutReimbursementChildCase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunityIdChildCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>childCaseListAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>clearErrorMsg</name>
        <label>clearErrorMsg</label>
        <locationX>198</locationX>
        <locationY>747</locationY>
        <assignmentItems>
            <assignToReference>varAssigneeErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkAssigneeAccountDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>clearErrorMsg_0</name>
        <label>clearErrorMsg</label>
        <locationX>1107</locationX>
        <locationY>17</locationY>
        <assignmentItems>
            <assignToReference>varAssigneeErrorMsg2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkAssigneeAccountDetails_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>selectedContractCount</name>
        <label>selectedContractCount</label>
        <locationX>739</locationX>
        <locationY>88</locationY>
        <assignmentItems>
            <assignToReference>varContractCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arrayContractIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSelectedContractId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getSelectedContracts</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>LeaseExpired</name>
        <choiceText>Lease Expired</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lease Expired</stringValue>
        </value>
    </choices>
    <choices>
        <name>LegalLockout</name>
        <choiceText>Legal/Lockout</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal/Lockout</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewLease</name>
        <choiceText>New Lease</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NewRetailer</name>
        <choiceText>New Retailer</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>PreexpiryofLease</name>
        <choiceText>Pre-expiry of Lease</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pre-expiry of Lease</stringValue>
        </value>
    </choices>
    <constants>
        <name>assigneeErrMsgText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The Assignee&apos;s Account must be documented with the Retailer&apos;s Lessee and Trading Name, Billing Address &amp; Phone Number.</stringValue>
        </value>
    </constants>
    <constants>
        <name>AssignmentofLeaseRecType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CAS_LVIAssignmentofaLease</stringValue>
        </value>
    </constants>
    <constants>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>LV08 - Assignment of Lease</stringValue>
        </value>
    </constants>
    <decisions>
        <name>checkIfOpportunityExists</name>
        <label>checkIfOpportunityExists</label>
        <locationX>192</locationX>
        <locationY>379</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ContractHasOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOpportunityDetails</targetReference>
            </connector>
            <label>Contract Has Opportunity</label>
        </rules>
        <rules>
            <name>ContractHasNoOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFitoutAmount</targetReference>
            </connector>
            <label>Contract Has No Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfOpportunityExists_0</name>
        <label>checkIfOpportunityExists</label>
        <locationX>1724</locationX>
        <locationY>297</locationY>
        <defaultConnector>
            <targetReference>assignFitoutAmount_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ContractHasOpportunity_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityIdChildCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityIdChildCase</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOpportunityDetails_0</targetReference>
            </connector>
            <label>Contract Has Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSelectedContractCount</name>
        <label>checkSelectedContractCount</label>
        <locationX>721</locationX>
        <locationY>365</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OneContractSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSelectedContractDetailAL</targetReference>
            </connector>
            <label>One Contract</label>
        </rules>
        <rules>
            <name>GreaterThanOneContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentofaLeaseScreenM</targetReference>
            </connector>
            <label>GreaterThanOneContract</label>
        </rules>
        <rules>
            <name>NoContractsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoContractSelected</targetReference>
            </connector>
            <label>No Contracts Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>isAccountInvalid</name>
        <label>isAccountInvalid</label>
        <locationX>113</locationX>
        <locationY>651</locationY>
        <defaultConnector>
            <targetReference>ErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccountValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssigneeAccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>accountRecordId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAssigneeAccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varAccountParentId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>clearErrorMsg</targetReference>
            </connector>
            <label>AccountValid</label>
        </rules>
    </decisions>
    <decisions>
        <name>isAccountValid</name>
        <label>isAccountValid</label>
        <locationX>839</locationX>
        <locationY>63</locationY>
        <defaultConnector>
            <targetReference>Error_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssigneeAccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>accountRecordId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAssigneeAccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varAccountParentId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>clearErrorMsg_0</targetReference>
            </connector>
            <label>Account Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>isSuccess</name>
        <label>isSuccess</label>
        <locationX>899</locationX>
        <locationY>844</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CaseCreateSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseSuccess</targetReference>
            </connector>
            <label>CaseCreateSuccess</label>
        </rules>
        <rules>
            <name>CaseCreateFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseFailed</targetReference>
            </connector>
            <label>CaseCreateFailed</label>
        </rules>
    </decisions>
    <decisions>
        <name>NavigatetoAccountCase</name>
        <label>NavigatetoAccountCase</label>
        <locationX>1293</locationX>
        <locationY>992</locationY>
        <defaultConnector>
            <targetReference>NavigateToCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>AddEditGuarantor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddEditGurantorDetails1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NavigateToAccount1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>parentSuccess</name>
        <label>parentSuccess</label>
        <locationX>1556</locationX>
        <locationY>834</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CaseParentCreateSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewAccountParentCase</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ParentCaseSuccess</targetReference>
            </connector>
            <label>CaseParentCreateSuccess</label>
        </rules>
        <rules>
            <name>CaseParentCreateFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewAccountParentCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseFailed</targetReference>
            </connector>
            <label>CaseParentCreateFailed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if there is a selected Contract</description>
        <name>selectedContractExists</name>
        <label>selectedContractExists</label>
        <locationX>613</locationX>
        <locationY>18</locationY>
        <defaultConnector>
            <targetReference>getSelectedContracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isExisting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>selectedContractCount</targetReference>
            </connector>
            <label>isExisting</label>
        </rules>
    </decisions>
    <decisions>
        <name>validateAssigneeAccount</name>
        <label>validateAssigneeAccount</label>
        <locationX>198</locationX>
        <locationY>928</locationY>
        <defaultConnector>
            <targetReference>gerAssignmentLeaseCaseRecId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Required Fields have values</defaultConnectorLabel>
        <rules>
            <name>requiredFieldsNull1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varBillingAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTradingName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLesseeName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assigneeErrMsgAssign</targetReference>
            </connector>
            <label>requiredFieldsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>validateAssigneeAccountM</name>
        <label>validateAssigneeAccount</label>
        <locationX>1342</locationX>
        <locationY>84</locationY>
        <defaultConnector>
            <targetReference>gerAssignmentLeaseCaseRecIdm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Required Fields have values</defaultConnectorLabel>
        <rules>
            <name>requiredFieldsNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varBillingAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTradingName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLesseeName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assigneeErrMsgAssign2</targetReference>
            </connector>
            <label>requiredFieldsNull</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CaseSubtypePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SubType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GuaranteesTypePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GuaranteeType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LATypePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LAType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LATypePLm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LAType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MakeGoodPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MakeGood__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonforTerminationPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReasonforTermination__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReleaseGuaranteePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReleaseOutgoingGuarantor__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SurrenderpayoutPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SurrenderPayout__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>calculateFitoutReimbursement</name>
        <dataType>Currency</dataType>
        <expression>(({!varLeaseEndDate} -  {!AssignmentDate})/({!varLeaseEndDate} - {!varLeaseStartDate}))  *{!varFitoutContributionAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calculateFitoutReimbursementChildCase</name>
        <dataType>Currency</dataType>
        <expression>(({!varLeaseEndDate} -  {!AssignmentDateM})/({!varLeaseEndDate} - {!varLeaseStartDate}))  *{!varFitoutContributionAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>columnNameForm</name>
        <dataType>String</dataType>
        <expression>&quot;Property,Property__r.Name,text;Space,Space__r.Name,text;Space Type,TechSpaceType__c,text;Account Name, Account__r.Name,text;JDE Lease Number,JDELeaseNumber__c,text;Id,Id,Id;&quot;</expression>
    </formulas>
    <formulas>
        <name>fieldDataForm</name>
        <dataType>String</dataType>
        <expression>{!contract.Property__r.Name}&amp;&quot;,&quot;&amp;{!contract.Space__r.Name}&amp;&quot;,&quot;&amp;{!contract.TechSpaceType__c}&amp;&quot;,&quot;&amp;{!contract.Account__r.Name}&amp;&quot;,&quot;&amp;{!contract.JDELeaseNumber__c}&amp;&quot;,&quot;&amp;{!contract.Id}</expression>
    </formulas>
    <formulas>
        <name>navigateToCaseURL</name>
        <dataType>String</dataType>
        <expression>{!$Label.LVIEnvURL}+{!varNewCaseId}</expression>
    </formulas>
    <formulas>
        <name>navigateToParentCaseId</name>
        <dataType>String</dataType>
        <expression>{!$Label.LVIEnvURL}+{!varNewAccountParentCase}+&apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>ACC_AssignmentOfALease {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACC_AssignmentOfALease</label>
    <loops>
        <name>BuildContractRecordDetails</name>
        <label>BuildContractRecordDetails</label>
        <locationX>180</locationX>
        <locationY>26</locationY>
        <assignNextValueToReference>contract</assignNextValueToReference>
        <collectionReference>contractsRelatedToProperty</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddValuesToArray</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ActiveContracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>getMultiSelectedContract</name>
        <label>getMultiSelectedContract</label>
        <locationX>1550</locationX>
        <locationY>539</locationY>
        <assignNextValueToReference>varContractIds</assignNextValueToReference>
        <collectionReference>arrayContractIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getSelectedContractDetailAssignLease</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createChildCases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>getSelectedContracts</name>
        <label>getSelectedContracts</label>
        <locationX>407</locationX>
        <locationY>139</locationY>
        <assignNextValueToReference>varSelectedContractId</assignNextValueToReference>
        <collectionReference>contractIdsArray</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>selectedContractExists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkSelectedContractCount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createAccountParentCase</name>
        <label>createAccountParentCase</label>
        <locationX>1198</locationX>
        <locationY>394</locationY>
        <assignRecordIdToReference>varNewAccountParentCase</assignRecordIdToReference>
        <connector>
            <targetReference>getNewParentCaseId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorCaseCreateMsg</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAssigneeAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>LV08 - Assignment of Lease - PARENT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>LV08 - Assignment of Lease</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>createCaseContractAL</name>
        <label>createCaseContractAL</label>
        <locationX>446</locationX>
        <locationY>963</locationY>
        <assignRecordIdToReference>varNewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>getNewCaseId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorCaseCreateMsg</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssigneeAccount__c</field>
            <value>
                <elementReference>varAssigneeAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssignmentDate__c</field>
            <value>
                <elementReference>AssignmentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>varSelectContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FitoutReimbursementAmount__c</field>
            <value>
                <elementReference>calculateFitoutReimbursement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReleaseOutgoingGuarantor__c</field>
            <value>
                <elementReference>ReleaseOutgoingGuarantor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RentinAdvance__c</field>
            <value>
                <elementReference>RentinAdvance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SecurityDeposit__c</field>
            <value>
                <elementReference>SecurityDeposit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SettlementDate__c</field>
            <value>
                <elementReference>SettlementDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Space__c</field>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>LV08 - Assignment of Lease</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>LV08 - Assignment of Lease</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>createChildCases</name>
        <label>createChildCases</label>
        <locationX>1553</locationX>
        <locationY>700</locationY>
        <connector>
            <targetReference>parentSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorCaseCreateMsg</targetReference>
        </faultConnector>
        <inputReference>childCaseList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>checkAssigneeAccountDetails</name>
        <label>checkAssigneeAccountDetails</label>
        <locationX>199</locationX>
        <locationY>838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validateAssigneeAccount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssigneeAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varBillingAddress</assignToReference>
            <field>BillingAddress</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLesseeName</assignToReference>
            <field>LesseeName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTradingName</assignToReference>
            <field>TradingName__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>checkAssigneeAccountDetails_0</name>
        <label>checkAssigneeAccountDetails</label>
        <locationX>1220</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validateAssigneeAccountM</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssigneeAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varBillingAddress</assignToReference>
            <field>BillingAddress</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLesseeName</assignToReference>
            <field>LesseeName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTradingName</assignToReference>
            <field>TradingName__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>gerAssignmentLeaseCaseRecId</name>
        <label>gerAssignmentLeaseCaseRecId</label>
        <locationX>446</locationX>
        <locationY>843</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createCaseContractAL</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignmentofLeaseRecType</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>gerAssignmentLeaseCaseRecIdm</name>
        <label>gerAssignmentLeaseCaseRecId</label>
        <locationX>1258</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createAccountParentCase</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignmentofLeaseRecType</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getNewCaseId</name>
        <label>getNewCaseId</label>
        <locationX>896</locationX>
        <locationY>732</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isSuccess</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varNewCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getNewParentCaseId</name>
        <label>getNewParentCaseId</label>
        <locationX>1544</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMultiSelectedContract</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewAccountParentCase</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varNewParentCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOpportunityDetails</name>
        <label>getOpportunityDetails</label>
        <locationX>461</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignmentofaLeaseScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varFitoutContributionAmount</assignToReference>
            <field>FitoutContribution__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOpportunityDetails_0</name>
        <label>getOpportunityDetails</label>
        <locationX>1838</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>childCaseSobjectAssignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityIdChildCase</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varFitoutContributionAmount</assignToReference>
            <field>FitoutContribution__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSelectedContractDetailAL</name>
        <label>getSelectedContractDetail</label>
        <locationX>89</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfOpportunityExists</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectContractId</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varLeaseEndDate</assignToReference>
            <field>LeaseEndDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLeaseStartDate</assignToReference>
            <field>LeaseStartDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpportunityId</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpaceId</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSelectedContractDetailAssignLease</name>
        <label>getSelectedContractDetailAssignLease</label>
        <locationX>1715</locationX>
        <locationY>414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfOpportunityExists_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractIds</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varPropertyLevelAccountId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLeaseEndDate</assignToReference>
            <field>LeaseEndDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLeaseStartDate</assignToReference>
            <field>LeaseStartDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpportunityIdChildCase</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpaceId</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>ActiveContracts</name>
        <label>Active Contracts</label>
        <locationX>264</locationX>
        <locationY>183</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getSelectedContracts</targetReference>
        </connector>
        <fields>
            <name>AssignmentLeaseScreen</name>
            <fieldText>Assignment of a Lease</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ActiveContractScreen</name>
            <extensionName>c:ContractListFlowDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnsStr</name>
                <value>
                    <elementReference>columnNameForm</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dataArr</name>
                <value>
                    <elementReference>DataArr</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contractIdsArray</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AssignmentofaLeaseScreen</name>
        <label>Assignment of a Lease</label>
        <locationX>137</locationX>
        <locationY>515</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>isAccountInvalid</targetReference>
        </connector>
        <fields>
            <name>AccountLookup</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varAssigneeAccountId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AssignmentDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>AssignmentDate</elementReference>
            </defaultValue>
            <fieldText>Assignment Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SettlementDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>SettlementDate</elementReference>
            </defaultValue>
            <fieldText>Settlement Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FinancialsLbl</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Financials&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SecurityDeposit</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>SecurityDeposit</elementReference>
            </defaultValue>
            <fieldText>Security Deposit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>RentinAdvance</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>RentinAdvance</elementReference>
            </defaultValue>
            <fieldText>Rent in Advance</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>ReleaseOutgoingGuarantor</name>
            <choiceReferences>ReleaseGuaranteePL</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Release Outgoing Guarantor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>assigneeErr</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!varAssigneeErrorMsg}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AssignmentofaLeaseScreenM</name>
        <label>Assignment of a Lease</label>
        <locationX>940</locationX>
        <locationY>356</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>isAccountValid</targetReference>
        </connector>
        <fields>
            <name>AssignedAccount</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varAssigneeAccountId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AssignmentDateM</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>AssignmentDateM</elementReference>
            </defaultValue>
            <fieldText>Assignment Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SettlementDateM</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>SettlementDateM</elementReference>
            </defaultValue>
            <fieldText>Settlement Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FinancialsLblm</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Financials&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SecurityDepositM</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>SecurityDepositM</elementReference>
            </defaultValue>
            <fieldText>Security Deposit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>RentinAdvanceM</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>RentinAdvanceM</elementReference>
            </defaultValue>
            <fieldText>Rent in Advance</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>ReleaseOutgoingGuarantorM</name>
            <choiceReferences>ReleaseGuaranteePL</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Release Outgoing Guarantor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>assigneeErrorMsgLbl</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!varAssigneeErrorMsg2}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CaseFailed</name>
        <label>CaseFailed</label>
        <locationX>1275</locationX>
        <locationY>833</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error</name>
            <fieldText>Error on Creating Case. Check with your System Administrator.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CaseSuccess</name>
        <label>CaseSuccess</label>
        <locationX>899</locationX>
        <locationY>987</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment1</targetReference>
        </connector>
        <fields>
            <name>GuarantorDisplayText</name>
            <fieldText>Check this box if you want to Add/Edit Guarantor details. This will navigate you to list for Assignee Account where Guarantor details can be modified.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddEditGuarantor</name>
            <dataType>Boolean</dataType>
            <fieldText>Add/Edit Guarantor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Account</name>
        <label>Error Account</label>
        <locationX>1006</locationX>
        <locationY>120</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrMessage</name>
            <fieldText>&lt;p&gt;Invalid &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Account&lt;/span&gt;. Account cannot be the Assignor or Assignor&apos;s Parent Account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorCaseCreateMsg</name>
        <label>errorCaseCreateMsg</label>
        <locationX>895</locationX>
        <locationY>588</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorCreateCaseMsg</name>
            <fieldText>Sorry, but you cant create a record at this time.

Error message: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorMessage</name>
        <label>ErrorMessage</label>
        <locationX>33</locationX>
        <locationY>751</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InvalidAccountErrMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Invalid Account. Account cannot be the Assignor or Assignor&apos;s Parent Account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoContractSelected</name>
        <label>No Contract Selected</label>
        <locationX>623</locationX>
        <locationY>207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoContractSelectedMsg</name>
            <fieldText>Please select at least 1 contract from the previous screen</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ParentCaseSuccess</name>
        <label>ParentCaseSuccess</label>
        <locationX>1557</locationX>
        <locationY>985</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment2</targetReference>
        </connector>
        <fields>
            <name>DisplayText1</name>
            <fieldText>Check this box if you want to Add/Edit Guarantor details. This will navigate you to list for Assignee Account where Guarantor details can be modified.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddEditGurantorDetails1</name>
            <dataType>Boolean</dataType>
            <fieldText>Add/Edit Gurantor Details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>BuildContractRecordDetails</startElementReference>
    <status>Active</status>
    <variables>
        <name>accountRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>arrayContractIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>childCaseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>contractIdsArray</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contractsRelatedToProperty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>DataArr</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newCaseFromContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varAccountParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAssigneeAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAssigneeErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAssigneeErrorMsg2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBillingAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContractCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varContractIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFitoutContributionAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varLeaseEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLeaseStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLesseeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNavigateCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewAccountParentCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewParentCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityIdChildCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPropertyLevelAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSelectContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSelectedContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSpaceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTradingName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
