flows/ACC_BulkLeaseVariation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>AssignmentofaLeaseChoice</name>
        <choiceText>LV08 - Assignment of Lease</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LV08 - Assignment of Lease</stringValue>
        </value>
    </choices>
    <choices>
        <name>BankGuarantee</name>
        <choiceText>LV04 - Bank Guarantee and Security Deposit Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LV04 - Bank Guarantee and Security Deposit Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>Miscellaneous</name>
        <choiceText>LV18 - Miscellaneous</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LV18 - Miscellaneous</stringValue>
        </value>
    </choices>
    <choices>
        <name>SurrenderaLeaseC</name>
        <choiceText>LV06 - Surrender</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LV06 - Surrender</stringValue>
        </value>
    </choices>
    <choices>
        <name>TerminateaLeaseChoice</name>
        <choiceText>LV05 - Termination</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LV05 - Termination</stringValue>
        </value>
    </choices>
    <constants>
        <name>ACCGroupLevel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ACCGroupLevel</stringValue>
        </value>
    </constants>
    <constants>
        <name>ACCPropertyBased</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ACCPropertyBased</stringValue>
        </value>
    </constants>
    <decisions>
        <name>accountRecordTypeDecision</name>
        <label>accountRecordTypeDecision</label>
        <locationX>599</locationX>
        <locationY>314</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>GroupLevel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ACCGroupLevel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getGroupLevelAccountContracts</targetReference>
            </connector>
            <label>Group Level</label>
        </rules>
        <rules>
            <name>PropertyLevel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ACCPropertyBased</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRelatedContracts</targetReference>
            </connector>
            <label>Property Level</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfContractsAvailable</name>
        <label>checkIfContractsAvailable</label>
        <locationX>593</locationX>
        <locationY>506</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Nocontracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contractsRelatedToProperty</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateLeaseVariation</targetReference>
            </connector>
            <label>No contracts</label>
        </rules>
        <rules>
            <name>SurrenderaLeaseOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contractsRelatedToProperty</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeaseVariationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LV06 - Surrender</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>surrenderOfLeaseSubflow</targetReference>
            </connector>
            <label>Surrender a Lease</label>
        </rules>
        <rules>
            <name>TerminateaLeaseOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contractsRelatedToProperty</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeaseVariationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LV05 - Termination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>terminateALeaseSubflow</targetReference>
            </connector>
            <label>Terminate a Lease</label>
        </rules>
        <rules>
            <name>AssignmentofaLeaseOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contractsRelatedToProperty</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeaseVariationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LV08 - Assignment of Lease</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignmentOfALeaseSubflow</targetReference>
            </connector>
            <label>Assignment of a Lease</label>
        </rules>
        <rules>
            <name>MiscellaneousChoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeaseVariationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LV18 - Miscellaneous</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MiscellaneousLease</targetReference>
            </connector>
            <label>Miscellaneous</label>
        </rules>
        <rules>
            <name>BankGuaranteeOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeaseVariationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BankGuarantee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BankGuaranteeBulkFlow</targetReference>
            </connector>
            <label>Bank Guarantee</label>
        </rules>
    </decisions>
    <interviewLabel>ACC_BulkLeaseVariation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACC_BulkLeaseVariation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>852</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountRecordTypeName</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varParentId</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>propertyId</assignToReference>
            <field>Property__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getAccountRecordTypeName</name>
        <label>getAccountRecordTypeName</label>
        <locationX>587</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>accountRecordTypeDecision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>accountRecTypeName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getGroupLevelAccountContracts</name>
        <label>getGroupLevelAccountContracts</label>
        <locationX>414</locationX>
        <locationY>404</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfContractsAvailable</targetReference>
        </connector>
        <filters>
            <field>LeaseStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentAccount__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputReference>contractsRelatedToProperty</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Property__c</queriedFields>
        <queriedFields>Space__c</queriedFields>
        <queriedFields>TechSpaceType__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>JDELeaseNumber__c</queriedFields>
        <sortField>Property__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getRelatedContracts</name>
        <label>getRelatedContracts</label>
        <locationX>785</locationX>
        <locationY>401</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfContractsAvailable</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeaseStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputReference>contractsRelatedToProperty</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Property__c</queriedFields>
        <queriedFields>Space__c</queriedFields>
        <queriedFields>TechSpaceType__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>JDELeaseNumber__c</queriedFields>
        <sortField>Property__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>CreateLeaseVariation</name>
        <label>Create Lease Variation</label>
        <locationX>875</locationX>
        <locationY>496</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>nocontractsScreen</name>
            <fieldText>There are no contracts available for variation.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CreateLeaseVariationS</name>
        <label>Create Lease Variation</label>
        <locationX>599</locationX>
        <locationY>41</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <fields>
            <name>LeaseVariationType</name>
            <choiceReferences>BankGuarantee</choiceReferences>
            <choiceReferences>TerminateaLeaseChoice</choiceReferences>
            <choiceReferences>SurrenderaLeaseC</choiceReferences>
            <choiceReferences>AssignmentofaLeaseChoice</choiceReferences>
            <choiceReferences>Miscellaneous</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lease Variation Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ErrorDisplay</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!errAssignment}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>CreateLeaseVariationS</startElementReference>
    <status>Active</status>
    <subflows>
        <name>assignmentOfALeaseSubflow</name>
        <label>assignmentOfALeaseSubflow</label>
        <locationX>751</locationX>
        <locationY>643</locationY>
        <flowName>ACC_AssignmentofaLease</flowName>
        <inputAssignments>
            <name>accountRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contractsRelatedToProperty</name>
            <value>
                <elementReference>contractsRelatedToProperty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccountParentId</name>
            <value>
                <elementReference>varParentId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>newAccountParentCase</assignToReference>
            <name>varNewAccountParentCase</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>BankGuaranteeBulkFlow</name>
        <label>Bank Guarantee Bulk Flow</label>
        <locationX>880</locationX>
        <locationY>587</locationY>
        <flowName>ACC_LV04BankGuarantee</flowName>
        <inputAssignments>
            <name>accountRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contractsRelatedToProperty</name>
            <value>
                <elementReference>contractsRelatedToProperty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccountRecordTypeDevName</name>
            <value>
                <elementReference>accountRecTypeName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>newAccountParentCase</assignToReference>
            <name>varNewCreatedCaseId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>MiscellaneousLease</name>
        <label>Miscellaneous Lease</label>
        <locationX>601</locationX>
        <locationY>694</locationY>
        <flowName>ACC_MiscellaneousLease</flowName>
        <inputAssignments>
            <name>accountRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contractsRelatedToProperty</name>
            <value>
                <elementReference>contractsRelatedToProperty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccountRecordTypeDevName</name>
            <value>
                <elementReference>accountRecTypeName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>newAccountParentCase</assignToReference>
            <name>varNewAccountParentCase</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>surrenderOfLeaseSubflow</name>
        <label>surrenderOfLeaseSubflow</label>
        <locationX>354</locationX>
        <locationY>582</locationY>
        <flowName>ACC_SurrenderALease</flowName>
        <inputAssignments>
            <name>accountRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contractsRelatedToProperty</name>
            <value>
                <elementReference>contractsRelatedToProperty</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>newAccountParentCase</assignToReference>
            <name>varNewAccountParentCase</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>terminateALeaseSubflow</name>
        <label>terminateALeaseSubflow</label>
        <locationX>467</locationX>
        <locationY>654</locationY>
        <flowName>ACC_TerminateALease</flowName>
        <inputAssignments>
            <name>accountRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contractsRelatedToProperty</name>
            <value>
                <elementReference>contractsRelatedToProperty</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>newAccountParentCase</assignToReference>
            <name>varNewAccountParentCase</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>accountRecTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>contractsRelatedToProperty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>errAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newAccountParentCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>propertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
