flows/ACC_LV04BankGuarantee.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NavigatetoCase</name>
        <label>Navigate to Case</label>
        <locationX>579</locationX>
        <locationY>972</locationY>
        <actionName>c:NavigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>varNewCreatedCaseId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varNewCreatedCaseId</assignToReference>
            <name>SObject</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>NavigateToParentCase</name>
        <label>NavigateToParentCase</label>
        <locationX>1247</locationX>
        <locationY>955</locationY>
        <actionName>c:NavigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>varNewBankGuaranteeParentCase</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varNewBankGuaranteeParentCase</assignToReference>
            <name>SObject</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>AddValuesToArray</name>
        <label>AddValuesToArray</label>
        <locationX>385</locationX>
        <locationY>20</locationY>
        <assignmentItems>
            <assignToReference>DataArr</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fieldDataForm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuildContractRecordDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment1</name>
        <label>Assignment</label>
        <locationX>415</locationX>
        <locationY>639</locationY>
        <assignmentItems>
            <assignToReference>varErrMsg1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outstanding Debtor Balance is only applicable for Claim and Claim-Administration</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ManageBankGuarantee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment1_1</name>
        <label>Assignment</label>
        <locationX>724</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>varErrMsg1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outstanding Debtor Balance is only applicable for Claim and Claim-Administration</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ManageBankGuaranteeMultipleContracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToTempProperty</name>
        <label>assignToTempProperty</label>
        <locationX>1292</locationX>
        <locationY>113</locationY>
        <assignmentItems>
            <assignToReference>varTempProperty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPropertyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPropertyCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getMultiSelectedContractPropertiesCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>childCaseAssignment</name>
        <label>childCaseAssignment</label>
        <locationX>1416</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>newCaseFromContract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varChildCaseAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContractIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewBankGuaranteeParentCase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Space__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varChildCaseSpaceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LV04 - Bank Guarantee or Security Deposit Management</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubTypeMultipleContracts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>childCasesListAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>childCasesListAssignment</name>
        <label>childCasesListAssignment</label>
        <locationX>1272</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>childCasesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newCaseFromContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getMultiSelectedContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DisplayErrorMsg1</name>
        <label>DisplayErrorMsg1</label>
        <locationX>186</locationX>
        <locationY>635</locationY>
        <assignmentItems>
            <assignToReference>varErrMsg1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outstanding Debtor Balance is Mandatory</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ManageBankGuarantee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DisplayErrorMsg1_1</name>
        <label>DisplayErrorMsg1</label>
        <locationX>751</locationX>
        <locationY>117</locationY>
        <assignmentItems>
            <assignToReference>varErrMsg1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outstanding Debtor Balance is Mandatory</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ManageBankGuaranteeMultipleContracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>selectedContractCount</name>
        <label>selectedContractCount</label>
        <locationX>634</locationX>
        <locationY>109</locationY>
        <assignmentItems>
            <assignToReference>varContractCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedIdContract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arrayContractId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSelectedIdContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getSelectedContracts</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Claim</name>
        <choiceText>Claim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claim</stringValue>
        </value>
    </choices>
    <choices>
        <name>Claim_Administration</name>
        <choiceText>Claim-Administration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claim-Administration</stringValue>
        </value>
    </choices>
    <choices>
        <name>Exchange</name>
        <choiceText>Exchange</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exchange</stringValue>
        </value>
    </choices>
    <choices>
        <name>Others_provide_details_in_the_Reason_for_Change_Details_field</name>
        <choiceText>Others (provide details in the Reason for Change Details field)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Return</name>
        <choiceText>Return</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Return</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transfer</name>
        <choiceText>Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_For_Required_Field</name>
        <label>Check For Required Field</label>
        <locationX>293</locationX>
        <locationY>762</locationY>
        <defaultConnector>
            <targetReference>getManageBankGuaranteeRecType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ODB_is_empty</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>OutstandingDebtorBalance</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubType1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Claim</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubType1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Claim_Administration</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayErrorMsg1</targetReference>
            </connector>
            <label>ODB is empty</label>
        </rules>
        <rules>
            <name>ODBnotapplicable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubType1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Claim</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubType1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Claim_Administration</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OutstandingDebtorBalance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment1</targetReference>
            </connector>
            <label>ODB not applicable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Required_Field_1</name>
        <label>Check For Required Field</label>
        <locationX>824</locationX>
        <locationY>226</locationY>
        <defaultConnector>
            <targetReference>getManageBankGuaranteeRecType_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ODB_is_empty_1</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>OutstandingDebtorBalance</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubType1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Claim</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubType1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Claim_Administration</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayErrorMsg1_1</targetReference>
            </connector>
            <label>ODB is empty</label>
        </rules>
        <rules>
            <name>ODBnotapplicable_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubType1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Claim</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubType1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Claim_Administration</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OutstandingDebtorBalance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment1_1</targetReference>
            </connector>
            <label>ODB not applicable</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkAccountRecordType</name>
        <label>checkAccountRecordType</label>
        <locationX>1095</locationX>
        <locationY>214</locationY>
        <defaultConnector>
            <targetReference>getPropertyRelatedToAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ACCPropertyBased</defaultConnectorLabel>
        <rules>
            <name>ACCGroupLevelSingleProperty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountRecordTypeDevName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACCGroupLevel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPropertyCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContractDetails_0</targetReference>
            </connector>
            <label>ACCGroupLevel Single Property</label>
        </rules>
        <rules>
            <name>ACCGroupLevelMultipleProperty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountRecordTypeDevName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACCGroupLevel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPropertyCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateBankGuaranteeParentCase</targetReference>
            </connector>
            <label>ACCGroupLevel Multiple Property</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfDistinctProperty</name>
        <label>checkIfDistinctProperty</label>
        <locationX>1289</locationX>
        <locationY>5</locationY>
        <defaultConnector>
            <targetReference>getMultiSelectedContractPropertiesCount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>DistinctProperty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPropertyId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varTempProperty</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignToTempProperty</targetReference>
            </connector>
            <label>DistinctProperty</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSelectedContractCount</name>
        <label>checkSelectedContractCount</label>
        <locationX>385</locationX>
        <locationY>243</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OneContractSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContractDetails</targetReference>
            </connector>
            <label>One Contract</label>
        </rules>
        <rules>
            <name>GreaterthanOneContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ManageBankGuaranteeMultipleContracts</targetReference>
            </connector>
            <label>Greater than One Contract</label>
        </rules>
        <rules>
            <name>NoSelectedContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoContractSelectedScreen</targetReference>
            </connector>
            <label>No Selected Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>isSuccess</name>
        <label>isSuccess</label>
        <locationX>761</locationX>
        <locationY>868</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SuccessfullyCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCreatedCaseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NavigatetoCase</targetReference>
            </connector>
            <label>SuccessfullyCreated</label>
        </rules>
        <rules>
            <name>CaseCreationFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCreatedCaseId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateFailed</targetReference>
            </connector>
            <label>CaseCreationFailed</label>
        </rules>
    </decisions>
    <decisions>
        <name>parentSuccess</name>
        <label>parentSuccess</label>
        <locationX>1242</locationX>
        <locationY>751</locationY>
        <defaultConnector>
            <targetReference>CreateFailed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CaseParentCreateSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewBankGuaranteeParentCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateParentCaseRecord</targetReference>
            </connector>
            <label>CaseParentCreateSuccess</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check selected Contract instance</description>
        <name>Selected_Contract_Check</name>
        <label>Selected Contract Check</label>
        <locationX>505</locationX>
        <locationY>42</locationY>
        <defaultConnector>
            <targetReference>getSelectedContracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Contract_Exists_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedIdContract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>selectedContractCount</targetReference>
            </connector>
            <label>Selected Contract Exists Check</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SecurityDepositType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SecurityDepositType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <expression>&apos;LV04 - Bank Guarantee or Security Deposit Management&apos;</expression>
    </formulas>
    <formulas>
        <name>columnNameForm</name>
        <dataType>String</dataType>
        <expression>&quot;Property,Property__r.Name,text;Space,Space__r.Name,text;Space Type,TechSpaceType__c,text;Account Name, Account__r.Name,text;JDE Lease Number,JDELeaseNumber__c,text;Id,Id,Id;&quot;</expression>
    </formulas>
    <formulas>
        <name>fieldDataForm</name>
        <dataType>String</dataType>
        <expression>{!contract.Property__r.Name}&amp;&quot;,&quot;&amp;{!contract.Space__r.Name}&amp;&quot;,&quot;&amp;{!contract.TechSpaceType__c}&amp;&quot;,&quot;&amp;{!contract.Account__r.Name}&amp;&quot;,&quot;&amp;{!contract.JDELeaseNumber__c}&amp;&quot;,&quot;&amp;{!contract.Id}</expression>
    </formulas>
    <interviewLabel>ACC_LV04BankGuarantee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACC_LV04BankGuarantee</label>
    <loops>
        <name>BuildContractRecordDetails</name>
        <label>BuildContractRecordDetails</label>
        <locationX>180</locationX>
        <locationY>19</locationY>
        <assignNextValueToReference>contract</assignNextValueToReference>
        <collectionReference>contractsRelatedToProperty</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddValuesToArray</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ActiveContracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>getMultiSelectedContract</name>
        <label>getMultiSelectedContract</label>
        <locationX>1103</locationX>
        <locationY>539</locationY>
        <assignNextValueToReference>varContractIds</assignNextValueToReference>
        <collectionReference>arrayContractId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getContractIdLookup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createChildCases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>getMultiSelectedContractPropertiesCount</name>
        <label>getMultiSelectedContractPropertiesCount</label>
        <locationX>1092</locationX>
        <locationY>109</locationY>
        <assignNextValueToReference>varContractIds</assignNextValueToReference>
        <collectionReference>arrayContractId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getContractIdLookup_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkAccountRecordType</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>getSelectedContracts</name>
        <label>getSelectedContracts</label>
        <locationX>380</locationX>
        <locationY>123</locationY>
        <assignNextValueToReference>varSelectedIdContract</assignNextValueToReference>
        <collectionReference>contractIdsArray</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Selected_Contract_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkSelectedContractCount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateBankGuaranteeParentCase</name>
        <label>CreateBankGuaranteeParentCase</label>
        <locationX>1099</locationX>
        <locationY>436</locationY>
        <assignRecordIdToReference>varNewBankGuaranteeParentCase</assignRecordIdToReference>
        <connector>
            <targetReference>getMultiSelectedContract</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMsgScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionMultipleContracts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OutstandingDebtorBalance__c</field>
            <value>
                <elementReference>OutstandingDebtorBalanceMultipleContracts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SecurityDepositAmount__c</field>
            <value>
                <elementReference>SecurityDepositAmountMultipleContracts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SecurityDepositType__c</field>
            <value>
                <elementReference>SecurityDepositTypeMultipleContracts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Space__c</field>
            <value>
                <elementReference>varSpaceid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubType__c</field>
            <value>
                <elementReference>SubTypeMultipleContracts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>LV04 - Bank Guarantee or Security Deposit Management - PARENT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TechNumberOfProperties__c</field>
            <value>
                <elementReference>varPropertyCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>LV04 - Bank Guarantee or Security Deposit Management</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>createChildCases</name>
        <label>createChildCases</label>
        <locationX>1078</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>parentSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMsgScreen</targetReference>
        </faultConnector>
        <inputReference>childCasesList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateManageBankGauranteeCase</name>
        <label>Create Manage Bank Gaurantee Case</label>
        <locationX>758</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>varNewCreatedCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>isSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMsgScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>varSelectContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OutstandingDebtorBalance__c</field>
            <value>
                <elementReference>OutstandingDebtorBalance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SecurityDepositAmount__c</field>
            <value>
                <elementReference>SecurityDepositAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SecurityDepositType__c</field>
            <value>
                <elementReference>SecurityDepositTypee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Space__c</field>
            <value>
                <elementReference>varSpaceIdFromContract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubType__c</field>
            <value>
                <elementReference>SubType1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>LV04 - Bank Guarantee or Security Deposit Management</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>getAccountDetails</name>
        <label>getAccountDetails</label>
        <locationX>185</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSpaceDetails</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>TradingName__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getContractDetails</name>
        <label>getContractDetails</label>
        <locationX>181</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountDetails</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectContractId</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContractNumber</assignToReference>
            <field>JDELeaseNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpaceid</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getContractDetails_0</name>
        <label>getContractDetails</label>
        <locationX>1311</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateBankGuaranteeParentCase</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectContractId</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContractNumber</assignToReference>
            <field>JDELeaseNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpaceid</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getContractIdLookup</name>
        <label>getContractIdLookup</label>
        <locationX>1274</locationX>
        <locationY>447</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>childCaseAssignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractIds</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varChildCaseAccountId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varChildCaseOppId</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varChildCaseSpaceId</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getContractIdLookup_0</name>
        <label>getContractIdLookup</label>
        <locationX>1088</locationX>
        <locationY>9</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfDistinctProperty</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractIds</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varPropertyId</assignToReference>
            <field>Property__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContractSpaceId</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getManageBankGuaranteeRecType</name>
        <label>getManageBankGuaranteeRecType</label>
        <locationX>518</locationX>
        <locationY>757</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateManageBankGauranteeCase</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCASLVIManageBankGuarantee</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getManageBankGuaranteeRecType_1</name>
        <label>getManageBankGuaranteeRecType</label>
        <locationX>933</locationX>
        <locationY>108</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMultiSelectedContractPropertiesCount</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCASLVIManageBankGuarantee</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getPropertyRelatedToAccount</name>
        <label>getPropertyRelatedToAccount</label>
        <locationX>918</locationX>
        <locationY>327</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSpaceRelatedToProperty</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varPropertyRelatedToAccount</assignToReference>
            <field>Property__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSpaceDetails</name>
        <label>getSpaceDetails</label>
        <locationX>187</locationX>
        <locationY>448</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ManageBankGuarantee</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSpaceid</elementReference>
            </value>
        </filters>
        <object>Space__c</object>
        <outputAssignments>
            <assignToReference>varSpaceIdFromContract</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varShopNum</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSpaceRelatedToProperty</name>
        <label>getSpaceRelatedToProperty</label>
        <locationX>920</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateBankGuaranteeParentCase</targetReference>
        </connector>
        <filters>
            <field>Property__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPropertyRelatedToAccount</elementReference>
            </value>
        </filters>
        <object>Space__c</object>
        <outputAssignments>
            <assignToReference>varSpaceid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateParentCaseRecord</name>
        <label>updateParentCaseRecord</label>
        <locationX>1246</locationX>
        <locationY>859</locationY>
        <connector>
            <targetReference>NavigateToParentCase</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewBankGuaranteeParentCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TechHasChildCase__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>ActiveContracts</name>
        <label>Active Contracts</label>
        <locationX>182</locationX>
        <locationY>123</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getSelectedContracts</targetReference>
        </connector>
        <fields>
            <name>bankGuaranteeDisplayText</name>
            <fieldText>Bank Guarantee or Security Deposit Management</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ActiveContractScreen</name>
            <extensionName>c:ContractListFlowDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnsStr</name>
                <value>
                    <elementReference>columnNameForm</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dataArr</name>
                <value>
                    <elementReference>DataArr</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contractIdsArray</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CreateFailed</name>
        <label>CreateFailed</label>
        <locationX>953</locationX>
        <locationY>745</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>Error on Creating Case. Check with your System Administrator.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorMsgScreen</name>
        <label>errorMsgScreen</label>
        <locationX>754</locationX>
        <locationY>613</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMsg</name>
            <fieldText>Sorry, but you can’t create a record at this time.

Error message: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ManageBankGuarantee</name>
        <label>LV04 - Bank Guarantee or Security Deposit Management</label>
        <locationX>290</locationX>
        <locationY>553</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_For_Required_Field</targetReference>
        </connector>
        <fields>
            <name>ContractNum</name>
            <fieldText>Contract Number: {!varContractNumber}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShopNum1</name>
            <fieldText>Shop Number: {!varShopNum}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TenantName</name>
            <fieldText>Tenant Name: {!varAccountName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SubType1</name>
            <choiceReferences>Claim</choiceReferences>
            <choiceReferences>Claim_Administration</choiceReferences>
            <choiceReferences>Transfer</choiceReferences>
            <choiceReferences>Exchange</choiceReferences>
            <choiceReferences>Return</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SubType</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SecurityDepositTypee</name>
            <choiceReferences>SecurityDepositType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Security Deposit Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SecurityDepositAmount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>SecurityDepositAmount</elementReference>
            </defaultValue>
            <fieldText>Security Deposit Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>Please verify the Security Deposit Amount. Allowed only upto 2 decimal places</errorMessage>
                <formulaExpression>REGEX(TEXT({!SecurityDepositAmount}),&quot;[0-9]*(.[0-9][0-9]?)?&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>OutstandingDebtorBalance</name>
            <dataType>Currency</dataType>
            <fieldText>Outstanding Debtor Balance (Only applicable for Claim and Claim-Administration)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>Please verify the Outstanding Debtor Balance. Allowed only upto 2 decimal places</errorMessage>
                <formulaExpression>REGEX(TEXT({!OutstandingDebtorBalance}),&quot;[0-9]*(.[0-9][0-9]?)?&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DisplayError</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!varErrMsg1}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ManageBankGuaranteeMultipleContracts</name>
        <label>LV04 - Bank Guarantee or Security Deposit Management</label>
        <locationX>654</locationX>
        <locationY>240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_For_Required_Field_1</targetReference>
        </connector>
        <fields>
            <name>SubTypeMultipleContracts</name>
            <choiceReferences>Claim</choiceReferences>
            <choiceReferences>Claim_Administration</choiceReferences>
            <choiceReferences>Transfer</choiceReferences>
            <choiceReferences>Exchange</choiceReferences>
            <choiceReferences>Return</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SubType</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SecurityDepositTypeMultipleContracts</name>
            <choiceReferences>SecurityDepositType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Security Deposit Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SecurityDepositAmountMultipleContracts</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>SecurityDepositAmount</elementReference>
            </defaultValue>
            <fieldText>Security Deposit Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>Please verify the Security Deposit Amount. Allowed only upto 2 decimal places</errorMessage>
                <formulaExpression>REGEX(TEXT({!SecurityDepositAmount}),&quot;[0-9]*(.[0-9][0-9]?)?&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>OutstandingDebtorBalanceMultipleContracts</name>
            <dataType>Currency</dataType>
            <fieldText>Outstanding Debtor Balance (Only applicable for Claim and Claim-Administration)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>Please verify the Outstanding Debtor Balance. Allowed only upto 2 decimal places</errorMessage>
                <formulaExpression>REGEX(TEXT({!OutstandingDebtorBalance}),&quot;[0-9]*(.[0-9][0-9]?)?&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>DescriptionMultipleContracts</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DisplayError_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!varErrMsg1}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoContractSelectedScreen</name>
        <label>NoContractSelectedScreen</label>
        <locationX>396</locationX>
        <locationY>384</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noContractErrorText</name>
            <fieldText>Please select at least 1 contract on the previous screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>BuildContractRecordDetails</startElementReference>
    <status>Active</status>
    <variables>
        <name>accountRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>arrayContractId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>childCasesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>contractIdsArray</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contractsRelatedToProperty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>DataArr</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newCaseFromContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountRecordTypeDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCASLVIManageBankGuarantee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>CAS_LVIManageBankGuarantee</stringValue>
        </value>
    </variables>
    <variables>
        <name>varChildCaseAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChildCaseOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChildCaseSpaceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContractCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varContractIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContractNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContractSpaceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varErrMsg1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewBankGuaranteeParentCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCreatedCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPropertyCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varPropertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPropertyRelatedToAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPropertyRelatedToAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSelectedIdContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varShopNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSpaceid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSpaceIdFromContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSpacePropRelatedToAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTempProperty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUpdatedSpaceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
