flows/ACC_Inheritaffiliationsfromparentaccount.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Addaffiliationrecordstocollectionvariable</name>
        <label>Add affiliation records to collection variable</label>
        <locationX>337</locationX>
        <locationY>42</locationY>
        <assignmentItems>
            <assignToReference>sCollAffiliationChild</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObjAffiliationChild</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Accesseachrecordofaffiliation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignparentsaffiliationtochild</name>
        <label>Assign parent&apos;s affiliation to child</label>
        <locationX>341</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>sObjAffiliationChild.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjAffiliationChild.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjAffiliation.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjAffiliationChild.PrimaryAffiliationAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjAffiliation.PrimaryAffiliationAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjAffiliationChild.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjAffiliation.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjAffiliationChild.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjAffiliation.Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Addaffiliationrecordstocollectionvariable</targetReference>
        </connector>
    </assignments>
    <interviewLabel>ACC_Inherit affiliations from parent account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACC_Inherit affiliations from parent account</label>
    <loops>
        <name>Accesseachrecordofaffiliation</name>
        <label>Access each record of affiliation</label>
        <locationX>109</locationX>
        <locationY>190</locationY>
        <assignNextValueToReference>sObjAffiliation</assignNextValueToReference>
        <collectionReference>sCollAffiliations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignparentsaffiliationtochild</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createaffiliationstochildobjects</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createaffiliationstochildobjects</name>
        <label>create affiliations to child objects</label>
        <locationX>107</locationX>
        <locationY>319</locationY>
        <inputReference>sCollAffiliationChild</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Extractallaffiliationsofparentaccount</name>
        <label>Extract all affiliations of parent account</label>
        <locationX>107</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Accesseachrecordofaffiliation</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentAccount</elementReference>
            </value>
        </filters>
        <object>Affiliation__c</object>
        <outputReference>sCollAffiliations</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>PrimaryAffiliationAccount__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <startElementReference>Extractallaffiliationsofparentaccount</startElementReference>
    <status>Active</status>
    <variables>
        <name>sCollAffiliationChild</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Affiliation__c</objectType>
    </variables>
    <variables>
        <name>sCollAffiliations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Affiliation__c</objectType>
    </variables>
    <variables>
        <name>sObjAffiliation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Affiliation__c</objectType>
    </variables>
    <variables>
        <name>sObjAffiliationChild</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Affiliation__c</objectType>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varParentAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
