flows/ACC_TerminateALease.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NavigateToParentCaseRecord</name>
        <label>NavigateToParentCaseRecord</label>
        <locationX>1389</locationX>
        <locationY>759</locationY>
        <actionName>c:NavigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>varNewAccountParentCase</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varNewAccountParentCase</assignToReference>
            <name>SObject</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>NavigateToSingleCase</name>
        <label>NavigateToSingleCase</label>
        <locationX>629</locationX>
        <locationY>748</locationY>
        <actionName>c:NavigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varNewCaseId</assignToReference>
            <name>SObject</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>AddValuesToArray</name>
        <label>AddValuesToArray</label>
        <locationX>284</locationX>
        <locationY>20</locationY>
        <assignmentItems>
            <assignToReference>DataArr</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fieldDataForm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuildContractRecordDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>childCaseAssignment</name>
        <label>childCaseAssignment</label>
        <locationX>1555</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>newCaseFromContract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPropertyLevelAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContractIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewAccountParentCase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.ReasonforTermination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReasonforTerminationM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.ReasonforTerminationDetails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReasonforTerminationDetailsM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Space__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseSubtypePLm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.TerminateLeaseDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TerminateLeaseDateM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LV05 - Termination</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.UnexpiredFitoutAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnexpiredFitAmountM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChildCaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunityChildCaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>childCasesListAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>childCasesListAssignment</name>
        <label>childCasesListAssignment</label>
        <locationX>1401</locationX>
        <locationY>461</locationY>
        <assignmentItems>
            <assignToReference>childCaseList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newCaseFromContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getMultiSelectedContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>countStoreroomContracts</name>
        <label>countStoreroomContracts</label>
        <locationX>522</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>varStoreroomCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>selectedContractCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>errorMsgClr</name>
        <label>errorMsgClr</label>
        <locationX>169</locationX>
        <locationY>574</locationY>
        <assignmentItems>
            <assignToReference>varUnexpiredErrMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReasonErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TerminateLeaseValidation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>errorMsgClr_0</name>
        <label>errorMsgClr</label>
        <locationX>895</locationX>
        <locationY>147</locationY>
        <assignmentItems>
            <assignToReference>varUnexpiredErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReasonErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TerminateLeaseValidationM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>reasonErrorMsgAssign</name>
        <label>reasonErrorMsgAssign</label>
        <locationX>165</locationX>
        <locationY>727</locationY>
        <assignmentItems>
            <assignToReference>varReasonErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReasonTerminationErrorText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TerminateaLease</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>reasonErrorMsgAssign_0</name>
        <label>reasonErrorMsgAssign</label>
        <locationX>868</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>varReasonErrorMsgM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReasonTerminationErrorText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TerminateaLeaseM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>selectedContractCount</name>
        <label>selectedContractCount</label>
        <locationX>337</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>varContractCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedIdContract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ArrayContractIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSelectedIdContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getSelectedContracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>unexpiredErrorMsgAssign_0</name>
        <label>unexpiredErrorMsgAssign</label>
        <locationX>853</locationX>
        <locationY>40</locationY>
        <assignmentItems>
            <assignToReference>varUnexpiredErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnexpiredErrorMsgText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TerminateaLeaseM</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DealNotProceeding</name>
        <choiceText>Deal Not Proceeding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deal Not Proceeding</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeaseExpired</name>
        <choiceText>Lease Expired</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lease Expired</stringValue>
        </value>
    </choices>
    <choices>
        <name>LegalLockout</name>
        <choiceText>Legal/Lockout</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal/Lockout</stringValue>
        </value>
    </choices>
    <choices>
        <name>PreexpiryofLease</name>
        <choiceText>Pre-expiry of Lease</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pre-expiry of Lease</stringValue>
        </value>
    </choices>
    <choices>
        <name>TerminateaLicenceAgreement</name>
        <choiceText>Terminate a Licence Agreement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Terminate a Licence Agreement</stringValue>
        </value>
    </choices>
    <constants>
        <name>CaseSubjectParent</name>
        <dataType>String</dataType>
        <value>
            <stringValue>LV05 - Termination - Parent Case</stringValue>
        </value>
    </constants>
    <constants>
        <name>OthersPleaseSpecify</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Other (Please Specify)</stringValue>
        </value>
    </constants>
    <constants>
        <name>ReasonTerminationErrorText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The &quot;Reason for Termination Details&quot; field must be populated if the &quot;Other (Please Specify)&quot; value is selected in the &quot;Reason for Termination&quot; field.</stringValue>
        </value>
    </constants>
    <constants>
        <name>TerminateaLeaseType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Terminate a Lease</stringValue>
        </value>
    </constants>
    <constants>
        <name>TerminateLeaseRecType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CAS_LVITerminateaLease</stringValue>
        </value>
    </constants>
    <constants>
        <name>UnexpiredErrorMsgText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The &quot;Unexpired Fitout Amount&quot; field is required when value is &quot;Lease Pre-Expiry&quot;.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>checkIfStoreroomContract</name>
        <label>checkIfStoreroomContract</label>
        <locationX>578</locationX>
        <locationY>111</locationY>
        <defaultConnector>
            <targetReference>selectedContractCount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isStoreroom</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedContractSpaceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Store Room</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSelectedContractSpaceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seating</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSelectedContractSpaceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Garage / Parking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSelectedContractSpaceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sundry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>countStoreroomContracts</targetReference>
            </connector>
            <label>isStoreroom</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSelectedContractCount</name>
        <label>checkSelectedContractCount</label>
        <locationX>197</locationX>
        <locationY>298</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OneContractSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseSubtype</targetReference>
            </connector>
            <label>One Contract</label>
        </rules>
        <rules>
            <name>GreaterThanOneContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseSubtypeM</targetReference>
            </connector>
            <label>GreaterThanOneContract</label>
        </rules>
        <rules>
            <name>NoContractsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ArrayContractIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoContractSelected</targetReference>
            </connector>
            <label>No Contracts Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>isSuccess</name>
        <label>isSuccess</label>
        <locationX>829</locationX>
        <locationY>662</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CaseCreateSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NavigateToSingleCase</targetReference>
            </connector>
            <label>CaseCreateSuccess</label>
        </rules>
        <rules>
            <name>CaseCreateFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseFailed</targetReference>
            </connector>
            <label>CaseCreateFailed</label>
        </rules>
    </decisions>
    <decisions>
        <name>parentSuccess</name>
        <label>parentSuccess</label>
        <locationX>1112</locationX>
        <locationY>656</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CaseParentCreateSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewAccountParentCase</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NavigateToParentCaseRecord</targetReference>
            </connector>
            <label>CaseParentCreateSuccess</label>
        </rules>
        <rules>
            <name>CaseParentCreateFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewAccountParentCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseFailed</targetReference>
            </connector>
            <label>CaseParentCreateFailed</label>
        </rules>
    </decisions>
    <decisions>
        <name>TerminateLeaseValidation</name>
        <label>TerminateLeaseValidation</label>
        <locationX>311</locationX>
        <locationY>615</locationY>
        <defaultConnector>
            <targetReference>getSelectedContractDetailTL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ValidateReasonTermination</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>ReasonforTermination</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OthersPleaseSpecify</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReasonforTerminationDetails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReasonforTerminationDetails</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>reasonErrorMsgAssign</targetReference>
            </connector>
            <label>ValidateReasonTermination</label>
        </rules>
    </decisions>
    <decisions>
        <name>TerminateLeaseValidationM</name>
        <label>TerminateLeaseValidation</label>
        <locationX>1089</locationX>
        <locationY>145</locationY>
        <defaultConnector>
            <targetReference>getTerminateCaseRecId_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ValidateUnexpiredAmountM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UnexpiredFitAmountM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseSubtypePLm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PreexpiryofLease</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>unexpiredErrorMsgAssign_0</targetReference>
            </connector>
            <label>ValidateUnexpiredAmount</label>
        </rules>
        <rules>
            <name>ValidateReasonTerminationM</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>ReasonforTerminationM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OthersPleaseSpecify</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReasonforTerminationDetailsM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReasonforTerminationDetailsM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>reasonErrorMsgAssign_0</targetReference>
            </connector>
            <label>ValidateReasonTermination</label>
        </rules>
    </decisions>
    <decisions>
        <name>terminateLicenseAgreementValidation</name>
        <label>terminateLicenseAgreementValidation</label>
        <locationX>690</locationX>
        <locationY>303</locationY>
        <defaultConnector>
            <targetReference>TerminateaLeaseM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>TerminateLicenseAgreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseSubtypePLm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TerminateaLicenceAgreement</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContractCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varStoreroomCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>terminateLicenseErrorScreen</targetReference>
            </connector>
            <label>TerminateLicenseAgreement</label>
        </rules>
    </decisions>
    <decisions>
        <name>terminateLicenseAgreementValidation_0</name>
        <label>terminateLicenseAgreementValidation</label>
        <locationX>194</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>TerminateaLease</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>TerminateLicenseAgreement_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseSubtypeP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TerminateaLicenceAgreement</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContractCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varStoreroomCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>terminateLicenseErrorScreen_0</targetReference>
            </connector>
            <label>TerminateLicenseAgreement</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CaseSubtypePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SubType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GuaranteesTypePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GuaranteeType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LATypePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LAType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LATypePLm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LAType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MakeGoodPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MakeGood__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonforTerminationPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReasonforTermination__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReleaseGuaranteePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReleaseOutgoingGuarantor__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SurrenderpayoutPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SurrenderPayout__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;LV05 - Termination - &quot; + {!CaseSubtypeP}</expression>
    </formulas>
    <formulas>
        <name>ChildCaseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;LV05 - Termination - &quot; + {!CaseSubtypePLm}</expression>
    </formulas>
    <formulas>
        <name>columnNameForm</name>
        <dataType>String</dataType>
        <expression>&quot;Property,Property__r.Name,text;Space,Space__r.Name,text;Space Type,TechSpaceType__c,text;Account Name, Account__r.Name,text;JDE Lease Number,JDELeaseNumber__c,text;Id,Id,Id;&quot;</expression>
    </formulas>
    <formulas>
        <name>dealNotProceedingFormulaMultiple</name>
        <dataType>String</dataType>
        <expression>CASE(
{!CaseSubtypePLm},
&quot;Deal Not Proceeding&quot;, &quot;Note: Enter the date to one day prior to the lease commencement date&quot;,
&quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>dealNotProceedingTextSingle</name>
        <dataType>String</dataType>
        <expression>CASE(
{!CaseSubtypeP},
&quot;Deal Not Proceeding&quot;, &quot;Note: Enter the date to one day prior to the lease commencement date&quot;,
&quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>fieldDataForm</name>
        <dataType>String</dataType>
        <expression>{!contract.Property__r.Name}&amp;&quot;,&quot;&amp;{!contract.Space__r.Name}&amp;&quot;,&quot;&amp;{!contract.TechSpaceType__c}&amp;&quot;,&quot;&amp;{!contract.Account__r.Name}&amp;&quot;,&quot;&amp;{!contract.JDELeaseNumber__c}&amp;&quot;,&quot;&amp;{!contract.Id}</expression>
    </formulas>
    <formulas>
        <name>ParentCaseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;LV05 - Termination - &quot; + {!CaseSubtypePLm} + &quot; - PARENT&quot;</expression>
    </formulas>
    <formulas>
        <name>terminateLicenseErrorMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.TerminateLicenseAgreementErrorMsg}</expression>
    </formulas>
    <interviewLabel>ACC_TerminateALease {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACC_TerminateALease</label>
    <loops>
        <name>BuildContractRecordDetails</name>
        <label>BuildContractRecordDetails</label>
        <locationX>27</locationX>
        <locationY>21</locationY>
        <assignNextValueToReference>contract</assignNextValueToReference>
        <collectionReference>contractsRelatedToProperty</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddValuesToArray</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getStoreroomContractRecord</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>getMultiSelectedContract</name>
        <label>getMultiSelectedContract</label>
        <locationX>1212</locationX>
        <locationY>399</locationY>
        <assignNextValueToReference>varContractIds</assignNextValueToReference>
        <collectionReference>ArrayContractIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getContractIdLookup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createChildCases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>getSelectedContracts</name>
        <label>getSelectedContracts</label>
        <locationX>276</locationX>
        <locationY>122</locationY>
        <assignNextValueToReference>varSelectedIdContract</assignNextValueToReference>
        <collectionReference>contractIdsArray</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getSelectedContractRecordType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkSelectedContractCount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>createAccountParentCase_0</name>
        <label>createAccountParentCase</label>
        <locationX>1025</locationX>
        <locationY>303</locationY>
        <assignRecordIdToReference>varNewAccountParentCase</assignRecordIdToReference>
        <connector>
            <targetReference>getNewParentCaseId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReasonforTerminationDetails__c</field>
            <value>
                <elementReference>ReasonforTerminationDetailsM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReasonforTermination__c</field>
            <value>
                <elementReference>ReasonforTerminationM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubType__c</field>
            <value>
                <elementReference>CaseSubtypePLm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ParentCaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TechHasChildCase__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TerminateLeaseDate__c</field>
            <value>
                <elementReference>TerminateLeaseDateM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>LV05 - Termination</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnexpiredFitoutAmount__c</field>
            <value>
                <elementReference>UnexpiredFitAmountM</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>createCaseContractTL</name>
        <label>createCaseContractTL</label>
        <locationX>484</locationX>
        <locationY>668</locationY>
        <assignRecordIdToReference>varNewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>getNewCaseId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>varSelectContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReasonforTerminationDetails__c</field>
            <value>
                <elementReference>ReasonforTerminationDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReasonforTermination__c</field>
            <value>
                <elementReference>ReasonforTermination</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Space__c</field>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubType__c</field>
            <value>
                <elementReference>CaseSubtypeP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TerminateLeaseDate__c</field>
            <value>
                <elementReference>TerminateLeaseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>LV05 - Termination</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnexpiredFitoutAmount__c</field>
            <value>
                <elementReference>UnexpiredFitAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>createChildCases</name>
        <label>createChildCases</label>
        <locationX>1217</locationX>
        <locationY>567</locationY>
        <connector>
            <targetReference>parentSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <inputReference>childCaseList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getContractIdLookup</name>
        <label>getContractIdLookup</label>
        <locationX>1395</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>childCaseAssignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractIds</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varPropertyLevelAccountId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpportunityChildCaseId</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpaceId</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getNewCaseId</name>
        <label>getNewCaseId</label>
        <locationX>631</locationX>
        <locationY>662</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isSuccess</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varNewCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getNewParentCaseId</name>
        <label>getNewParentCaseId</label>
        <locationX>1213</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMultiSelectedContract</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewAccountParentCase</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varNewParentCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSelectedContractDetailTL</name>
        <label>getSelectedContractDetail</label>
        <locationX>490</locationX>
        <locationY>464</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTerminateCaseRecId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectContractId</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varOpportunityId</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpaceId</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSelectedContractRecordType</name>
        <label>getSelectedContractRecordType</label>
        <locationX>431</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfStoreroomContract</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectedIdContract</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varSelectedContractRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSelectedContractSpaceType</assignToReference>
            <field>TechSpaceType__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getStoreroomContractRecord</name>
        <label>getStoreroomContractRecord</label>
        <locationX>28</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActiveContracts</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CON_StoreroomContract</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varStoreroomContractRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getTerminateCaseRecId</name>
        <label>getTerminateCaseRecId</label>
        <locationX>488</locationX>
        <locationY>569</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createCaseContractTL</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TerminateLeaseRecType</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getTerminateCaseRecId_0</name>
        <label>getTerminateCaseRecId</label>
        <locationX>1369</locationX>
        <locationY>153</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createAccountParentCase_0</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TerminateLeaseRecType</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>ActiveContracts</name>
        <label>Active Contracts</label>
        <locationX>118</locationX>
        <locationY>108</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getSelectedContracts</targetReference>
        </connector>
        <fields>
            <name>SurrenderLeaseScreen</name>
            <fieldText>Terminate a Lease</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ActiveContractScreen</name>
            <extensionName>c:ContractListFlowDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnsStr</name>
                <value>
                    <elementReference>columnNameForm</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dataArr</name>
                <value>
                    <elementReference>DataArr</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contractIdsArray</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CaseFailed</name>
        <label>CaseFailed</label>
        <locationX>1111</locationX>
        <locationY>757</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error</name>
            <fieldText>Error on Creating Case. Check with your System Administrator.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CaseSubtype</name>
        <label>Case Subtype</label>
        <locationX>20</locationX>
        <locationY>389</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>terminateLicenseAgreementValidation_0</targetReference>
        </connector>
        <fields>
            <name>CaseSubtypeP</name>
            <choiceReferences>PreexpiryofLease</choiceReferences>
            <choiceReferences>LegalLockout</choiceReferences>
            <choiceReferences>LeaseExpired</choiceReferences>
            <choiceReferences>TerminateaLicenceAgreement</choiceReferences>
            <choiceReferences>DealNotProceeding</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Subtype</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CaseSubtypeM</name>
        <label>Case Subtype</label>
        <locationX>525</locationX>
        <locationY>299</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>terminateLicenseAgreementValidation</targetReference>
        </connector>
        <fields>
            <name>CaseSubtypePLm</name>
            <choiceReferences>PreexpiryofLease</choiceReferences>
            <choiceReferences>LegalLockout</choiceReferences>
            <choiceReferences>LeaseExpired</choiceReferences>
            <choiceReferences>TerminateaLicenceAgreement</choiceReferences>
            <choiceReferences>DealNotProceeding</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Subtype</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorMessage</name>
        <label>errorMessage</label>
        <locationX>850</locationX>
        <locationY>485</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessageText</name>
            <fieldText>Sorry, but you cant create a record at this time.

Error message: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoContractSelected</name>
        <label>No Contract Selected</label>
        <locationX>399</locationX>
        <locationY>378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoContractSelectedMsg</name>
            <fieldText>Please select at least 1 contract on the previous screen</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TerminateaLease</name>
        <label>Terminate a Lease</label>
        <locationX>28</locationX>
        <locationY>513</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>errorMsgClr</targetReference>
        </connector>
        <fields>
            <name>TerminateLeaseDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>TerminateLeaseDate</elementReference>
            </defaultValue>
            <fieldText>Terminate Lease Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dealNotProcessingSText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;{!dealNotProceedingTextSingle}&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReasonforTermination</name>
            <choiceReferences>ReasonforTerminationPL</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Termination</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ReasonforTerminationDetails</name>
            <defaultValue>
                <elementReference>ReasonforTerminationDetails</elementReference>
            </defaultValue>
            <fieldText>Reason for Termination Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>reasonError</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!varReasonErrorMsg}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UnexpiredFitAmount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>UnexpiredFitAmount</elementReference>
            </defaultValue>
            <fieldText>Unexpired Fit Amount</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Only applicable for Pre-expriy of Lease</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>unexpiredError</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!varUnexpiredErrMsg}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TerminateaLeaseM</name>
        <label>Terminate a Lease</label>
        <locationX>734</locationX>
        <locationY>149</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>errorMsgClr_0</targetReference>
        </connector>
        <fields>
            <name>TerminateLeaseDateM</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>TerminateLeaseDateM</elementReference>
            </defaultValue>
            <fieldText>Terminate Lease Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dealNotProcessingText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;{!dealNotProceedingFormulaMultiple}&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReasonforTerminationM</name>
            <choiceReferences>ReasonforTerminationPL</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Termination</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ReasonforTerminationDetailsM</name>
            <defaultValue>
                <elementReference>ReasonforTerminationDetailsM</elementReference>
            </defaultValue>
            <fieldText>Reason for Termination Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>reasonErrM</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!varReasonErrorMsgM}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UnexpiredFitAmountM</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>UnexpiredFitAmountM</elementReference>
            </defaultValue>
            <fieldText>Unexpired Fit Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>unexpiredErrorM</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!varUnexpiredErrorMsg}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>terminateLicenseErrorScreen</name>
        <label>terminateLicenseErrorScreen</label>
        <locationX>688</locationX>
        <locationY>428</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>terminateLicenseErrorText</name>
            <fieldText>{!terminateLicenseErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>terminateLicenseErrorScreen_0</name>
        <label>terminateLicenseErrorScreen</label>
        <locationX>291</locationX>
        <locationY>509</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>terminateLicenseErrorText_0</name>
            <fieldText>Please select only Licence Agreements for Termination if subtype is choosen as &apos;Terminate a Licence Agreement&apos;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>BuildContractRecordDetails</startElementReference>
    <status>Active</status>
    <variables>
        <name>accountRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ArrayContractIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>childCaseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>contractIdsArray</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contractsRelatedToProperty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>DataArr</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newCaseFromContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCaseRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContractCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varContractIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewAccountParentCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewParentCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityChildCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPropertyLevelAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varReasonErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varReasonErrorMsgM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSelectContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSelectedContractRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedContractSpaceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedIdContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSpaceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStoreroomContractRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStoreroomCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varUnexpiredErrMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUnexpiredErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
