flows/ACC_SurrenderALease.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_to_Case</name>
        <label>Navigate to Case</label>
        <locationX>1389</locationX>
        <locationY>788</locationY>
        <actionName>c:NavigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>varNewAccountParentCase</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varNewAccountParentCase</assignToReference>
            <name>SObject</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>NavigatetoSingleCase</name>
        <label>Navigate to Single Case</label>
        <locationX>741</locationX>
        <locationY>794</locationY>
        <actionName>c:NavigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varNewCaseId</assignToReference>
            <name>SObject</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>AddValuesToArray</name>
        <label>AddValuesToArray</label>
        <locationX>222</locationX>
        <locationY>23</locationY>
        <assignmentItems>
            <assignToReference>DataArr</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fieldDataForm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuildContractRecordDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>bothErrorMsgAssignment</name>
        <label>bothErrorMsgAssignment</label>
        <locationX>291</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>varMakeGoodErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MakeGoodErrorText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurrenderPayoutErrorMsg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SurrenderaLease</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>bothErrorMsgAssignmentM</name>
        <label>bothErrorMsgAssignment</label>
        <locationX>657</locationX>
        <locationY>445</locationY>
        <assignmentItems>
            <assignToReference>varMakeGoodErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MakeGoodErrorText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurrenderPayoutErrorMsg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SurrenderaLeaseM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>childCaseAssignment</name>
        <label>childCaseAssignment</label>
        <locationX>1597</locationX>
        <locationY>415</locationY>
        <assignmentItems>
            <assignToReference>newCaseFromContract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPropertyLevelAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContractIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.LAType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LATypeM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.MakeGoodDetails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MakeGoodDetailsM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.MakeGood__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MakeGoodM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewAccountParentCase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Space__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LV06 - Surrender</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.SurrenderDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurrenderDateM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.SurrenderPayout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurrenderPayoutM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.SurrenderPayoutAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurrenderPayoutAmountM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.SurrenderPayoutAmountTBA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurrenderPayoutAmountTBAM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LV06 - Surrender</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.MakeGoodAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MakeGoodAmountM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.FitoutContributionAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FitoutContributionAmountM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunityIdChild</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>childCasesListAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>childCasesListAssignment</name>
        <label>childCasesListAssignment</label>
        <locationX>1389</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>childCasesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newCaseFromContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getMultiSelectedContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>clearErrorMsg</name>
        <label>clearErrorMsg</label>
        <locationX>13</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>varErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>clearMsgs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>clearErrorMsg_0</name>
        <label>clearErrorMsg</label>
        <locationX>665</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>varErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SurrenderLeaseValidationM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>clearMsgs</name>
        <label>clearMsgs</label>
        <locationX>15</locationX>
        <locationY>568</locationY>
        <assignmentItems>
            <assignToReference>varMakeGoodErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SurrenderLeaseValidation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>clearMsgs_0</name>
        <label>clearMsgs</label>
        <locationX>667</locationX>
        <locationY>192</locationY>
        <assignmentItems>
            <assignToReference>varMakeGoodErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>clearErrorMsg_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MakeGoodErrorMessageAssignment</name>
        <label>MakeGoodErrorMessageAssignment</label>
        <locationX>291</locationX>
        <locationY>505</locationY>
        <assignmentItems>
            <assignToReference>varMakeGoodErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MakeGoodErrorText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SurrenderaLease</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MakeGoodErrorMessageAssignmentM</name>
        <label>MakeGoodErrorMessageAssignment</label>
        <locationX>628</locationX>
        <locationY>79</locationY>
        <assignmentItems>
            <assignToReference>varMakeGoodErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MakeGoodErrorText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SurrenderaLeaseM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>selectedContractCount</name>
        <label>selectedContractCount</label>
        <locationX>428</locationX>
        <locationY>174</locationY>
        <assignmentItems>
            <assignToReference>varContractCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedIdContract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arrayContractId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSelectedIdContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getSelectedContracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SurrenderErrorMsg</name>
        <label>SurrenderErrorMsg</label>
        <locationX>287</locationX>
        <locationY>402</locationY>
        <assignmentItems>
            <assignToReference>varErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurrenderPayoutErrorMsg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SurrenderaLease</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SurrenderErrorMsgM</name>
        <label>SurrenderErrorMsg</label>
        <locationX>868</locationX>
        <locationY>414</locationY>
        <assignmentItems>
            <assignToReference>varErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurrenderPayoutErrorMsg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SurrenderaLeaseM</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>LeaseExpired</name>
        <choiceText>Lease Expired</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lease Expired</stringValue>
        </value>
    </choices>
    <choices>
        <name>LegalLockout</name>
        <choiceText>Legal/Lockout</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal/Lockout</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewLease</name>
        <choiceText>New Lease</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NewRetailer</name>
        <choiceText>New Retailer</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>PreexpiryofLease</name>
        <choiceText>Pre-expiry of Lease</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pre-expiry of Lease</stringValue>
        </value>
    </choices>
    <constants>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Surrender a Lease</stringValue>
        </value>
    </constants>
    <constants>
        <name>MakeGoodErrorText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>If  &quot;Other (Please Specify)&quot; value is selected in the &quot;Make Good&quot; field, please populate the &quot;Make Good Details&quot; field</stringValue>
        </value>
    </constants>
    <constants>
        <name>SurrenderaLeaseRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CAS_LVISurrenderaLease</stringValue>
        </value>
    </constants>
    <constants>
        <name>SurrenderPayoutErrorMsg</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please put an amount greater than 0 or check the Surrender Payout Amount TBA?</stringValue>
        </value>
    </constants>
    <decisions>
        <name>checkSelectedContractCount</name>
        <label>checkSelectedContractCount</label>
        <locationX>216</locationX>
        <locationY>293</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OneContractSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContractDetails</targetReference>
            </connector>
            <label>One Contract</label>
        </rules>
        <rules>
            <name>GreaterThanOneContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SurrenderaLeaseM</targetReference>
            </connector>
            <label>GreaterThanOneContract</label>
        </rules>
        <rules>
            <name>NoSelectedContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contractIdsArray</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoContractSelected</targetReference>
            </connector>
            <label>No Selected Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>isSuccess</name>
        <label>isSuccess</label>
        <locationX>858</locationX>
        <locationY>679</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CaseCreateSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NavigatetoSingleCase</targetReference>
            </connector>
            <label>CaseCreateSuccess</label>
        </rules>
        <rules>
            <name>CaseCreateFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseFailed</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>parentSuccess</name>
        <label>parentSuccess</label>
        <locationX>1123</locationX>
        <locationY>668</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CaseParentCreateSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewAccountParentCase</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_to_Case</targetReference>
            </connector>
            <label>CaseParentCreateSuccess</label>
        </rules>
        <rules>
            <name>CaseParentCreateFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewAccountParentCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseFailed</targetReference>
            </connector>
            <label>CaseParentCreateFailed</label>
        </rules>
    </decisions>
    <decisions>
        <name>SurrenderLeaseValidation</name>
        <label>SurrenderLeaseValidation</label>
        <locationX>15</locationX>
        <locationY>667</locationY>
        <defaultConnector>
            <targetReference>getSelectedContractDetail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ValidateBoth</name>
            <conditionLogic>(1 AND (2 OR 7)) AND (((3 OR 4) AND 5) AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>MakeGoodDetails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MakeGood</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other (Please Specify)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SurrenderPayoutAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SurrenderPayoutAmount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SurrenderPayout</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SurrenderPayoutAmountTBA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MakeGoodDetails</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>bothErrorMsgAssignment</targetReference>
            </connector>
            <label>ValidateBoth</label>
        </rules>
        <rules>
            <name>ValidateMakeGood</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>MakeGood</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other (Please Specify)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MakeGoodDetails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MakeGoodDetails</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MakeGoodErrorMessageAssignment</targetReference>
            </connector>
            <label>ValidateMakeGood</label>
        </rules>
        <rules>
            <name>ValidateSurrenderPayout</name>
            <conditionLogic>(1 AND(2 OR 3)) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>SurrenderPayout</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SurrenderPayoutAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SurrenderPayoutAmount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SurrenderPayoutAmountTBA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SurrenderErrorMsg</targetReference>
            </connector>
            <label>ValidateSurrenderPayout</label>
        </rules>
    </decisions>
    <decisions>
        <name>SurrenderLeaseValidationM</name>
        <label>SurrenderLeaseValidation</label>
        <locationX>867</locationX>
        <locationY>222</locationY>
        <defaultConnector>
            <targetReference>getSurrenderCaseRecId2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ValidateBothM</name>
            <conditionLogic>(1 AND (2 OR 7)) AND (((3 OR 4) AND 5) AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>MakeGoodM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other (Please Specify)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MakeGoodDetailsM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SurrenderPayoutAmountM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SurrenderPayoutAmountM</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SurrenderPayoutM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SurrenderPayoutAmountTBAM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MakeGoodDetailsM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>bothErrorMsgAssignmentM</targetReference>
            </connector>
            <label>ValidateBoth</label>
        </rules>
        <rules>
            <name>ValidateMakeGoodM</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>MakeGoodM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other (Please Specify)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MakeGoodDetailsM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MakeGoodDetailsM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MakeGoodErrorMessageAssignmentM</targetReference>
            </connector>
            <label>ValidateMakeGood</label>
        </rules>
        <rules>
            <name>ValidateSurrenderPayoutM</name>
            <conditionLogic>(1 AND(2 OR 3)) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>SurrenderPayoutM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SurrenderPayoutAmountM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SurrenderPayoutAmountM</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SurrenderPayoutAmountTBAM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SurrenderErrorMsgM</targetReference>
            </connector>
            <label>ValidateSurrenderPayout</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CaseSubtypePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SubType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GuaranteesTypePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GuaranteeType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LATypePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LAType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LATypePLm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LAType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MakeGoodPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MakeGood__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonforTerminationPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReasonforTermination__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReleaseGuaranteePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReleaseOutgoingGuarantor__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SurrenderpayoutPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SurrenderPayout__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>columnNameForm</name>
        <dataType>String</dataType>
        <expression>&quot;Property,Property__r.Name,text;Space,Space__r.Name,text;Space Type,TechSpaceType__c,text;Account Name, Account__r.Name,text;JDE Lease Number,JDELeaseNumber__c,text;Id,Id,Id;&quot;</expression>
    </formulas>
    <formulas>
        <name>fieldDataForm</name>
        <dataType>String</dataType>
        <expression>{!contract.Property__r.Name}&amp;&quot;,&quot;&amp;{!contract.Space__r.Name}&amp;&quot;,&quot;&amp;{!contract.TechSpaceType__c}&amp;&quot;,&quot;&amp;{!contract.Account__r.Name}&amp;&quot;,&quot;&amp;{!contract.JDELeaseNumber__c}&amp;&quot;,&quot;&amp;{!contract.Id}</expression>
    </formulas>
    <interviewLabel>ACC_SurrenderALease {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACC_SurrenderALease</label>
    <loops>
        <name>BuildContractRecordDetails</name>
        <label>BuildContractRecordDetails</label>
        <locationX>9</locationX>
        <locationY>24</locationY>
        <assignNextValueToReference>contract</assignNextValueToReference>
        <collectionReference>contractsRelatedToProperty</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddValuesToArray</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ActiveContracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>getMultiSelectedContract</name>
        <label>getMultiSelectedContract</label>
        <locationX>1120</locationX>
        <locationY>420</locationY>
        <assignNextValueToReference>varContractIds</assignNextValueToReference>
        <collectionReference>arrayContractId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getContractIdLookup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createChildCases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>getSelectedContracts</name>
        <label>getSelectedContracts</label>
        <locationX>217</locationX>
        <locationY>177</locationY>
        <assignNextValueToReference>varSelectedIdContract</assignNextValueToReference>
        <collectionReference>contractIdsArray</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>selectedContractCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkSelectedContractCount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>createAccountParentCase</name>
        <label>createAccountParentCase</label>
        <locationX>1293</locationX>
        <locationY>246</locationY>
        <assignRecordIdToReference>varNewAccountParentCase</assignRecordIdToReference>
        <connector>
            <targetReference>getNewParentCaseId</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>LV06 - Surrender - PARENT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>LV06 - Surrender</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>createCaseContractSL</name>
        <label>createCaseContractSL</label>
        <locationX>407</locationX>
        <locationY>720</locationY>
        <assignRecordIdToReference>varNewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>getNewCaseId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>varSelectContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FitoutContributionAmount__c</field>
            <value>
                <elementReference>FitoutContributionAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAType__c</field>
            <value>
                <elementReference>LAType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MakeGoodAmount__c</field>
            <value>
                <elementReference>MakeGoodAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MakeGoodDetails__c</field>
            <value>
                <elementReference>MakeGoodDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MakeGood__c</field>
            <value>
                <elementReference>MakeGood</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Space__c</field>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>LV06 - Surrender</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurrenderDate__c</field>
            <value>
                <elementReference>SurrenderDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurrenderPayoutAmountTBA__c</field>
            <value>
                <elementReference>SurrenderPayoutAmountTBA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurrenderPayoutAmount__c</field>
            <value>
                <elementReference>SurrenderPayoutAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurrenderPayout__c</field>
            <value>
                <elementReference>SurrenderPayout</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>LV06 - Surrender</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>createChildCases</name>
        <label>createChildCases</label>
        <locationX>1123</locationX>
        <locationY>574</locationY>
        <connector>
            <targetReference>parentSuccess</targetReference>
        </connector>
        <inputReference>childCasesList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getContractDetails</name>
        <label>getContractDetails</label>
        <locationX>11</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SurrenderaLease</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectContractId</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varEndDate</assignToReference>
            <field>LeaseEndDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStartDate</assignToReference>
            <field>LeaseStartDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpportunityId</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getContractIdLookup</name>
        <label>getContractIdLookup</label>
        <locationX>1381</locationX>
        <locationY>351</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>childCaseAssignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractIds</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varPropertyLevelAccountId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpportunityIdChild</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpaceId</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getNewCaseId</name>
        <label>getNewCaseId</label>
        <locationX>561</locationX>
        <locationY>722</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isSuccess</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varNewCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getNewParentCaseId</name>
        <label>getNewParentCaseId</label>
        <locationX>1118</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMultiSelectedContract</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewAccountParentCase</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varNewParentCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSelectedContractDetail</name>
        <label>getSelectedContractDetail</label>
        <locationX>249</locationX>
        <locationY>819</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSurrenderCaseRecId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectContractId</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varSpaceId</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSurrenderCaseRecId</name>
        <label>getSurrenderCaseRecId</label>
        <locationX>248</locationX>
        <locationY>720</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createCaseContractSL</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurrenderaLeaseRecordType</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSurrenderCaseRecId2</name>
        <label>getSurrenderCaseRecId</label>
        <locationX>1124</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createAccountParentCase</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurrenderaLeaseRecordType</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>ActiveContracts</name>
        <label>Active Contracts</label>
        <locationX>12</locationX>
        <locationY>177</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getSelectedContracts</targetReference>
        </connector>
        <fields>
            <name>SurrenderLeaseScreen</name>
            <fieldText>Surrender a Lease</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ActiveContractScreen</name>
            <extensionName>c:ContractListFlowDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnsStr</name>
                <value>
                    <elementReference>columnNameForm</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dataArr</name>
                <value>
                    <elementReference>DataArr</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contractIdsArray</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CaseFailed</name>
        <label>CaseFailed</label>
        <locationX>989</locationX>
        <locationY>814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error</name>
            <fieldText>Error on Creating Case. Check with your System Administrator.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorMessage</name>
        <label>errorMessage</label>
        <locationX>411</locationX>
        <locationY>826</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessageText</name>
            <fieldText>Sorry, but you cant create a record at this time.

Error message: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoContractSelected</name>
        <label>No Contract Selected</label>
        <locationX>444</locationX>
        <locationY>402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoContractSelectedScreen</name>
            <fieldText>Please select at least 1 contract on the previous screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SurrenderaLease</name>
        <label>Surrender a Lease</label>
        <locationX>12</locationX>
        <locationY>394</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>clearErrorMsg</targetReference>
        </connector>
        <fields>
            <name>LAType</name>
            <choiceReferences>LATypePL</choiceReferences>
            <dataType>String</dataType>
            <fieldText>LA Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SurrenderDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>SurrenderDate</elementReference>
            </defaultValue>
            <fieldText>Surrender Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SurrenderPayout</name>
            <choiceReferences>SurrenderpayoutPL</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Surrender Payout</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SurrenderPayoutAmountTBA</name>
            <dataType>Boolean</dataType>
            <fieldText>Surrender Payout Amount TBA?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SurrenderPayoutAmount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>SurrenderPayoutAmount</elementReference>
            </defaultValue>
            <fieldText>Surrender Payout Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>Please verify the Surrender Payout Amount. Allowed only upto 2 decimal places</errorMessage>
                <formulaExpression>NOT(ISNULL({!varErrorMsg})) &amp;&amp; REGEX(TEXT({!SurrenderPayoutAmount}),&quot;[0-9]*(.[0-9][0-9]?)?&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>DisplayText1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Note: Please include Surrender Payout Amount Excluding GST&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SurrenderError</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!varErrorMsg}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MakeGood</name>
            <choiceReferences>MakeGoodPL</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Make Good</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MakeGoodAmount</name>
            <dataType>Currency</dataType>
            <fieldText>Make Good Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>Please verify the Make Good Amount. Allowed only upto 2 decimal places</errorMessage>
                <formulaExpression>REGEX(TEXT({!MakeGoodAmount}),&quot;[0-9]*(.[0-9][0-9]?)?&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>MakeGoodDetails</name>
            <defaultValue>
                <elementReference>MakeGoodDetails</elementReference>
            </defaultValue>
            <fieldText>Make Good Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MakeGoodError</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!varMakeGoodErrorMsg}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FitoutContributionAmount</name>
            <dataType>Currency</dataType>
            <fieldText>Fitout Contribution Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SurrenderaLeaseM</name>
        <label>Surrender a Lease</label>
        <locationX>490</locationX>
        <locationY>289</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>clearMsgs_0</targetReference>
        </connector>
        <fields>
            <name>LATypeM</name>
            <choiceReferences>LATypePLm</choiceReferences>
            <dataType>String</dataType>
            <fieldText>LA Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SurrenderDateM</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>SurrenderDateM</elementReference>
            </defaultValue>
            <fieldText>Surrender Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SurrenderPayoutM</name>
            <choiceReferences>SurrenderpayoutPL</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Surrender Payout</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SurrenderPayoutAmountTBAM</name>
            <dataType>Boolean</dataType>
            <fieldText>Surrender Payout Amount TBA?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SurrenderPayoutAmountM</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>SurrenderPayoutAmountM</elementReference>
            </defaultValue>
            <fieldText>Surrender Payout Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>Please verify the Surrender Payout Amount. Allowed only upto 2 decimal places</errorMessage>
                <formulaExpression>REGEX(TEXT({!SurrenderPayoutAmount}),&quot;[0-9]*(.[0-9][0-9]?)?&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>DisplayText2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Note: If raising Payout against mutiple leases, please update the Payout Amount against each case and click the checkbox for Surrender Payout Amount TBA &lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMsgM</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!varErrorMsg}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MakeGoodM</name>
            <choiceReferences>MakeGoodPL</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Make Good</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MakeGoodAmountM</name>
            <dataType>Currency</dataType>
            <fieldText>Make Good Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>Please verify the Make Good Amount. Allowed only upto 2 decimal places</errorMessage>
                <formulaExpression>REGEX(TEXT({!MakeGoodAmountM}),&quot;[0-9]*(.[0-9][0-9]?)?&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>MakeGoodDetailsM</name>
            <defaultValue>
                <elementReference>MakeGoodDetailsM</elementReference>
            </defaultValue>
            <fieldText>Make Good Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MakeGoodErrorMsgM</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!varMakeGoodErrorMsg}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FitoutContributionAmountM</name>
            <dataType>Currency</dataType>
            <fieldText>Fitout Contribution Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>BuildContractRecordDetails</startElementReference>
    <status>Active</status>
    <variables>
        <name>accountRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>arrayContractId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>childCasesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>contractIdsArray</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contractsRelatedToProperty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>DataArr</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newCaseFromContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCaseRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContractCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varContractIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMakeGoodErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewAccountParentCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewParentCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityIdChild</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPropertyLevelAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSelectContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSelectedIdContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSpaceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
