flows/CAS_UpdateParentCaseStatus.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>childCaseCount</name>
        <label>childCaseCount</label>
        <locationX>352</locationX>
        <locationY>220</locationY>
        <assignmentItems>
            <assignToReference>childCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isCaseApproved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getApprovedChildCaseCount</name>
        <label>getApprovedChildCaseCount</label>
        <locationX>389</locationX>
        <locationY>513</locationY>
        <assignmentItems>
            <assignToReference>approvedChildCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughChildCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getCompletedCaseCount</name>
        <label>getCompletedCaseCount</label>
        <locationX>187</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>completedChildCaseCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughChildCases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkApprovedChildCountEqualToChildCount</name>
        <label>checkApprovedChildCountEqualToChildCount</label>
        <locationX>591</locationX>
        <locationY>493</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ApprovedChildCaseChildCount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>approvedChildCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>childCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateParentCaseStatus</targetReference>
            </connector>
            <label>Approved Child Case = Child Count</label>
        </rules>
        <rules>
            <name>CompletedChildCaseChildCount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>completedChildCaseCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>childCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateParentCaseStatusCompleted</targetReference>
            </connector>
            <label>Completed Child Case = Child Count</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfParentIdNotNull</name>
        <label>checkIfParentIdNotNull</label>
        <locationX>586</locationX>
        <locationY>45</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HasParentId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentCaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>parentCaseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAllChildCasesOfParentCase</targetReference>
            </connector>
            <label>Has Parent Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>isCaseApproved</name>
        <label>isCaseApproved</label>
        <locationX>270</locationX>
        <locationY>338</locationY>
        <defaultConnector>
            <targetReference>loopThroughChildCases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CaseApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>childCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getApprovedChildCaseCount</targetReference>
            </connector>
            <label>Case Approved</label>
        </rules>
        <rules>
            <name>CaseCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>childCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCompletedCaseCount</targetReference>
            </connector>
            <label>Case Completed</label>
        </rules>
    </decisions>
    <formulas>
        <name>counter</name>
        <dataType>Number</dataType>
        <expression>1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CAS_UpdateParentCaseStatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAS_UpdateParentCaseStatus</label>
    <loops>
        <name>loopThroughChildCases</name>
        <label>loopThroughChildCases</label>
        <locationX>590</locationX>
        <locationY>341</locationY>
        <assignNextValueToReference>childCase</assignNextValueToReference>
        <collectionReference>childCaseList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>childCaseCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkApprovedChildCountEqualToChildCount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAllChildCasesOfParentCase</name>
        <label>getAllChildCasesOfParentCase</label>
        <locationX>586</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopThroughChildCases</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>childCaseList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateParentCaseStatus</name>
        <label>updateParentCaseStatus</label>
        <locationX>593</locationX>
        <locationY>640</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateParentCaseStatusCompleted</name>
        <label>updateParentCaseStatusCompleted</label>
        <locationX>937</locationX>
        <locationY>495</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>checkIfParentIdNotNull</startElementReference>
    <status>Active</status>
    <variables>
        <name>approvedChildCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>childCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>childCaseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>childCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>completedChildCaseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>parentCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
