flows/CAS_CreateCaseFromFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>LV01ChangeRentCommencementDate</name>
        <choiceText>LV01 - Change Rent Commencement Date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LV01 - Change Rent Commencement Date</stringValue>
        </value>
    </choices>
    <choices>
        <name>LV02VariationofSpecialtyLease</name>
        <choiceText>LV02 - Variation of Specialty Lease</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LV02 - Variation of Specialty Lease</stringValue>
        </value>
    </choices>
    <choices>
        <name>LV03MerchantorPromotionalAllowance</name>
        <choiceText>LV03 - Merchant or Promotional Allowance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LV03 - Merchant or Promotional Allowance</stringValue>
        </value>
    </choices>
    <choices>
        <name>LV04BankGuaranteeorSecurityDepositManagement</name>
        <choiceText>LV04 - Bank Guarantee or Security Deposit Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LV04 - Bank Guarantee or Security Deposit Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>LV07LeaseAreaVariation</name>
        <choiceText>LV07 - Lease Area Variation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LV07 - Lease Area Variation</stringValue>
        </value>
    </choices>
    <choices>
        <name>LV09TradingNameChange</name>
        <choiceText>LV09 - Trading Name Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LV09 - Trading Name Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>LV10CentreRASTeamLeaseVariations</name>
        <choiceText>LV10 - Centre / RAS Team Lease Variations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LV10 - Centre / RAS Team Lease Variations</stringValue>
        </value>
    </choices>
    <choices>
        <name>LV11LeasingFinanceLeaseVariations</name>
        <choiceText>LV11 - Leasing Finance Lease Variations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LV11 - Leasing Finance Lease Variations</stringValue>
        </value>
    </choices>
    <choices>
        <name>LV12RequestforRefundDC</name>
        <choiceText>LV12 - Request for Refund - D&amp;C</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LV12 - Request for Refund - D&amp;C</stringValue>
        </value>
    </choices>
    <choices>
        <name>LV13RetailAdminLeaseVariations</name>
        <choiceText>LV13 - Retail Admin Lease Variations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LV13 - Retail Admin Lease Variations</stringValue>
        </value>
    </choices>
    <choices>
        <name>LV14CreditNoteRequest</name>
        <choiceText>LV14 - Credit Note Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LV14 - Credit Note Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>LV15MarketRentReview</name>
        <choiceText>LV15 - Market Rent Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LV15 - Market Rent Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>LV16VoluntaryWorks</name>
        <choiceText>LV16 - Voluntary Works</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LV16 - Voluntary Works</stringValue>
        </value>
    </choices>
    <constants>
        <name>constant1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Request Rent Commencement Date</stringValue>
        </value>
    </constants>
    <constants>
        <name>constant2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Request for Refund</stringValue>
        </value>
    </constants>
    <constants>
        <name>Id</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a0K5D000000XmmiUAC</stringValue>
        </value>
    </constants>
    <decisions>
        <name>caseTypeDecision</name>
        <label>caseTypeDecision</label>
        <locationX>211</locationX>
        <locationY>465</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsLV12RequestforRefundDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LV12RequestforRefundDC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateRequestForRefund</targetReference>
            </connector>
            <label>Is LV12 - Request for Refund - D&amp;C</label>
        </rules>
        <rules>
            <name>IsLV01ChangeRentCommencementDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LV01ChangeRentCommencementDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RentCommencementDateSubflow</targetReference>
            </connector>
            <label>Is LV01 - Change Rent Commencement Date</label>
        </rules>
        <rules>
            <name>IsLV13RetailAdminLeaseVariations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LV13RetailAdminLeaseVariations</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RetailAdminLeaseVariationSubflow</targetReference>
            </connector>
            <label>Is LV13 - Retail Admin Lease Variations</label>
        </rules>
        <rules>
            <name>IsLV03MerchantorPromotionalAllowance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LV03MerchantorPromotionalAllowance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MerchantOrPromotionalAllowanceSubflow</targetReference>
            </connector>
            <label>Is LV03 - Merchant or Promotional Allowance</label>
        </rules>
        <rules>
            <name>IsLV15MarketRentReview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LV15MarketRentReview</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConductMarketReviewSubflow</targetReference>
            </connector>
            <label>Is LV15 - Market Rent Review</label>
        </rules>
        <rules>
            <name>IsLV14CreditNoteRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LV14CreditNoteRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreditNoteSubflow</targetReference>
            </connector>
            <label>IsLV14 - Credit Note Request</label>
        </rules>
        <rules>
            <name>IsLV16VoluntaryWorks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LV16VoluntaryWorks</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VoluntaryWorksVariationSubflow</targetReference>
            </connector>
            <label>Is LV16 - Voluntary Works</label>
        </rules>
        <rules>
            <name>IsLV07LeaseAreaVariation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LV07LeaseAreaVariation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeaseAreaVariationSubflow</targetReference>
            </connector>
            <label>Is LV07 - Lease Area Variation</label>
        </rules>
        <rules>
            <name>IsLV09TradingNameChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LV09TradingNameChange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TradingNameChangeSubflow</targetReference>
            </connector>
            <label>Is LV09 - Trading Name Change</label>
        </rules>
        <rules>
            <name>IsLV04BankGuaranteeorSecurityDepositManagement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LV04BankGuaranteeorSecurityDepositManagement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ManageBankGuaranteeSubflow</targetReference>
            </connector>
            <label>Is LV04 - Bank Guarantee or Security Deposit Management</label>
        </rules>
        <rules>
            <name>IsLV02VariationofSpecialtyLease</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LV02VariationofSpecialtyLease</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VariationofSpecialtyLease</targetReference>
            </connector>
            <label>Is LV02 - Variation of Specialty Lease</label>
        </rules>
        <rules>
            <name>IsLV10CentreRASTeamLeaseVariations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LV10CentreRASTeamLeaseVariations</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CenterTeamLeaseVariationsFlow</targetReference>
            </connector>
            <label>Is LV10 - Centre / RAS Team Lease Variations</label>
        </rules>
        <rules>
            <name>IsLV11LeasingFinanceLeaseVariations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LV11LeasingFinanceLeaseVariations</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeasingFinanceFlow</targetReference>
            </connector>
            <label>LV11 - Leasing Finance Lease Variations</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CaseTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>Create Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case</label>
    <processType>Flow</processType>
    <screens>
        <name>Select_Case_Type</name>
        <label>Select Case Type</label>
        <locationX>31</locationX>
        <locationY>463</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>caseTypeDecision</targetReference>
        </connector>
        <fields>
            <name>Case_Type</name>
            <choiceReferences>LV01ChangeRentCommencementDate</choiceReferences>
            <choiceReferences>LV02VariationofSpecialtyLease</choiceReferences>
            <choiceReferences>LV03MerchantorPromotionalAllowance</choiceReferences>
            <choiceReferences>LV04BankGuaranteeorSecurityDepositManagement</choiceReferences>
            <choiceReferences>LV07LeaseAreaVariation</choiceReferences>
            <choiceReferences>LV09TradingNameChange</choiceReferences>
            <choiceReferences>LV10CentreRASTeamLeaseVariations</choiceReferences>
            <choiceReferences>LV11LeasingFinanceLeaseVariations</choiceReferences>
            <choiceReferences>LV12RequestforRefundDC</choiceReferences>
            <choiceReferences>LV13RetailAdminLeaseVariations</choiceReferences>
            <choiceReferences>LV14CreditNoteRequest</choiceReferences>
            <choiceReferences>LV15MarketRentReview</choiceReferences>
            <choiceReferences>LV16VoluntaryWorks</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Select_Case_Type</startElementReference>
    <status>Active</status>
    <subflows>
        <name>CenterTeamLeaseVariationsFlow</name>
        <label>CenterTeamLeaseVariationsFlow</label>
        <locationX>768</locationX>
        <locationY>622</locationY>
        <flowName>CON_CenterTeamLeaseVariations</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <name>recordId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ConductMarketReviewSubflow</name>
        <label>ConductMarketReviewSubflow</label>
        <locationX>774</locationX>
        <locationY>1247</locationY>
        <flowName>CON_ConductMarketReview</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>createdCaseId</assignToReference>
            <name>varNewCreatedCaseId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>CreateRequestForRefund</name>
        <label>Create Request For Refund</label>
        <locationX>780</locationX>
        <locationY>834</locationY>
        <flowName>CON_RequestRefund_SubProcess</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>createdCaseId</assignToReference>
            <name>varNewCreatedCaseId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>CreditNoteSubflow</name>
        <label>Credit Note Subflow</label>
        <locationX>778</locationX>
        <locationY>1130</locationY>
        <flowName>CON_CreditNote</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>createdCaseId</assignToReference>
            <name>varNewCaseCreatedId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>LeaseAreaVariationSubflow</name>
        <label>Lease Area Variation Subflow</label>
        <locationX>769</locationX>
        <locationY>390</locationY>
        <flowName>CON_LeaseAreaVariation</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>createdCaseId</assignToReference>
            <name>varNewCreatedCaseId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>LeasingFinanceFlow</name>
        <label>Leasing Finance Flow</label>
        <locationX>773</locationX>
        <locationY>732</locationY>
        <flowName>CON_LeasingFinance</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>createdCaseId</assignToReference>
            <name>varNewCreatedCaseId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ManageBankGuaranteeSubflow</name>
        <label>ManageBankGuaranteeSubflow</label>
        <locationX>771</locationX>
        <locationY>287</locationY>
        <flowName>CON_ManageBankGuarantee</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>createdCaseId</assignToReference>
            <name>varNewCreatedCaseId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>MerchantOrPromotionalAllowanceSubflow</name>
        <label>MerchantOrPromotionalAllowanceSubflow</label>
        <locationX>769</locationX>
        <locationY>187</locationY>
        <flowName>CON_MerchantorPromotionalAllowance</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>createdCaseId</assignToReference>
            <name>varNewCreatedCaseId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>RentCommencementDateSubflow</name>
        <label>Rent Commencement Date Subflow</label>
        <locationX>769</locationX>
        <locationY>16</locationY>
        <flowName>CON_RentCommencementDate_SubProcess</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>createdCaseId</assignToReference>
            <name>varNewCreatedCaseId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>RetailAdminLeaseVariationSubflow</name>
        <label>RetailAdminLeaseVariationSubflow</label>
        <locationX>780</locationX>
        <locationY>1003</locationY>
        <flowName>CON_ChooseSubtype</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <name>recordId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>TradingNameChangeSubflow</name>
        <label>TradingNameChangeSubflow</label>
        <locationX>770</locationX>
        <locationY>505</locationY>
        <flowName>CON_TradingNameChange</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>createdCaseId</assignToReference>
            <name>varNewCaseId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VariationofSpecialtyLease</name>
        <label>VariationofSpecialtyLease</label>
        <locationX>767</locationX>
        <locationY>103</locationY>
        <flowName>CONLV02VariationofSpecialtyLease</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>createdCaseId</assignToReference>
            <name>varCaseId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VoluntaryWorksVariationSubflow</name>
        <label>VoluntaryWorksVariationSubflow</label>
        <locationX>778</locationX>
        <locationY>1367</locationY>
        <flowName>CON_VoluntaryWorksVariation</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>createdCaseId</assignToReference>
            <name>varNewCaseId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>createdCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MiscServices</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Update_Rent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Update_Rentable_Area</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UpdateLeasableArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UpdateRentableArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
