flows/CAS_UpdateChildCaseStatus.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>childCasesListAssignment</name>
        <label>childCasesListAssignment</label>
        <locationX>1343</locationX>
        <locationY>297</locationY>
        <assignmentItems>
            <assignToReference>childCasesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>childCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughChildCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateChildCaseStatus</name>
        <label>updateChildCaseStatus</label>
        <locationX>1340</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>childCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varParentCaseStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>childCase.Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>childCasesListAssignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkIfParentIdNotNull</name>
        <label>checkIfParentIdNotNull</label>
        <locationX>586</locationX>
        <locationY>44</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HasParentId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentCaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>parentCaseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>parentCaseStatus</targetReference>
            </connector>
            <label>Has Parent Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIParentCaseIsApproved</name>
        <label>checkIParentCaseIsApproved</label>
        <locationX>769</locationX>
        <locationY>201</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ParentApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentCaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopThroughChildCases</targetReference>
            </connector>
            <label>ParentApproved</label>
        </rules>
        <rules>
            <name>ParentManual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentCaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopThroughChildCases</targetReference>
            </connector>
            <label>ParentManual</label>
        </rules>
        <rules>
            <name>ParentAwaitingBankProcessing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentCaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Bank Processing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopThroughChildCases</targetReference>
            </connector>
            <label>ParentAwaitingBankProcessing</label>
        </rules>
        <rules>
            <name>ParentCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentCaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopThroughChildCases</targetReference>
            </connector>
            <label>ParentCompleted</label>
        </rules>
    </decisions>
    <formulas>
        <name>counter</name>
        <dataType>Number</dataType>
        <expression>1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CAS_UpdateChildCaseStatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAS_UpdateChildCaseStatus</label>
    <loops>
        <name>loopThroughChildCases</name>
        <label>loopThroughChildCases</label>
        <locationX>1134</locationX>
        <locationY>198</locationY>
        <assignNextValueToReference>childCase</assignNextValueToReference>
        <collectionReference>childCaseList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>updateChildCaseStatus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateStatusAllChildCases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAllChildCasesOfParentCase</name>
        <label>getAllChildCasesOfParentCase</label>
        <locationX>586</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIParentCaseIsApproved</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>childCaseList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>parentCaseStatus</name>
        <label>parentCaseStatus</label>
        <locationX>441</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAllChildCasesOfParentCase</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varParentCaseStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateStatusAllChildCases</name>
        <label>updateStatusAllChildCases</label>
        <locationX>1131</locationX>
        <locationY>66</locationY>
        <inputReference>childCasesList</inputReference>
    </recordUpdates>
    <startElementReference>checkIfParentIdNotNull</startElementReference>
    <status>Active</status>
    <variables>
        <name>approvedChildCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>childCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>childCaseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>childCasesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>childCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>completedChildCaseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>parentCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
