flows/CON_CenterTeamLeaseVariations.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>varBadDebtWriteOffChoice</name>
        <choiceText>Bad Debt Write Off</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bad Debt Write Off (BDWO)</stringValue>
        </value>
    </choices>
    <choices>
        <name>varHoardingChoice</name>
        <choiceText>Hoarding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hoarding</stringValue>
        </value>
    </choices>
    <choices>
        <name>varMailboxChargesChoice</name>
        <choiceText>Mailbox Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mailbox Charges</stringValue>
        </value>
    </choices>
    <decisions>
        <name>isCaseSubType</name>
        <label>Case SubType</label>
        <locationX>508</locationX>
        <locationY>145</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isMailboxCharges</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varCaseSubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varMailboxChargesChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MailboxChargesFlow</targetReference>
            </connector>
            <label>Mailbox Charges</label>
        </rules>
        <rules>
            <name>isHoarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseSubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varHoardingChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HoardingFlow</targetReference>
            </connector>
            <label>Hoarding</label>
        </rules>
        <rules>
            <name>isBadDebtWriteOfff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseSubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varBadDebtWriteOffChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BadDebtWriteOffFlow</targetReference>
            </connector>
            <label>Bad Debt Write Off</label>
        </rules>
    </decisions>
    <interviewLabel>CON_CenterTeamLeaseVariations_Subtype {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CON_CenterTeamLeaseVariationsMainFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>LV10CentreRASTeamLeaseVariationsScreen</name>
        <label>LV10 - Centre / RAS Team Lease Variations</label>
        <locationX>508</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>isCaseSubType</targetReference>
        </connector>
        <fields>
            <name>varCaseSubType</name>
            <choiceReferences>varBadDebtWriteOffChoice</choiceReferences>
            <choiceReferences>varMailboxChargesChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>varBadDebtWriteOffChoice</defaultSelectedChoiceReference>
            <fieldText>Case Sub Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>LV10CentreRASTeamLeaseVariationsScreen</startElementReference>
    <status>Active</status>
    <subflows>
        <name>BadDebtWriteOffFlow</name>
        <label>BadDebtWriteOffFlow</label>
        <locationX>815</locationX>
        <locationY>318</locationY>
        <flowName>CON_BadDebtWriteOff</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCreatedCaseId</assignToReference>
            <name>newCreatedCaseId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>HoardingFlow</name>
        <label>HoardingFlow</label>
        <locationX>506</locationX>
        <locationY>330</locationY>
        <flowName>CON_Hoarding</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCreatedCaseId</assignToReference>
            <name>newCreatedCaseId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>MailboxChargesFlow</name>
        <label>MailboxChargesFlow</label>
        <locationX>214</locationX>
        <locationY>322</locationY>
        <flowName>CON_MailboxCharges</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCreatedCaseId</assignToReference>
            <name>newCreatedCaseId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCreatedCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
