flows/CON_BillingOfPercentRent.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NavigatetoCaseRecord</name>
        <label>Navigate to Case Record</label>
        <locationX>871</locationX>
        <locationY>489</locationY>
        <actionName>c:NavigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varNewCaseId</assignToReference>
            <name>SObject</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>gstGSTAmountAssign</name>
        <label>gstGSTAmountAssign</label>
        <locationX>864</locationX>
        <locationY>245</locationY>
        <assignmentItems>
            <assignToReference>varGSTAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calculateGSTAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createLeasingFinanceCaseBillingSubtype</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>LV11 - Leasing Finance Lease Variations - Billing of Percent Rent</stringValue>
        </value>
    </constants>
    <decisions>
        <name>checkPropertyCountry</name>
        <label>checkPropertyCountry</label>
        <locationX>621</locationX>
        <locationY>240</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Australia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPropertyCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getGSTAustralia</targetReference>
            </connector>
            <label>Australia</label>
        </rules>
        <rules>
            <name>NewZealand</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPropertyCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getGSTNewZealand</targetReference>
            </connector>
            <label>New Zealand</label>
        </rules>
    </decisions>
    <decisions>
        <name>creationStatus</name>
        <label>creationStatus</label>
        <locationX>1034</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NavigatetoCaseRecord</targetReference>
            </connector>
            <label>isSuccess</label>
        </rules>
        <rules>
            <name>isFail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>caseCreateError</targetReference>
            </connector>
            <label>isFail</label>
        </rules>
    </decisions>
    <description>LV11 - Leasing Finance Lease Variations
CON_BillingOfPercentRent</description>
    <formulas>
        <name>calculateGSTAmount</name>
        <dataType>Currency</dataType>
        <expression>({!InvoiceAmountCurrentYear}+{!InvoiceAmountPriorYear}) * ({!varGSTAmountValue}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>getAmountPayable</name>
        <dataType>Currency</dataType>
        <expression>({!InvoiceAmountCurrentYear}+{!InvoiceAmountPriorYear}) + {!calculateGSTAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>invoiceAmountCYDefault</name>
        <dataType>Currency</dataType>
        <expression>IF
(ISNULL({!InvoiceAmountCurrentYear}),
0,
{!InvoiceAmountCurrentYear}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>invoiceAmountPYDefault</name>
        <dataType>Currency</dataType>
        <expression>IF
(ISNULL({!InvoiceAmountPriorYear}),
0,
{!InvoiceAmountPriorYear}
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CON_BillingOfPercentRent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CON_BillingOfPercentRent</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>createLeasingFinanceCaseBillingSubtype</name>
        <label>createLeasingFinanceCaseBillingSubtype</label>
        <locationX>1033</locationX>
        <locationY>246</locationY>
        <assignRecordIdToReference>varNewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>creationStatus</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CaseCreationError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AmountPayableTotal__c</field>
            <value>
                <elementReference>getAmountPayable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GSTAmount__c</field>
            <value>
                <elementReference>varGSTAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GSTApplicable__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceAmountCurrentYear__c</field>
            <value>
                <elementReference>InvoiceAmountCurrentYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceAmountPriorYear__c</field>
            <value>
                <elementReference>InvoiceAmountPriorYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceDescription__c</field>
            <value>
                <elementReference>InvoiceDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTaxDate__c</field>
            <value>
                <elementReference>ServiceTaxDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Space__c</field>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubType__c</field>
            <value>
                <elementReference>varCaseSubtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>LV11 - Leasing Finance Lease Variations</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>getGSTAustralia</name>
        <label>getGSTAustralia</label>
        <locationX>746</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>gstGSTAmountAssign</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GST</stringValue>
            </value>
        </filters>
        <object>GST__mdt</object>
        <outputAssignments>
            <assignToReference>varGSTAmountValue</assignToReference>
            <field>GSTAmount__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getGSTNewZealand</name>
        <label>getGSTNewZealand</label>
        <locationX>752</locationX>
        <locationY>351</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>gstGSTAmountAssign</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GSTNewZealand</stringValue>
            </value>
        </filters>
        <object>GST__mdt</object>
        <outputAssignments>
            <assignToReference>varGSTAmountValue</assignToReference>
            <field>GSTAmount__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getPropertyCountry</name>
        <label>getPropertyCountry</label>
        <locationX>479</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkPropertyCountry</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPropertyName</elementReference>
            </value>
        </filters>
        <object>Property__c</object>
        <outputAssignments>
            <assignToReference>varPropertyCountry</assignToReference>
            <field>Country__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>BillingofRent</name>
        <label>Billing of % Rent</label>
        <locationX>288</locationX>
        <locationY>238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getPropertyCountry</targetReference>
        </connector>
        <fields>
            <name>ContractDetails</name>
            <fieldText>Contract Number (JDE Lease Number) : {!varContractNumber}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>shopNumberText</name>
            <fieldText>Shop Number: {!varShopNumber}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tenantNameText</name>
            <fieldText>Tenant Name: {!varAccountName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InvoiceAmountCurrentYear</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>invoiceAmountCYDefault</elementReference>
            </defaultValue>
            <fieldText>Invoice Amount (Current Year) (Excl GST)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.</errorMessage>
                <formulaExpression>{!InvoiceAmountCurrentYear} &gt;= 0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>InvoiceAmountPriorYear</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>invoiceAmountPYDefault</elementReference>
            </defaultValue>
            <fieldText>Invoice Amount (Prior Year) (Excl GST)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.</errorMessage>
                <formulaExpression>{!InvoiceAmountPriorYear} &gt;= 0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>InvoiceDescription</name>
            <defaultValue>
                <elementReference>InvoiceDescription</elementReference>
            </defaultValue>
            <fieldText>Invoice Description (Text to be printed on Invoice)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ServiceTaxDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>ServiceTaxDate</elementReference>
            </defaultValue>
            <fieldText>Service Tax Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Last Day, Month and Year of this Assessment period.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>caseCreateError</name>
        <label>caseCreateError</label>
        <locationX>1190</locationX>
        <locationY>484</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>createSuccess</name>
            <fieldText>Error on Creating Case. Check with your System Administrator.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CaseCreationError</name>
        <label>Case Creation Error</label>
        <locationX>1031</locationX>
        <locationY>121</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorText</name>
            <fieldText>Sorry, but you can’t create a record at this time.

Error message: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>BillingofRent</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varApplicableYearErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseSubtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContractNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGSTAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varGSTAmountValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varInvoiceAmountCurrentYear</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varInvoiceAmountPriorYear</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varInvoiceErrMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInvoiceErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInvoicePriorErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMessageWhenOneNotPopulated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPriorYearErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPropertyCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPropertyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varShopNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSpaceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTotalAmountPayable</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varYearCharacterLengthErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
