flows/CON_ManualBilling.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NavigateToSobject</name>
        <label>NavigateToSobject</label>
        <locationX>1009</locationX>
        <locationY>305</locationY>
        <actionName>c:NavigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>newCreatedCaseId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>newCreatedCaseId</assignToReference>
            <name>SObject</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>assignPicklistValues</name>
        <label>assignPicklistValues</label>
        <locationX>256</locationX>
        <locationY>517</locationY>
        <assignmentItems>
            <assignToReference>varGLCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GLCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkBillCodeDescriptionAndGLCode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>gstGSTAmountAssign</name>
        <label>gstGSTAmountAssign</label>
        <locationX>611</locationX>
        <locationY>160</locationY>
        <assignmentItems>
            <assignToReference>varGSTAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calculateGSTAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getRecordTypeDetails</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceNone</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>checkBillCodeDescriptionAndGLCode</name>
        <label>checkBillCodeDescriptionAndGLCode</label>
        <locationX>179</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>getPropertyCountry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>InvalidGLCode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BillCodeDescription</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EXRY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GLCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceNone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errorGLCode</targetReference>
            </connector>
            <label>InvalidGLCode</label>
        </rules>
        <rules>
            <name>GLCodeBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BillCodeDescription</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>EXRY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GLCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>choiceNone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GLCodeNull</targetReference>
            </connector>
            <label>GLCodeBlank</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkPropertyCountry</name>
        <label>checkPropertyCountry</label>
        <locationX>294</locationX>
        <locationY>98</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Australia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPropertyCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getGSTAustralia</targetReference>
            </connector>
            <label>Australia</label>
        </rules>
        <rules>
            <name>NewZealand</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPropertyCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getGSTNewZealand</targetReference>
            </connector>
            <label>New Zealand</label>
        </rules>
    </decisions>
    <decisions>
        <name>creationStatus</name>
        <label>creationStatus</label>
        <locationX>1092</locationX>
        <locationY>153</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newCreatedCaseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NavigateToSobject</targetReference>
            </connector>
            <label>isSuccess</label>
        </rules>
        <rules>
            <name>isFail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newCreatedCaseId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fail</targetReference>
            </connector>
            <label>isFail</label>
        </rules>
    </decisions>
    <description>LV10 - Centre / RAS Team Lease Variations - ManualBilling</description>
    <dynamicChoiceSets>
        <name>BillCodeDescriptionPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BillCodeDescription__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GLCodePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GLCode__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>calculateGSTAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Amount}*({!varGSTAmountValue}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calculateTotalAmountIncludingGST</name>
        <dataType>Currency</dataType>
        <expression>{!varGSTAmount} + {!Amount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CON_CON_ManualBilling {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CON_LV10CentreRASTeamLeaseVariationsManualBilling</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createCaseRecord</name>
        <label>createCaseRecord</label>
        <locationX>800</locationX>
        <locationY>183</locationY>
        <assignRecordIdToReference>newCreatedCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>newCaseLookup</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorDisplay</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillCodeDescription__c</field>
            <value>
                <elementReference>BillCodeDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GLCode__c</field>
            <value>
                <elementReference>GLCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GSTAmount__c</field>
            <value>
                <elementReference>varGSTAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GSTValue__c</field>
            <value>
                <elementReference>varGSTAmountValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceDescription__c</field>
            <value>
                <elementReference>InvoiceDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordtypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTaxDate__c</field>
            <value>
                <elementReference>ServiceTaxDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Space__c</field>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubType__c</field>
            <value>
                <elementReference>varCaseSubtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varCaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>LV10 - Centre / RAS Team Lease Variations</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>getAccountDetails</name>
        <label>getAccountDetails</label>
        <locationX>56</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ManualBillingForm</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getContractDetails</name>
        <label>getContractDetails</label>
        <locationX>50</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSpaceDetails</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContractNumber</assignToReference>
            <field>JDELeaseNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpaceId</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getGSTAustralia</name>
        <label>getGSTAustralia</label>
        <locationX>418</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>gstGSTAmountAssign</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GST</stringValue>
            </value>
        </filters>
        <object>GST__mdt</object>
        <outputAssignments>
            <assignToReference>varGSTAmountValue</assignToReference>
            <field>GSTAmount__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getGSTNewZealand</name>
        <label>getGSTNewZealand</label>
        <locationX>428</locationX>
        <locationY>294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>gstGSTAmountAssign</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GSTNewZealand</stringValue>
            </value>
        </filters>
        <object>GST__mdt</object>
        <outputAssignments>
            <assignToReference>varGSTAmountValue</assignToReference>
            <field>GSTAmount__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getPropertyCountry</name>
        <label>getPropertyCountry</label>
        <locationX>188</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkPropertyCountry</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPropertyName</elementReference>
            </value>
        </filters>
        <object>Property__c</object>
        <outputAssignments>
            <assignToReference>varPropertyCountry</assignToReference>
            <field>Country__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeDetails</name>
        <label>getRecordTypeDetails</label>
        <locationX>689</locationX>
        <locationY>399</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createCaseRecord</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCASLVICentreTeam</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordtypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSpaceDetails</name>
        <label>getSpaceDetails</label>
        <locationX>56</locationX>
        <locationY>328</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountDetails</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </filters>
        <object>Space__c</object>
        <outputAssignments>
            <assignToReference>varSpaceNumber</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPropertyName</assignToReference>
            <field>Property__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>newCaseLookup</name>
        <label>newCaseLookup</label>
        <locationX>1098</locationX>
        <locationY>29</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>creationStatus</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newCreatedCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>errorDisplay</name>
        <label>errorDisplay</label>
        <locationX>766</locationX>
        <locationY>12</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>Sorry, but you can’t create a record at this time.

Error message: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorGLCode</name>
        <label>GL Code Required</label>
        <locationX>697</locationX>
        <locationY>573</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>GLCodeError</name>
            <fieldText>GL Code required for Miscellaneous Expenses Recovery. Please enter value for GL Code</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fail</name>
        <label>Fail</label>
        <locationX>1157</locationX>
        <locationY>296</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>failScreen</name>
            <fieldText>Error on Creating Case. Check with your System Administrator.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GLCodeNull</name>
        <label>GLCodeNull</label>
        <locationX>377</locationX>
        <locationY>635</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorGLCodeBlank</name>
            <fieldText>GL Code should not be populated unless the Bill Code Description Miscellaneous Expenses Recovery</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ManualBillingForm</name>
        <label>Manual Billing Form</label>
        <locationX>203</locationX>
        <locationY>687</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignPicklistValues</targetReference>
        </connector>
        <fields>
            <name>displayFields</name>
            <fieldText>Contract Number: {!varContractNumber}

Shop Number: {!varSpaceNumber}

Tenant Name: {!varAccountName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.</errorMessage>
                <formulaExpression>{!Amount} &gt; 0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>DisplayText1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Note: Please enter Invoice amount excluding GST&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BillCodeDescription</name>
            <choiceReferences>BillCodeDescriptionPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Bill Code Description</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>GLCode</name>
            <choiceReferences>choiceNone</choiceReferences>
            <choiceReferences>GLCodePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>GL Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DisplayText2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Note: GL code is mandatory when Bill Code Description is EXRY- Misc. Expenses Recy.&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InvoiceDescription</name>
            <dataType>String</dataType>
            <fieldText>Invoice Description (Text to be printed on Invoice)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ServiceTaxDate</name>
            <dataType>Date</dataType>
            <fieldText>Service Tax Date (Last Day of the Charge Month)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getContractDetails</startElementReference>
    <status>Active</status>
    <variables>
        <name>newCreatedCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillCodedDescPicklist</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillCodeDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>LV10 - Centre / RAS Team Lease Variations - Manual Billing</stringValue>
        </value>
    </variables>
    <variables>
        <name>varCaseSubtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Manual Billing</stringValue>
        </value>
    </variables>
    <variables>
        <name>varCASLVICentreTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>CAS_LVICentreTeam</stringValue>
        </value>
    </variables>
    <variables>
        <name>varContractNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGLCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGLCodePicklist</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGSTAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varGSTAmountValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varPropertyCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPropertyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordtypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSpaceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSpaceNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalAmountIncludingGST</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
