flows/CON_LeasingFinance.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>BillingofRent</name>
        <choiceText>Billing of % Rent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing of % Rent</stringValue>
        </value>
    </choices>
    <choices>
        <name>CappedOccupancyCost</name>
        <choiceText>Capped Occupancy Cost</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Capped Occupancy Cost</stringValue>
        </value>
    </choices>
    <decisions>
        <name>checkSelectedSubType</name>
        <label>checkSelectedSubType</label>
        <locationX>640</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BillingSubtype</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChooseSubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BillingofRent</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BillingOfPercentSubflow</targetReference>
            </connector>
            <label>Billing Subtype</label>
        </rules>
        <rules>
            <name>CappedSubtype</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChooseSubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CappedOccupancyCost</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CappedOccupancyCostSubflow</targetReference>
            </connector>
            <label>Capped Subtype</label>
        </rules>
    </decisions>
    <description>LV11 - Leasing Finance Lease Variations
Main Flow</description>
    <interviewLabel>CON_LeasingFinance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CON_LeasingFinance</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>642</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSpace</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varTenantNumber</assignToReference>
            <field>TenantNo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>TradingName__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getContract</name>
        <label>getContract</label>
        <locationX>469</locationX>
        <locationY>94</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContractNumber</assignToReference>
            <field>JDELeaseNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpaceId</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getLeasingFinanceRecType</name>
        <label>getLeasingFinanceRecType</label>
        <locationX>642</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LeasingFinance</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CASLVILeasingFinance</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSpace</name>
        <label>getSpace</label>
        <locationX>824</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getLeasingFinanceRecType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </filters>
        <object>Space__c</object>
        <outputAssignments>
            <assignToReference>varShopNumber</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPropertyName</assignToReference>
            <field>Property__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>LeasingFinance</name>
        <label>LV11 - Leasing Finance Lease Variations</label>
        <locationX>641</locationX>
        <locationY>288</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checkSelectedSubType</targetReference>
        </connector>
        <fields>
            <name>ChooseSubType</name>
            <choiceReferences>BillingofRent</choiceReferences>
            <choiceReferences>CappedOccupancyCost</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Sub-Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getContract</startElementReference>
    <status>Active</status>
    <subflows>
        <name>BillingOfPercentSubflow</name>
        <label>BillingOfPercentSubflow</label>
        <locationX>468</locationX>
        <locationY>531</locationY>
        <flowName>CON_BillingOfPercentRent</flowName>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccountName</name>
            <value>
                <elementReference>varAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPropertyName</name>
            <value>
                <elementReference>varPropertyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varShopNumber</name>
            <value>
                <elementReference>varShopNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSpaceId</name>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordTypeId</name>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContractNumber</name>
            <value>
                <elementReference>varContractNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCaseSubtype</name>
            <value>
                <elementReference>ChooseSubType</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varNewCreatedCaseId</assignToReference>
            <name>varNewCaseId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>CappedOccupancyCostSubflow</name>
        <label>Capped Occupancy Cost Subflow</label>
        <locationX>829</locationX>
        <locationY>531</locationY>
        <flowName>CON_CappedOccupancyCost</flowName>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccountName</name>
            <value>
                <elementReference>varAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCaseSubtype</name>
            <value>
                <elementReference>ChooseSubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContractNumber</name>
            <value>
                <elementReference>varContractNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPropertyName</name>
            <value>
                <elementReference>varPropertyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordTypeId</name>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varShopNumber</name>
            <value>
                <elementReference>varShopNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSpaceId</name>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varNewCreatedCaseId</assignToReference>
            <name>varNewCaseId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CASLVILeasingFinance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>CAS_LVILeasingFinance</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContractNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewCreatedCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPropertyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varShopNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSpaceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTenantNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
