flows/CON_ManageBankGuarantee.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NavigatetoCase</name>
        <label>Navigate to Case</label>
        <locationX>699</locationX>
        <locationY>415</locationY>
        <actionName>c:NavigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>varNewCreatedCaseId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varNewCreatedCaseId</assignToReference>
            <name>SObject</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assignment1</name>
        <label>Assignment</label>
        <locationX>477</locationX>
        <locationY>585</locationY>
        <assignmentItems>
            <assignToReference>varErrMsg1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outstanding Debtor Balance is only applicable for Claim and Claim-Administration</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ManageBankGuarantee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DisplayErrorMsg1</name>
        <label>DisplayErrorMsg1</label>
        <locationX>252</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>varErrMsg1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outstanding Debtor Balance is Mandatory</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ManageBankGuarantee</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Claim</name>
        <choiceText>Claim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claim</stringValue>
        </value>
    </choices>
    <choices>
        <name>Claim_Administration</name>
        <choiceText>Claim-Administration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claim-Administration</stringValue>
        </value>
    </choices>
    <choices>
        <name>Exchange</name>
        <choiceText>Exchange</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exchange</stringValue>
        </value>
    </choices>
    <choices>
        <name>Others_provide_details_in_the_Reason_for_Change_Details_field</name>
        <choiceText>Others (provide details in the Reason for Change Details field)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Return</name>
        <choiceText>Return</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Return</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transfer</name>
        <choiceText>Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_For_Required_Field</name>
        <label>Check For Required Field</label>
        <locationX>254</locationX>
        <locationY>390</locationY>
        <defaultConnector>
            <targetReference>getManageBankGuaranteeRecType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ODB_is_empty</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>OutstandingDebtorBalance</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubType1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Claim</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubType1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Claim_Administration</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayErrorMsg1</targetReference>
            </connector>
            <label>ODB is empty</label>
        </rules>
        <rules>
            <name>ODBnotapplicable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubType1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Claim</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubType1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Claim_Administration</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OutstandingDebtorBalance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment1</targetReference>
            </connector>
            <label>ODB not applicable</label>
        </rules>
    </decisions>
    <decisions>
        <name>isSuccess</name>
        <label>isSuccess</label>
        <locationX>463</locationX>
        <locationY>321</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SuccessfullyCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCreatedCaseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NavigatetoCase</targetReference>
            </connector>
            <label>SuccessfullyCreated</label>
        </rules>
        <rules>
            <name>CaseCreationFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCreatedCaseId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateFailed</targetReference>
            </connector>
            <label>CaseCreationFailed</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SecurityDepositType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SecurityDepositType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <expression>&apos;LV04 - Bank Guarantee or Security Deposit Management&apos;</expression>
    </formulas>
    <interviewLabel>CON_ManageBankGuarantee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CON_ManageBankGuarantee</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateManageBankGauranteeCase</name>
        <label>Create Manage Bank Gaurantee Case</label>
        <locationX>251</locationX>
        <locationY>165</locationY>
        <assignRecordIdToReference>varNewCreatedCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>isSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMsgScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OutstandingDebtorBalance__c</field>
            <value>
                <elementReference>OutstandingDebtorBalance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SecurityDepositAmount__c</field>
            <value>
                <elementReference>SecurityDepositAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SecurityDepositType__c</field>
            <value>
                <elementReference>SecurityDepositTypee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Space__c</field>
            <value>
                <elementReference>varSpaceIdFromContract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubType__c</field>
            <value>
                <elementReference>SubType1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>LV04 - Bank Guarantee or Security Deposit Management</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>getAccountDetails</name>
        <label>getAccountDetails</label>
        <locationX>54</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSpaceDetails</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>TradingName__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getContractDetails</name>
        <label>getContractDetails</label>
        <locationX>53</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountDetails</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContractNumber</assignToReference>
            <field>JDELeaseNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpaceid</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getManageBankGuaranteeRecType</name>
        <label>getManageBankGuaranteeRecType</label>
        <locationX>250</locationX>
        <locationY>273</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateManageBankGauranteeCase</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCASLVIManageBankGuarantee</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSpaceDetails</name>
        <label>getSpaceDetails</label>
        <locationX>52</locationX>
        <locationY>389</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ManageBankGuarantee</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSpaceid</elementReference>
            </value>
        </filters>
        <object>Space__c</object>
        <outputAssignments>
            <assignToReference>varSpaceIdFromContract</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varShopNum</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>CreateFailed</name>
        <label>CreateFailed</label>
        <locationX>705</locationX>
        <locationY>208</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>Error on Creating Case. Check with your System Administrator.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorMsgScreen</name>
        <label>errorMsgScreen</label>
        <locationX>257</locationX>
        <locationY>57</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMsg</name>
            <fieldText>Sorry, but you can’t create a record at this time.

Error message: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ManageBankGuarantee</name>
        <label>LV03 - Merchant or Promotional Allowance </label>
        <locationX>52</locationX>
        <locationY>592</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_For_Required_Field</targetReference>
        </connector>
        <fields>
            <name>ContractNum</name>
            <fieldText>Contract Number: {!varContractNumber}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShopNum1</name>
            <fieldText>Shop Number: {!varShopNum}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TenantName</name>
            <fieldText>Tenant Name: {!varAccountName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SubType1</name>
            <choiceReferences>Claim</choiceReferences>
            <choiceReferences>Claim_Administration</choiceReferences>
            <choiceReferences>Transfer</choiceReferences>
            <choiceReferences>Exchange</choiceReferences>
            <choiceReferences>Return</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SubType</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SecurityDepositTypee</name>
            <choiceReferences>SecurityDepositType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Security Deposit Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SecurityDepositAmount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>SecurityDepositAmount</elementReference>
            </defaultValue>
            <fieldText>Security Deposit Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>Please verify the Security Deposit Amount. Allowed only upto 2 decimal places</errorMessage>
                <formulaExpression>REGEX(TEXT({!SecurityDepositAmount}),&quot;[0-9]*(.[0-9][0-9]?)?&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>OutstandingDebtorBalance</name>
            <dataType>Currency</dataType>
            <fieldText>Outstanding Debtor Balance (Only applicable for Claim and Claim-Administration)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>Please verify the Outstanding Debtor Balance. Allowed only upto 2 decimal places</errorMessage>
                <formulaExpression>REGEX(TEXT({!OutstandingDebtorBalance}),&quot;[0-9]*(.[0-9][0-9]?)?&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DisplayError</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!varErrMsg1}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getContractDetails</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCASLVIManageBankGuarantee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>CAS_LVIManageBankGuarantee</stringValue>
        </value>
    </variables>
    <variables>
        <name>varContractNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varErrMsg1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCreatedCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShopNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSpaceid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSpaceIdFromContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
