flows/CON_CappedOccupancyCost.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NavigatetoCaseRecord</name>
        <label>Navigate to Case Record</label>
        <locationX>811</locationX>
        <locationY>466</locationY>
        <actionName>c:NavigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varNewCaseId</assignToReference>
            <name>SObject</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>getGSTAmountAssign</name>
        <label>getGSTAmountAssign</label>
        <locationX>728</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>varGSTAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calculateGSTAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createLeasingFinanceCaseCappedSubtype</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>LV11 - Leasing Finance Lease Variations - Capped Occupancy Cost</stringValue>
        </value>
    </constants>
    <decisions>
        <name>caseCreateStatus</name>
        <label>caseCreateStatus</label>
        <locationX>919</locationX>
        <locationY>354</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isSuccess</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNewCaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NavigatetoCaseRecord</targetReference>
            </connector>
            <label>isSuccess</label>
        </rules>
        <rules>
            <name>isFail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNewCaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fail</targetReference>
            </connector>
            <label>isFail</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkPropertyCountry</name>
        <label>checkPropertyCountry</label>
        <locationX>490</locationX>
        <locationY>236</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Australia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPropertyCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getGSTAustralia</targetReference>
            </connector>
            <label>Australia</label>
        </rules>
        <rules>
            <name>NewZealand</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPropertyCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getGSTNZ</targetReference>
            </connector>
            <label>New Zealand</label>
        </rules>
    </decisions>
    <description>LV11 - Leasing Finance Lease Variations - Capped Occupancy Cost</description>
    <formulas>
        <name>calculateGSTAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Amount} * ({!varGSTAmountValue}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>getAmountPayableTotal</name>
        <dataType>Currency</dataType>
        <expression>{!Amount} + {!calculateGSTAmount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CON_CappedOccupancyCost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CON_CappedOccupancyCost</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>createLeasingFinanceCaseCappedSubtype</name>
        <label>createLeasingFinanceCaseCappedSubtype</label>
        <locationX>917</locationX>
        <locationY>245</locationY>
        <assignRecordIdToReference>varNewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>caseCreateStatus</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CaseCreationError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AmountPayableTotal__c</field>
            <value>
                <elementReference>getAmountPayableTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GSTAmount__c</field>
            <value>
                <elementReference>varGSTAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GSTApplicable__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceDescription__c</field>
            <value>
                <elementReference>InvoiceDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTaxDate__c</field>
            <value>
                <elementReference>ServiceTaxDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Space__c</field>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubType__c</field>
            <value>
                <elementReference>varCaseSubtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>LV11 - Leasing Finance Lease Variations</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>getGSTAustralia</name>
        <label>getGSTAustralia</label>
        <locationX>626</locationX>
        <locationY>119</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getGSTAmountAssign</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GST</stringValue>
            </value>
        </filters>
        <object>GST__mdt</object>
        <outputAssignments>
            <assignToReference>varGSTAmountValue</assignToReference>
            <field>GSTAmount__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getGSTNZ</name>
        <label>getGSTNZ</label>
        <locationX>632</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getGSTAmountAssign</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GSTNewZealand</stringValue>
            </value>
        </filters>
        <object>GST__mdt</object>
        <outputAssignments>
            <assignToReference>varGSTAmountValue</assignToReference>
            <field>GSTAmount__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getPropertyCountry</name>
        <label>getPropertyCountry</label>
        <locationX>336</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkPropertyCountry</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPropertyName</elementReference>
            </value>
        </filters>
        <object>Property__c</object>
        <outputAssignments>
            <assignToReference>varPropertyCountry</assignToReference>
            <field>Country__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>CappedOccupancyCost</name>
        <label>Capped Occupancy Cost</label>
        <locationX>177</locationX>
        <locationY>231</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getPropertyCountry</targetReference>
        </connector>
        <fields>
            <name>ContractDetails</name>
            <fieldText>Contract Number (JDE Lease Number) : {!varContractNumber}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>shopNumberText</name>
            <fieldText>Shop Number: {!varShopNumber}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tenantNameText</name>
            <fieldText>Tenant Name: {!varAccountName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount (Excl GST)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.</errorMessage>
                <formulaExpression>{!Amount} &gt; 0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>InvoiceDescription</name>
            <defaultValue>
                <elementReference>InvoiceDescription</elementReference>
            </defaultValue>
            <fieldText>Invoice Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ServiceTaxDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>ServiceTaxDate</elementReference>
            </defaultValue>
            <fieldText>Service Tax Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Last Day, Month and Year of this Assessment period.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CaseCreationError</name>
        <label>Case Creation Error</label>
        <locationX>918</locationX>
        <locationY>102</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorText</name>
            <fieldText>Sorry, but you can’t create a record at this time.

Error message: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fail</name>
        <label>Fail</label>
        <locationX>1048</locationX>
        <locationY>472</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>failText</name>
            <fieldText>Error on Creating Case. Check with your System Administrator.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>CappedOccupancyCost</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varApplicableYearErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseSubtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContractNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGSTAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varGSTAmountMdtVal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varGSTAmountValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varInvoiceErrMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInvoiceErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInvoicePriorErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMessageWhenOneNotPopulated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPropertyCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPropertyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varShopNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSpaceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varYearCharacterLengthErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
