flows/CON_RentCommencementDate_SubProcess.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NavigatetoCase</name>
        <label>Navigate to Case</label>
        <locationX>382</locationX>
        <locationY>548</locationY>
        <actionName>c:NavigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>varNewCreatedCaseId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varNewCreatedCaseId</assignToReference>
            <name>SObject</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>isSuccess</name>
        <label>isSuccess</label>
        <locationX>507</locationX>
        <locationY>435</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SuccessfullyCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCreatedCaseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NavigatetoCase</targetReference>
            </connector>
            <label>SuccessfullyCreated</label>
        </rules>
        <rules>
            <name>CaseCreationFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCreatedCaseId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateFailed</targetReference>
            </connector>
            <label>CaseCreationFailed</label>
        </rules>
    </decisions>
    <description>LV01 - Change Rent Commencement Date</description>
    <dynamicChoiceSets>
        <name>ReasonForDelay</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReasonforDelay__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SubTypeChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SubType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <expression>&apos;LV01 - Change Rent Commencement Date&apos;</expression>
    </formulas>
    <formulas>
        <name>RentCommencementDaysDelayCalc</name>
        <dataType>Number</dataType>
        <expression>({!varExistingChargeCommencementDate}) - ({!NewChargeCommencementDate})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CON_RentCommencementDate_SubProcess {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rent Commencement Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateRequestforRentCommencementDate</name>
        <label>Create Request for Rent Commencement Date</label>
        <locationX>506</locationX>
        <locationY>319</locationY>
        <assignRecordIdToReference>varNewCreatedCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>isSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewChargeCommencementDate__c</field>
            <value>
                <elementReference>NewChargeCommencementDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousChargeCommencementDate__c</field>
            <value>
                <elementReference>varExistingChargeCommencementDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReasonForDelayComments__c</field>
            <value>
                <elementReference>ReasonForDelayComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReasonforDelay__c</field>
            <value>
                <elementReference>CaseReasonForDelay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Space__c</field>
            <value>
                <elementReference>varSpaceIdFromContract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>LV01 - Change Rent Commencement Date</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>getAccountDetails</name>
        <label>getAccountDetails</label>
        <locationX>66</locationX>
        <locationY>319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSpaceDetails</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varTenantNo</assignToReference>
            <field>TenantNo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>TradingName__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getContractDetails</name>
        <label>getContractDetails</label>
        <locationX>61</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountDetails</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContractCurrentOutgoings</assignToReference>
            <field>CurrentOutgoings__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContractCurrentPromoAmount</assignToReference>
            <field>CurrentPromoAmount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContractCurrentRent</assignToReference>
            <field>CurrentRent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContractNo</assignToReference>
            <field>JDELeaseNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varExistingChargeCommencementDate</assignToReference>
            <field>RentCommencementDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpaceid</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getRentCommencementDateRecType</name>
        <label>getRentCommencementDateRecType</label>
        <locationX>253</locationX>
        <locationY>320</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateRequestforRentCommencementDate</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCASLVIVariancetoRentCommencementDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSpaceDetails</name>
        <label>getSpaceDetails</label>
        <locationX>68</locationX>
        <locationY>444</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RequestforRentCommencementDate</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSpaceid</elementReference>
            </value>
        </filters>
        <object>Space__c</object>
        <outputAssignments>
            <assignToReference>varSpaceIdFromContract</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varShopNum</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>CreateFailed</name>
        <label>CreateFailed</label>
        <locationX>616</locationX>
        <locationY>565</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>Error on Creating Case. Check with your System Administrator.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorMessage</name>
        <label>errorMessage</label>
        <locationX>728</locationX>
        <locationY>318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMsg</name>
            <fieldText>Sorry, but you can’t create a record at this time.

Error message: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RequestforRentCommencementDate</name>
        <label>LV01 - Change Rent Commencement Date</label>
        <locationX>250</locationX>
        <locationY>442</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getRentCommencementDateRecType</targetReference>
        </connector>
        <fields>
            <name>ContractNum</name>
            <fieldText>Contract Number: {!varContractNo}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShopNumber</name>
            <fieldText>Shop Number: {!varShopNum}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TenantNam</name>
            <fieldText>Tenant Name: {!varAccountName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExistingChargeDateCommencement</name>
            <fieldText>Existing Charge Commencement Date: {!varExistingChargeCommencementDate}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewChargeCommencementDate</name>
            <dataType>Date</dataType>
            <fieldText>New Charge Commencement Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CaseReasonForDelay</name>
            <choiceReferences>ReasonForDelay</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason For Change</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ReasonForDelayComments</name>
            <fieldText>Change Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getContractDetails</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCASLVIVariancetoRentCommencementDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>CAS_LVIVariancetoRentCommencementDate</stringValue>
        </value>
    </variables>
    <variables>
        <name>varContractCurrentOutgoings</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varContractCurrentPromoAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varContractCurrentRent</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varContractNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExistingChargeCommencementDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewCreatedCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShopNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSpaceid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSpaceIdFromContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTenantNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
