flows/CON_RenumberingSpaces.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NavigatetoCase</name>
        <label>Navigate to Case</label>
        <locationX>945</locationX>
        <locationY>288</locationY>
        <actionName>c:NavigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>varNewCreatedCaseId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varNewCreatedCaseId</assignToReference>
            <name>SObject</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>isSuccess</name>
        <label>isSuccess</label>
        <locationX>804</locationX>
        <locationY>99</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SuccessfullyCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCreatedCaseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NavigatetoCase</targetReference>
            </connector>
            <label>SuccessfullyCreated</label>
        </rules>
        <rules>
            <name>CaseCreationFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCreatedCaseId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateFailed</targetReference>
            </connector>
            <label>CaseCreationFailed</label>
        </rules>
    </decisions>
    <description>LV13 - Retail Admin Lease Variations
Renumbering Spaces</description>
    <dynamicChoiceSets>
        <name>SubTypeChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SubType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <expression>&apos;LV13 - Retail Admin Lease Variations - Renumbering Spaces&apos;</expression>
    </formulas>
    <interviewLabel>CON_RenumberingSpaces {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CON_LV13RetailAdminLeaseVariationsRenumberingSpaces</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>ReverseAnInvoiceCase</name>
        <label>Create Request for Refund Case</label>
        <locationX>443</locationX>
        <locationY>224</locationY>
        <assignRecordIdToReference>varNewCreatedCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>isSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewSpaceNumber__c</field>
            <value>
                <elementReference>NewSpaceNumber_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Space__c</field>
            <value>
                <elementReference>varSpaceid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubType__c</field>
            <value>
                <stringValue>Renumbering Spaces</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>LV13 - Retail Admin Lease Variations</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>getAccountDetails</name>
        <label>getAccountDetails</label>
        <locationX>65</locationX>
        <locationY>281</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSpaceDetails</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>TradingName__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getContractDetails</name>
        <label>getContractDetails</label>
        <locationX>65</locationX>
        <locationY>112</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountDetails</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLeaseDetails</assignToReference>
            <field>JDELeaseNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpaceid</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getRecordType</name>
        <label>getRecordType</label>
        <locationX>251</locationX>
        <locationY>443</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Renumbering_Spaces</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCASLVIRetailAdminLeaseVariations</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSpaceDetails</name>
        <label>getSpaceDetails</label>
        <locationX>68</locationX>
        <locationY>444</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRecordType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSpaceid</elementReference>
            </value>
        </filters>
        <object>Space__c</object>
        <outputAssignments>
            <assignToReference>varSpaceIdFromContract</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varShopNum</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpaceNumber</assignToReference>
            <field>SpaceNumber__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_New_Space</name>
        <label>Lookup New Space</label>
        <locationX>439</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ReverseAnInvoiceCase</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewSpaceNumber_1</elementReference>
            </value>
        </filters>
        <object>Space__c</object>
        <outputAssignments>
            <assignToReference>varNewSpaceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>CreateFailed</name>
        <label>CreateFailed</label>
        <locationX>679</locationX>
        <locationY>283</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>Error on Creating Case. Check with your System Administrator.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorMessage</name>
        <label>errorMessage</label>
        <locationX>228</locationX>
        <locationY>231</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessageText</name>
            <fieldText>Sorry, but you can’t create a record at this time.

Error message: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Renumbering_Spaces</name>
        <label>Renumbering Spaces</label>
        <locationX>447</locationX>
        <locationY>448</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Lookup_New_Space</targetReference>
        </connector>
        <fields>
            <name>ContractNum</name>
            <fieldText>Contract Number: {!varLeaseDetails}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShopNumber</name>
            <fieldText>Shop Number : {!varShopNum}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TenantName</name>
            <fieldText>Tenant Name: {!varAccountName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewSpaceNumber_1</name>
            <dataType>String</dataType>
            <fieldText>New Space Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>New Space Number cannot be more than 6 characters and cannot contain any special characters</errorMessage>
                <formulaExpression>AND(
LEN({!NewSpaceNumber_1}) &lt;= 6, 
REGEX({!NewSpaceNumber_1},&quot;^(?!.*//)[a-zA-Z0-9&apos;/\r\n]+$&quot;)
)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getContractDetails</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCASLVIRetailAdminLeaseVariations</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>CAS_LVIRetailAdminLeaseVariations</stringValue>
        </value>
    </variables>
    <variables>
        <name>varContractNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeaseDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewCreatedCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewSpaceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShopNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSpaceid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSpaceIdFromContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSpaceNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
