flows/CON_ConductMarketReview.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NavigatetoCase</name>
        <label>Navigate to Case</label>
        <locationX>840</locationX>
        <locationY>213</locationY>
        <actionName>c:NavigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>varNewCreatedCaseId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varNewCreatedCaseId</assignToReference>
            <name>SObject</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>isSuccess</name>
        <label>isSuccess</label>
        <locationX>580</locationX>
        <locationY>110</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SuccessfullyCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCreatedCaseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NavigatetoCase</targetReference>
            </connector>
            <label>SuccessfullyCreated</label>
        </rules>
        <rules>
            <name>CaseCreationFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCreatedCaseId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateFailed</targetReference>
            </connector>
            <label>CaseCreationFailed</label>
        </rules>
    </decisions>
    <description>LV15 - Market Rent Review</description>
    <dynamicChoiceSets>
        <name>reasonForChangePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReasonforChange__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SubTypeChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SubType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <expression>&apos;LV15 - Market Rent Review&apos;</expression>
    </formulas>
    <interviewLabel>CON_ConductMarketReview {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CON_LV15MarketRentReview</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateConductMarketReviewCase</name>
        <label>Create Conduct Market Review Case</label>
        <locationX>401</locationX>
        <locationY>203</locationY>
        <assignRecordIdToReference>varNewCreatedCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>NewCaseLookup</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMesage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BasicMinimumRent__c</field>
            <value>
                <elementReference>BasicMinimumRent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CommentsforthatCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReviewDate__c</field>
            <value>
                <elementReference>ReviewDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Space__c</field>
            <value>
                <elementReference>varSpaceIdFromContract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>LV15 - Market Rent Review</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>getAccountDetails</name>
        <label>getAccountDetails</label>
        <locationX>54</locationX>
        <locationY>162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSpaceDetails</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>TradingName__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getContractDetails</name>
        <label>getContractDetails</label>
        <locationX>57</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountDetails</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContractNumber</assignToReference>
            <field>JDELeaseNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpaceid</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getLeaseAreaVariationRecType</name>
        <label>getLeaseAreaVariationRecType</label>
        <locationX>399</locationX>
        <locationY>291</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateConductMarketReviewCase</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCASLVIConductMarketReview</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSpaceDetails</name>
        <label>getSpaceDetails</label>
        <locationX>52</locationX>
        <locationY>273</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ConductMarketReviewCase</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSpaceid</elementReference>
            </value>
        </filters>
        <object>Space__c</object>
        <outputAssignments>
            <assignToReference>varSpaceIdFromContract</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varShopNum</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCurrentRentableArea</assignToReference>
            <field>RentableArea__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>NewCaseLookup</name>
        <label>NewCaseLookup</label>
        <locationX>401</locationX>
        <locationY>109</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isSuccess</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewCreatedCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varNewCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>ConductMarketReviewCase</name>
        <label>Conduct Market Review Case</label>
        <locationX>235</locationX>
        <locationY>192</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getLeaseAreaVariationRecType</targetReference>
        </connector>
        <fields>
            <name>ContractNum</name>
            <fieldText>Contract Number: {!varContractNumber}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShopNumber</name>
            <fieldText>Shop Number: {!varShopNum}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TenantName</name>
            <fieldText>Tenant Name: {!varAccountName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReviewDate</name>
            <dataType>Date</dataType>
            <fieldText>Review Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BasicMinimumRent</name>
            <dataType>Currency</dataType>
            <fieldText>Basic Minimum Rent</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>Please verify the Minimum Rent Amount. Allowed only upto 2 decimal places</errorMessage>
                <formulaExpression>REGEX(TEXT({!BasicMinimumRent}),&quot;[0-9]*(.[0-9][0-9]?)?&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>CommentsforthatCase</name>
            <fieldText>Comments for that Case</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CreateFailed</name>
        <label>CreateFailed</label>
        <locationX>837</locationX>
        <locationY>106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>Error on Creating Case. Check with your System Administrator.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorMesage</name>
        <label>errorMesage</label>
        <locationX>571</locationX>
        <locationY>204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMsg</name>
            <fieldText>Sorry, but you can’t create a record at this time.

Error message: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getContractDetails</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCASLVIConductMarketReview</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>CAS_LVIConductMarketReview</stringValue>
        </value>
    </variables>
    <variables>
        <name>varContractNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentRentableArea</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varNewCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewCreatedCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShopNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSpaceid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSpaceIdFromContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
