flows/CON_LV19LicenceAgreementVariation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>navigateToCase</name>
        <label>navigateToCase</label>
        <locationX>1331</locationX>
        <locationY>1037</locationY>
        <actionName>c:NavigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AssignEffectiveDateChanged</name>
        <label>AssignEffectiveDateChanged</label>
        <locationX>997</locationX>
        <locationY>1172</locationY>
        <assignmentItems>
            <assignToReference>varEffectiveDateChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProposedStartDateChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigneProposeStartDate</name>
        <label>AssigneProposeStartDate</label>
        <locationX>1007</locationX>
        <locationY>1302</locationY>
        <assignmentItems>
            <assignToReference>varProposedStartDateChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProposedEndDateChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProposedEndDateChanged</name>
        <label>AssignProposedEndDateChanged</label>
        <locationX>1014</locationX>
        <locationY>1417</locationY>
        <assignmentItems>
            <assignToReference>varProposedEndDateChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RenctCommencementDateChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRentCommencementDateChanged</name>
        <label>AssignRentCommencementDateChanged</label>
        <locationX>1029</locationX>
        <locationY>1529</locationY>
        <assignmentItems>
            <assignToReference>varRentCommencementDateChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCaseRecord</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>LVI_LicenceAgreementVariations</name>
        <dataType>String</dataType>
        <value>
            <stringValue>LV19_Licence_Agreement_Variations</stringValue>
        </value>
    </constants>
    <constants>
        <name>RentReviewLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rent Review</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CheckDates</name>
        <label>CheckDates</label>
        <locationX>625</locationX>
        <locationY>1043</locationY>
        <defaultConnector>
            <targetReference>RentWindow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isCorrect</defaultConnectorLabel>
        <rules>
            <name>isDateOutsideRange</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EffectiveDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varLeaseStartDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EffectiveDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varLeaseEndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DateRangeErrorDiplay</targetReference>
            </connector>
            <label>isDateOutsideRange</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRequiredValues</name>
        <label>checkRequiredValues</label>
        <locationX>226</locationX>
        <locationY>208</locationY>
        <defaultConnector>
            <targetReference>getOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid Contract</defaultConnectorLabel>
        <rules>
            <name>Has_Null_Values</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varOldOppId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSpaceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errorMsgScreen</targetReference>
            </connector>
            <label>Has Null Values</label>
        </rules>
    </decisions>
    <decisions>
        <name>EffectiveDateChanged</name>
        <label>EffectiveDateChanged</label>
        <locationX>783</locationX>
        <locationY>1172</locationY>
        <defaultConnector>
            <targetReference>ProposedStartDateChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoChanges1</defaultConnectorLabel>
        <rules>
            <name>Changed1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EffectiveDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEffectiveDateChanged</targetReference>
            </connector>
            <label>Changed1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Property_Equal_Opp_Property</name>
        <label>Is Account Property Equal Opp Property</label>
        <locationX>288</locationX>
        <locationY>1037</locationY>
        <defaultConnector>
            <targetReference>CaseDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppPropertyId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varAccountPropertyId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>oppPropertyError</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProposedEndDateChanged</name>
        <label>ProposedEndDateChanged</label>
        <locationX>773</locationX>
        <locationY>1422</locationY>
        <defaultConnector>
            <targetReference>RenctCommencementDateChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoChange3</defaultConnectorLabel>
        <rules>
            <name>Changed3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Proposed_End_Date1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProposedEndDateChanged</targetReference>
            </connector>
            <label>Changed3</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProposedStartDateChanged</name>
        <label>ProposedStartDateChanged</label>
        <locationX>777</locationX>
        <locationY>1311</locationY>
        <defaultConnector>
            <targetReference>ProposedEndDateChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoChanges2</defaultConnectorLabel>
        <rules>
            <name>Changed2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Proposed_Start_Date1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigneProposeStartDate</targetReference>
            </connector>
            <label>Changed2</label>
        </rules>
    </decisions>
    <decisions>
        <name>RenctCommencementDateChanged</name>
        <label>RenctCommencementDateChanged</label>
        <locationX>774</locationX>
        <locationY>1551</locationY>
        <defaultConnector>
            <targetReference>CreateCaseRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoChange4</defaultConnectorLabel>
        <rules>
            <name>Changed4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rent_Commencement_Date1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRentCommencementDateChanged</targetReference>
            </connector>
            <label>Changed4</label>
        </rules>
    </decisions>
    <formulas>
        <name>Casesubject</name>
        <dataType>String</dataType>
        <expression>&quot;LV19 - Licence Agreement variation&quot;</expression>
    </formulas>
    <formulas>
        <name>errorMsgFormula</name>
        <dataType>String</dataType>
        <expression>{!$Label.LeaseVariationErrorMessage}</expression>
    </formulas>
    <formulas>
        <name>loggedInUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>oppPropertyErrorFormula</name>
        <dataType>String</dataType>
        <expression>{!$Label.OpportunityPropertyNotEqualtoAccountProperty}</expression>
    </formulas>
    <formulas>
        <name>TotalSalesPrice</name>
        <dataType>Currency</dataType>
        <expression>{!SalesPrice} * 12</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>{!varRentCommerDate} {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CON_LV19LicenceAgreementVariation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCaseRecord</name>
        <label>CreateCaseRecord</label>
        <locationX>1153</locationX>
        <locationY>1039</locationY>
        <assignRecordIdToReference>varCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>navigateToCase</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varOldAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Annual_Minimum_Rent_Changed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Annual_Minimum_Rent__c</field>
            <value>
                <elementReference>TotalSalesPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>varComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate__c</field>
            <value>
                <elementReference>EffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Date_Changed__c</field>
            <value>
                <elementReference>varEffectiveDateChanged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOldOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>loggedInUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_End_Date_Changed__c</field>
            <value>
                <elementReference>varProposedEndDateChanged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_End_Date__c</field>
            <value>
                <elementReference>Proposed_End_Date1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Start_Date_Changed__c</field>
            <value>
                <elementReference>varProposedStartDateChanged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Start_Date__c</field>
            <value>
                <elementReference>Proposed_Start_Date1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rent_Commencement_Date_Changed__c</field>
            <value>
                <elementReference>varRentCommencementDateChanged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rent_Commencement_Date__c</field>
            <value>
                <elementReference>Rent_Commencement_Date1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Space__c</field>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Standard_Review_Type__c</field>
            <value>
                <elementReference>oppLineStandardReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubType__c</field>
            <value>
                <stringValue>Centre</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Casesubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TechNumberOfProperties__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>LV19 - Licence Agreement Variation</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>getContractReord</name>
        <label>getContractReord</label>
        <locationX>55</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkRequiredValues</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varOldAccountId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCurrentRent</assignToReference>
            <field>CurrentRent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGrossCurrentRent</assignToReference>
            <field>GrossCurrentRent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLeaseEndDate</assignToReference>
            <field>LeaseEndDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLeaseStartDate</assignToReference>
            <field>LeaseStartDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContractName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOldOppId</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPropertyId</assignToReference>
            <field>Property__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRentCommerDate</assignToReference>
            <field>RentCommencementDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSemiGrossRent</assignToReference>
            <field>SemiGrossCurrentRent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpaceId</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOpp</name>
        <label>getOpp</label>
        <locationX>423</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOppLineItem</targetReference>
        </connector>
        <filters>
            <field>ExistingContract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed - Completed</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>oldOppId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOppLineItem</name>
        <label>getOppLineItem</label>
        <locationX>438</locationX>
        <locationY>397</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_Up_To_Account</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldOppId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RentReviewLabel</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>oppLineStandardReview</assignToReference>
            <field>StandardReviewType__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Look_Up_To_Account</name>
        <label>Look Up To Account</label>
        <locationX>306</locationX>
        <locationY>399</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_Up_To_Space</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOldAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varLesseeName</assignToReference>
            <field>LesseeName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOldAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountPropertyId</assignToReference>
            <field>Property__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Look_Up_To_SBF</name>
        <label>Look Up To SBF</label>
        <locationX>298</locationX>
        <locationY>875</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_Property_Equal_Opp_Property</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLastBudgetId</elementReference>
            </value>
        </filters>
        <object>SpaceBudgetAndForecast__c</object>
        <outputAssignments>
            <assignToReference>varAnnualisedPVRentNet</assignToReference>
            <field>AnnualisedPVRentNet__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAnnualisedRentDecNet</assignToReference>
            <field>AnnualisedRentDecNet__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAnnualisedRentDecSemiGross</assignToReference>
            <field>AnnualisedRentDecSemiGross__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Look_Up_To_Space</name>
        <label>Look Up To Space</label>
        <locationX>301</locationX>
        <locationY>545</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type_Look_Up</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Record_Type_Look_Up</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </filters>
        <object>Space__c</object>
        <outputAssignments>
            <assignToReference>varLastBudgetId</assignToReference>
            <field>LatestBudget__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpaceName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Deal_Achieved_Opportunity</name>
        <label>Lookup Deal Achieved Opportunity</label>
        <locationX>299</locationX>
        <locationY>701</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_Up_To_SBF</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOldOppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varDealAchievedRent</assignToReference>
            <field>AnnualMinimumRent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOppPropertyId</assignToReference>
            <field>Property__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Record_Type_Look_Up</name>
        <label>Record Type Look Up</label>
        <locationX>478</locationX>
        <locationY>725</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Deal_Achieved_Opportunity</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LVI_LicenceAgreementVariations</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>CaseDetails</name>
        <label>CaseDetails</label>
        <locationX>468</locationX>
        <locationY>1038</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckDates</targetReference>
        </connector>
        <fields>
            <name>contractName</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Contract&lt;/b&gt;: {!varContractName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>accountName</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Account&lt;/b&gt;: {!varOldAccountName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>spaceName</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Space&lt;/b&gt;: {!varSpaceName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LeaseStartDate</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Lease Start Date&lt;/b&gt;: {!varLeaseStartDate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>leaseEndDate</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Lease End Date&lt;/b&gt;: {!varLeaseEndDate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EffectiveDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>EffectiveDate</elementReference>
            </defaultValue>
            <fieldText>EffectiveDate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Proposed_Start_Date1</name>
            <dataType>Date</dataType>
            <fieldText>Proposed Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Proposed_End_Date1</name>
            <dataType>Date</dataType>
            <fieldText>Proposed End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Rent_Commencement_Date1</name>
            <dataType>Date</dataType>
            <fieldText>Rent Commencement Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DateRangeErrorDiplay</name>
        <label>DateRangeErrorDiplay</label>
        <locationX>632</locationX>
        <locationY>1218</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DateRangeError</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(228, 33, 33);&quot;&gt;The Effective Date is not within Contract&apos;s date range.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorMsgScreen</name>
        <label>errorMsgScreen</label>
        <locationX>119</locationX>
        <locationY>393</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!errorMsgFormula}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>oppPropertyError</name>
        <label>oppPropertyError</label>
        <locationX>104</locationX>
        <locationY>1038</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>oppPropertyErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!oppPropertyErrorFormula}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RentWindow</name>
        <label>RentWindow</label>
        <locationX>820</locationX>
        <locationY>1037</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SummaryTab</targetReference>
        </connector>
        <fields>
            <name>CurrentRent</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Current Rent: &lt;/b&gt;{!varCurrentRent}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SalesPrice</name>
            <dataType>Currency</dataType>
            <fieldText>Monthly Rent (Excluding GST)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SummaryTab</name>
        <label>SummaryTab</label>
        <locationX>976</locationX>
        <locationY>1038</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EffectiveDateChanged</targetReference>
        </connector>
        <fields>
            <name>Summary</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Summary of Changes&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EffectiveDateDisplay</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Effective Date&lt;/b&gt;: {!EffectiveDate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProposedStartDateDisplayed</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Proposed Start Date&lt;/b&gt;: {!Proposed_Start_Date1}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProposedEndDateDisplayed</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Proposed End Date&lt;/b&gt;: {!Proposed_End_Date1}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RentCommencementDateDisplayed</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Rent Commencement Date&lt;/b&gt;: {!Rent_Commencement_Date1}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SalesPriceDisplay</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Monthly Rent&lt;/b&gt;: {!SalesPrice}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TotalSalesPriceDisplayed</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Annual Minimum Rent: &lt;/b&gt;{!TotalSalesPrice}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DescriptionDisplayed</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Description:&lt;/b&gt; {!Description}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getContractReord</startElementReference>
    <status>Draft</status>
    <variables>
        <name>oldOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppLineStandardReview</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountPropertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAnnualisedPVRentNet</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varAnnualisedRentDecNet</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varAnnualisedRentDecSemiGross</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContractName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentRent</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varDealAchievedRent</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varEffectiveDateChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varGrossCurrentRent</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varLastBudgetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLeaseEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLeaseStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLesseeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewProposedLeaseEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewProposedLeaseStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewSalesPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varOldAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOldAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOldOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOppPropertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPropertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProposedEndDateChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varProposedStartDateChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRentCommencementDateChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varRentCommerDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSemiGrossRent</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varSpaceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSpaceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
