flows/CONLV02VariationofSpecialtyLease.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>LeaseVariationOutgoings</name>
        <label>LeaseVariationOutgoings</label>
        <locationX>568</locationX>
        <locationY>945</locationY>
        <actionName>LeaseVariationOutgoings</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>OpportunityWizard</targetReference>
        </connector>
        <inputParameters>
            <name>flowArgsList</name>
            <value>
                <elementReference>outgoingsArgs</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>StartOpportunityClone</name>
        <label>Start Opportunity Clone</label>
        <locationX>708</locationX>
        <locationY>1226</locationY>
        <actionName>OpportunityClone</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>OpportunityCloned</targetReference>
        </connector>
        <inputParameters>
            <name>inputStrings</name>
            <value>
                <elementReference>StringInput</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varNewOppoId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ToNewOppo</name>
        <label>ToNewOppo</label>
        <locationX>948</locationX>
        <locationY>1959</locationY>
        <actionName>c:NavigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>varNewOppoId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varNewOppoId</assignToReference>
            <name>SObject</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_FitoutContribution</name>
        <label>Assign FitoutContribution</label>
        <locationX>2100</locationX>
        <locationY>2055</locationY>
        <assignmentItems>
            <assignToReference>boolFitoutContributionChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isCapitalChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Capital_Changed</name>
        <label>Assign New Capital Changed</label>
        <locationX>2208</locationX>
        <locationY>2156</locationY>
        <assignmentItems>
            <assignToReference>boolNewCapitalChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChangesDetected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContractId</name>
        <label>Assign Contract Id</label>
        <locationX>348</locationX>
        <locationY>1392</locationY>
        <assignmentItems>
            <assignToReference>StringInput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkStringInput</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignStringToCollection</name>
        <label>AssignStringToCollection</label>
        <locationX>334</locationX>
        <locationY>1267</locationY>
        <assignmentItems>
            <assignToReference>StringInput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignContractId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignUsageClauseNames</name>
        <label>assignUsageClauseNames</label>
        <locationX>1689</locationX>
        <locationY>66</locationY>
        <assignmentItems>
            <assignToReference>varUsageClauseDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!varLoopUsageClauseRecords.Name};  </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopUsageClauseRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignUsageClauseTrue</name>
        <label>assignUsageClauseTrue</label>
        <locationX>1875</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>boolUsageClauseSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CountUpdatedNumberOfGuarantor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClauseChangedY</name>
        <label>Clause Changed = Y</label>
        <locationX>2175</locationX>
        <locationY>1625</locationY>
        <assignmentItems>
            <assignToReference>boolClauseChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsGuarantorChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountNumberofContactRoles</name>
        <label>CountNumberofContactRoles</label>
        <locationX>731</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varInitialGuarantorCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varSObjectCollOpptyContactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DisplayStandardInformation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountUpdatedNumberOfGuarantor</name>
        <label>CountUpdatedNumberOfGuarantor</label>
        <locationX>1998</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>varGuarantorsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varUpdatedOpptyContactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsLesseeNameChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DateChangedY</name>
        <label>Date Changed = Y</label>
        <locationX>2166</locationX>
        <locationY>1090</locationY>
        <assignmentItems>
            <assignToReference>boolDatesChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsFinancialChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DealTypeChangedY</name>
        <label>Deal Type Changed = Y</label>
        <locationX>2173</locationX>
        <locationY>1492</locationY>
        <assignmentItems>
            <assignToReference>boolDealTypeChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsClauseChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FinancialsChangedY</name>
        <label>Financials Changed = Y</label>
        <locationX>2173</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>boolFinancialsChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsPromoLevyIncluded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GiveIDInList</name>
        <label>GiveIDInList</label>
        <locationX>150</locationX>
        <locationY>1269</locationY>
        <assignmentItems>
            <assignToReference>StringInput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOldOppoId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignStringToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GuarantorsChangedY</name>
        <label>Guarantors Changed = Y</label>
        <locationX>2170</locationX>
        <locationY>1768</locationY>
        <assignmentItems>
            <assignToReference>boolGuarantorsChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsSecurityDepositChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LesseeNameChangedY</name>
        <label>Lessee Name Changed = Y</label>
        <locationX>2215</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>boolLesseeChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdatedLesseeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LesseeName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsPercentRentChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PercentRentY</name>
        <label>Percent Rent = Y</label>
        <locationX>2116</locationX>
        <locationY>661</locationY>
        <assignmentItems>
            <assignToReference>boolPercentRentChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsRentChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PromoLevyChangedY</name>
        <label>Promo Levy Changed = Y</label>
        <locationX>2178</locationX>
        <locationY>1371</locationY>
        <assignmentItems>
            <assignToReference>boolPromoLevyChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsDealTypeChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RentChangedY</name>
        <label>Rent Changed = Y</label>
        <locationX>2166</locationX>
        <locationY>833</locationY>
        <assignmentItems>
            <assignToReference>boolRentChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsDateChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SecurityDepositChangedY</name>
        <label>Security Deposit Changed = Y</label>
        <locationX>2195</locationX>
        <locationY>1952</locationY>
        <assignmentItems>
            <assignToReference>boolSecurityDepositChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isFitoutContriChanged</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Developmentaffectedsite</name>
        <choiceText>Development affected site</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Development affected site</stringValue>
        </value>
    </choices>
    <choices>
        <name>Existingtenanttoberelocated</name>
        <choiceText>Existing tenant to be relocated</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing tenant to be relocated</stringValue>
        </value>
    </choices>
    <choices>
        <name>Extendcurrentleasebeyondblackoutperiod</name>
        <choiceText>Extend current lease beyond blackout period</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extend current lease beyond blackout period</stringValue>
        </value>
    </choices>
    <choices>
        <name>Gross</name>
        <choiceText>Gross</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gross</stringValue>
        </value>
    </choices>
    <choices>
        <name>Holdexistingtenantuntilnewmerchanttakespossession</name>
        <choiceText>Hold existing tenant until new merchant takes possession</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hold existing tenant until new merchant takes possession</stringValue>
        </value>
    </choices>
    <choices>
        <name>Net</name>
        <choiceText>Net</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Net</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewLease</name>
        <choiceText>New Lease</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Lease</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewRetailer</name>
        <choiceText>New Retailer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Retailer</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Otherextensionreasondetailsincommentsfield</name>
        <choiceText>Other extension reason (details in comments field)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other extension reason (details in comments field)</stringValue>
        </value>
    </choices>
    <choices>
        <name>SemiGross</name>
        <choiceText>Semi Gross</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Semi Gross</stringValue>
        </value>
    </choices>
    <choices>
        <name>VariationofLease</name>
        <choiceText>Variation of Lease</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Variation of Lease</stringValue>
        </value>
    </choices>
    <choices>
        <name>VariationtoLease</name>
        <choiceText>Variation to Lease</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Variation to Lease</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>LVIVariationofSpecialtyLeases</name>
        <dataType>String</dataType>
        <value>
            <stringValue>LVI - Variation of Specialty Leases</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check if atleast one of the flags are ticked</description>
        <name>ChangesDetected</name>
        <label>Changes Detected?</label>
        <locationX>1911</locationX>
        <locationY>2286</locationY>
        <defaultConnector>
            <targetReference>VariationSummary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoChangesDetected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolNewCapitalChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolClauseChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolDatesChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolDealTypeChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolFeesChargesChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolFinancialsChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolGuarantorsChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolLesseeChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolOutgoingsChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolPercentRentChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolPromoLevyChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolRentChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolRentPromoReviewsChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolSecurityDepositChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoChangesDetectedScreen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRequiredValues</name>
        <label>checkRequiredValues</label>
        <locationX>246</locationX>
        <locationY>481</locationY>
        <defaultConnector>
            <targetReference>Look_Up_To_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid Contract</defaultConnectorLabel>
        <rules>
            <name>HasNullValues</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varOldOppoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSpaceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errorMsgScreen</targetReference>
            </connector>
            <label>Has Null Values</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkStringInput</name>
        <label>checkStringInput</label>
        <locationX>599</locationX>
        <locationY>1396</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>StringInputValid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>StringInput</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>varOldOppoId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StringInput</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Type</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StartOpportunityClone</targetReference>
            </connector>
            <label>String Input Valid</label>
        </rules>
        <rules>
            <name>StringInputInvalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StringInput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createOppError</targetReference>
            </connector>
            <label>String Input Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAccountPropertyEqualOppProperty</name>
        <label>Is Account Property Equal Opp Property</label>
        <locationX>144</locationX>
        <locationY>1115</locationY>
        <defaultConnector>
            <targetReference>GiveIDInList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppPropertyId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varAccountPropertyId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>oppPropertyError</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>isCapitalChanged</name>
        <label>isCapitalChanged</label>
        <locationX>1595</locationX>
        <locationY>2112</locationY>
        <defaultConnector>
            <targetReference>ChangesDetected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Capital_Changed</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>boolCapitalChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolFitoutContributionChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Capital_Changed</targetReference>
            </connector>
            <label>Capital Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsClauseChanged</name>
        <label>Is Clause Changed</label>
        <locationX>1425</locationX>
        <locationY>1596</locationY>
        <defaultConnector>
            <targetReference>IsGuarantorChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes10</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varInitialSpecialConditionClause</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varSpecialConditionClause</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInitialUsageClause</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varUsageClause</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolClauseChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNewOpptyUsageClause</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varOldOpptyUsageClause</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClauseChangedY</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsDateChanged</name>
        <label>Is Date Changed</label>
        <locationX>1643</locationX>
        <locationY>1010</locationY>
        <defaultConnector>
            <targetReference>IsFinancialChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesDateChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varInitialTermDay</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varTermDays</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInitialTermMonths</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varTermMonth</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInitialTermYears</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varTermYear</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInitialProposedRentCommencementDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varProposedRentCommencementDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInitialProposedStartDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varInitialProposedStartDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInitialProposedEndDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varProposedEndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DateChangedY</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsDealTypeChanged</name>
        <label>Is Deal Type Changed</label>
        <locationX>1558</locationX>
        <locationY>1415</locationY>
        <defaultConnector>
            <targetReference>IsClauseChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDealType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varInitialDealType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DealTypeChangedY</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Effective Date is between Proposed Start Date and Proposed End Date</description>
        <name>isEffectiveDateValidForLeaseStartDate</name>
        <label>isEffectiveDateValidForLeaseStartDate</label>
        <locationX>824</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>errorEffectiveDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EffectiveDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varLeaseStartDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SpecialConditions</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsEffectiveDateValidForProposedRentCommencementDate</name>
        <label>IsEffectiveDateValidForProposedRentCommencementDate</label>
        <locationX>698</locationX>
        <locationY>699</locationY>
        <defaultConnector>
            <targetReference>errorEffectiveDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ValidEffectiveDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EffectiveDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varProposedRentCommencementDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SpecialConditions</targetReference>
            </connector>
            <label>ValidEffectiveDate</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsFinancialChanged</name>
        <label>Is Financial Changed</label>
        <locationX>1390</locationX>
        <locationY>1164</locationY>
        <defaultConnector>
            <targetReference>IsPromoLevyIncluded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesFinancialsChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varFitoutContribution</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varInitialFitoutContribution</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varGuaranteesType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolCapitalChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FinancialsChangedY</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isFitoutContriChanged</name>
        <label>isFitoutContriChanged</label>
        <locationX>1460</locationX>
        <locationY>2007</locationY>
        <defaultConnector>
            <targetReference>isCapitalChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fitout_Contribtution_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFitoutContribution</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varInitialFitoutContribution</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_FitoutContribution</targetReference>
            </connector>
            <label>Fitout Contribtution Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsGuarantorChanged</name>
        <label>Is Guarantor Changed</label>
        <locationX>1571</locationX>
        <locationY>1734</locationY>
        <defaultConnector>
            <targetReference>IsSecurityDepositChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInitialGuarantorCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varGuarantorsCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GuarantorsChangedY</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLesseeNameChanged</name>
        <label>Is Lessee Name Changed</label>
        <locationX>1472</locationX>
        <locationY>712</locationY>
        <defaultConnector>
            <targetReference>IsPercentRentChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLesseeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>LesseeName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LesseeNameChangedY</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPercentRentChanged</name>
        <label>Is Percent Rent Changed</label>
        <locationX>1610</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>IsRentChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPercentRentChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varPercentRentPercent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPercentRentIncluded</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varInitialPercentRentIncluded</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varForecastedTurnover</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varBreakType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varInitialBreakType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PercentRentY</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPromoLevyIncluded</name>
        <label>Is Promo Levy Included</label>
        <locationX>1743</locationX>
        <locationY>1304</locationY>
        <defaultConnector>
            <targetReference>IsDealTypeChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varPromoLevyIncluded</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varInitialPromoLevyInclude</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInitialPromoFund</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varFinalPromoFund</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PromoLevyChangedY</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsRentChanged</name>
        <label>Is Rent Changed</label>
        <locationX>1643</locationX>
        <locationY>853</locationY>
        <defaultConnector>
            <targetReference>IsDateChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesRentChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAnnualMinimumRent</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varInitialAnnualMinimumRent</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RentChangedY</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsSecurityDepositChanged</name>
        <label>Is Security Deposit Changed</label>
        <locationX>1410</locationX>
        <locationY>1866</locationY>
        <defaultConnector>
            <targetReference>isFitoutContriChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesSecurityDepositChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varSecurityDeposit</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varInitialSecurityDepositAmount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSecurityDepositMonths</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSecurityDepositWeeks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSecurityDepositDays</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSecurityDepositType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SecurityDepositChangedY</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lease_Start_Date_Earlier_than_Proposed_Rent_Commencement_Date</name>
        <label>Lease Start Date Earlier than Proposed Rent Commencement Date</label>
        <locationX>667</locationX>
        <locationY>442</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lease_Start_Date_Earlier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLeaseStartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varProposedRentCommencementDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isEffectiveDateValidForLeaseStartDate</targetReference>
            </connector>
            <label>Lease Start Date Earlier</label>
        </rules>
        <rules>
            <name>Proposed_Rent_Commencement_Date_Earlier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProposedRentCommencementDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varLeaseStartDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsEffectiveDateValidForProposedRentCommencementDate</targetReference>
            </connector>
            <label>Proposed Rent Commencement Date Earlier</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpportunityCloned</name>
        <label>Opportunity Cloned?</label>
        <locationX>878</locationX>
        <locationY>1249</locationY>
        <defaultConnector>
            <targetReference>OpportunityCreationFailed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewOppoId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QueryInitialClonedOpportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Usage_Clause</name>
        <label>Selected Usage Clause</label>
        <locationX>1503</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>CountUpdatedNumberOfGuarantor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SelectedUsageClauseTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedUsageClause</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignUsageClauseTrue</targetReference>
            </connector>
            <label>SelectedUsageClauseTrue</label>
        </rules>
    </decisions>
    <description>This flow is used to raise LV02 on a Contract.</description>
    <dynamicChoiceSets>
        <name>OpportunityDealType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DealType__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PromoLevyIncluded</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PromoLevyIncluded__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;LV02 - Variation of Specialty Lease - &quot; + {!Type}</expression>
    </formulas>
    <formulas>
        <name>errorMsgFormula</name>
        <dataType>String</dataType>
        <expression>{!$Label.LeaseVariationErrorMessage}</expression>
    </formulas>
    <formulas>
        <name>oppErrorMsgFormula</name>
        <dataType>String</dataType>
        <expression>{!$Label.OpportunityCreateError}</expression>
    </formulas>
    <formulas>
        <name>oppPropertyErrorFormula</name>
        <dataType>String</dataType>
        <expression>{!$Label.OpportunityPropertyNotEqualtoAccountProperty}</expression>
    </formulas>
    <formulas>
        <name>outgoingsArgs</name>
        <dataType>String</dataType>
        <expression>&apos;OpportunityId:&apos; + {!varNewOppoId} + &apos;;&apos; + &apos;ContractId:&apos; + {!recordId} + &apos;;&apos; + &apos;EffectiveDate:&apos; + TEXT({!EffectiveDate})</expression>
    </formulas>
    <formulas>
        <name>TrimmedError</name>
        <dataType>String</dataType>
        <expression>MID({!$Flow.FaultMessage}, 67, 255)</expression>
    </formulas>
    <formulas>
        <name>varMarkCapitalChanged</name>
        <dataType>String</dataType>
        <expression>IF( {!boolNewCapitalChanged} = true, &quot;Capital Changed = Yes&quot;, null)</expression>
    </formulas>
    <formulas>
        <name>varMarkClauseChanged</name>
        <dataType>String</dataType>
        <expression>IF( {!boolClauseChanged} = true, &quot;Usage or Special Conditions Clause Changed = Yes&quot;, null)</expression>
    </formulas>
    <formulas>
        <name>varMarkDateChanged</name>
        <dataType>String</dataType>
        <expression>IF({!boolDatesChanged} = true, &quot;Dates Changed = Yes&quot;, null)</expression>
    </formulas>
    <formulas>
        <name>varMarkDealTypeChanged</name>
        <dataType>String</dataType>
        <expression>IF( {!boolDealTypeChanged} = true, &quot;Deal Type Changed = Yes&quot;, null)</expression>
    </formulas>
    <formulas>
        <name>varMarkFeesChargesChanged</name>
        <dataType>String</dataType>
        <expression>IF({!boolFeesChargesChanged} = true, &quot;Fees Charges Changed = Yes&quot;, null)</expression>
    </formulas>
    <formulas>
        <name>varMarkFinancialsChanged</name>
        <dataType>String</dataType>
        <expression>IF({!boolFinancialsChanged} = true, &quot;Financials Changed = Yes&quot;, null)</expression>
    </formulas>
    <formulas>
        <name>varMarkGuarantorsChanged</name>
        <dataType>String</dataType>
        <expression>IF( {!boolGuarantorsChanged} = true, &quot;Guarantors Changed = Yes&quot;, null)</expression>
    </formulas>
    <formulas>
        <name>varMarkLesseeChanged</name>
        <dataType>String</dataType>
        <expression>IF({!boolLesseeChanged} = true, &quot;Lessee Name Updated = Yes&quot;, null)</expression>
    </formulas>
    <formulas>
        <name>varMarkOutgoingsChanged</name>
        <dataType>String</dataType>
        <expression>IF( {!boolOutgoingsChanged} = true, &quot;Outgoings Changed = Yes&quot;, null)</expression>
    </formulas>
    <formulas>
        <name>varMarkPercentRentChanged</name>
        <dataType>String</dataType>
        <expression>IF({!boolPercentRentChanged} = true, &quot;Percent Rent Changed = Yes&quot;, null)</expression>
    </formulas>
    <formulas>
        <name>varMarkPromoLevyChanged</name>
        <dataType>String</dataType>
        <expression>IF({!boolPromoLevyChanged} = true, &quot;Promo Levy Changed = Yes&quot;, null)</expression>
    </formulas>
    <formulas>
        <name>varMarkRentChanged</name>
        <dataType>String</dataType>
        <expression>IF({!boolRentChanged} = true, &quot;Rent Changed = Yes&quot;, null)</expression>
    </formulas>
    <formulas>
        <name>varMarkReviewLineItems</name>
        <dataType>String</dataType>
        <expression>IF({!boolRentPromoReviewsChanged} = true, &quot;Rent or Promo Review Updated = Yes&quot;, null)</expression>
    </formulas>
    <formulas>
        <name>varMarkSecurityDepositChanged</name>
        <dataType>String</dataType>
        <expression>IF( {!boolSecurityDepositChanged} = true, &quot;Security Deposit Changed = Yes&quot;, null)</expression>
    </formulas>
    <formulas>
        <name>varSummaryDescription</name>
        <dataType>String</dataType>
        <expression>IF( {!boolLesseeChanged} = true, &apos;Lessee Name : &apos; + {!LesseeName},&apos;&apos;)+{!varChanges}+ {!varRentChanges}+{!varFinancialChanges}+{!varViewItems}+{!varClauseChanges}+{!varMarkGuarantorsChanged}</expression>
    </formulas>
    <interviewLabel>CON_LV02VariationofSpecialtyLease {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CON_LV02VariationofSpecialtyLease</label>
    <loops>
        <name>loopUsageClauseRecords</name>
        <label>loopUsageClauseRecords</label>
        <locationX>1453</locationX>
        <locationY>100</locationY>
        <assignNextValueToReference>varLoopUsageClauseRecords</assignNextValueToReference>
        <collectionReference>varSelectedUsageClause</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignUsageClauseNames</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Selected_Usage_Clause</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCase</name>
        <label>Create Case</label>
        <locationX>1243</locationX>
        <locationY>1939</locationY>
        <assignRecordIdToReference>varCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>QueryCreatedCase</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varOldAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capital__c</field>
            <value>
                <elementReference>boolNewCapitalChanged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DealType__c</field>
            <value>
                <elementReference>boolDealTypeChanged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>VariationDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate__c</field>
            <value>
                <elementReference>EffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedOutgoings__c</field>
            <value>
                <elementReference>boolOutgoingsChanged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExtensionReason__c</field>
            <value>
                <elementReference>ExtensionReasonInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financials__c</field>
            <value>
                <elementReference>boolFinancialsChanged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Guarantees__c</field>
            <value>
                <elementReference>boolGuarantorsChanged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KeyDates__c</field>
            <value>
                <elementReference>boolDatesChanged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LesseeName__c</field>
            <value>
                <elementReference>boolLesseeChanged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OldOpportunity__c</field>
            <value>
                <elementReference>varOldOppoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varNewOppoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PercentageRent__c</field>
            <value>
                <elementReference>boolPercentRentChanged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PromoLevy__c</field>
            <value>
                <elementReference>boolPromoLevyChanged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rent__c</field>
            <value>
                <elementReference>boolRentChanged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RentandPromoReview__c</field>
            <value>
                <elementReference>boolRentPromoReviewsChanged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SecDeposit__c</field>
            <value>
                <elementReference>boolSecurityDepositChanged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Space__c</field>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpecialConditions__c</field>
            <value>
                <elementReference>boolClauseChanged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubType__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>LV02 -Variation of Specialty Lease</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsageClauseChanges__c</field>
            <value>
                <elementReference>varUsageClauseDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsageClause__c</field>
            <value>
                <elementReference>boolUsageClauseSelected</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>getOpptyUsageClause</name>
        <label>getOpptyUsageClause</label>
        <locationX>1174</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSelectedUsageClause</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewOppoId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varNewOpptyUsageClause</assignToReference>
            <field>UsageClause__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSelectedUsageClause</name>
        <label>getSelectedUsageClause</label>
        <locationX>1230</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopUsageClauseRecords</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewOppoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Usage</stringValue>
            </value>
        </filters>
        <object>OpportunityClause__c</object>
        <outputReference>varSelectedUsageClause</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Look_Up_To_Account</name>
        <label>Look Up To Account</label>
        <locationX>296</locationX>
        <locationY>717</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_Up_To_Space</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOldAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varLesseeName</assignToReference>
            <field>LesseeName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountPropertyId</assignToReference>
            <field>Property__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Look_Up_To_SBF</name>
        <label>Look Up To SBF</label>
        <locationX>315</locationX>
        <locationY>986</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TypeSelection</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLastBudgetId</elementReference>
            </value>
        </filters>
        <object>SpaceBudgetAndForecast__c</object>
        <outputAssignments>
            <assignToReference>varAnnualisedPVRentNet</assignToReference>
            <field>AnnualisedPVRentNet__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAnnualisedRentDecNet</assignToReference>
            <field>AnnualisedRentDecNet__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAnnualisedRentDecSemiGross</assignToReference>
            <field>AnnualisedRentDecSemiGross__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Look_Up_To_Space</name>
        <label>Look Up To Space</label>
        <locationX>156</locationX>
        <locationY>855</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupDealAchievedOpportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </filters>
        <object>Space__c</object>
        <outputAssignments>
            <assignToReference>varLastBudgetId</assignToReference>
            <field>LatestBudget__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupContactRoles</name>
        <label>LookupContactRoles</label>
        <locationX>917</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountNumberofContactRoles</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewOppoId</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>varSObjectCollOpptyContactRole</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupDealAchievedOpportunity</name>
        <label>Lookup Deal Achieved Opportunity</label>
        <locationX>322</locationX>
        <locationY>849</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_Up_To_SBF</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOldOppoId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varDealAchievedRent</assignToReference>
            <field>AnnualMinimumRent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOppPropertyId</assignToReference>
            <field>Property__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookUpForContract</name>
        <label>Look Up For Contract</label>
        <locationX>57</locationX>
        <locationY>624</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkRequiredValues</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varOldAccountId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCurrentRent</assignToReference>
            <field>CurrentRent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGrossCurrentRent</assignToReference>
            <field>GrossCurrentRent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLeaseEndDate</assignToReference>
            <field>LeaseEndDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLeaseStartDate</assignToReference>
            <field>LeaseStartDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOldOppoId</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRentCommerDate</assignToReference>
            <field>RentCommencementDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSemiGrossRent</assignToReference>
            <field>SemiGrossCurrentRent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCurrentSemiGrossRent</assignToReference>
            <field>SemiGrossCurrentRent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpaceId</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>QueryCreatedCase</name>
        <label>Query Created Case</label>
        <locationX>1155</locationX>
        <locationY>2226</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateOpportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varChanges</assignToReference>
            <field>Changes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varClauseChanges</assignToReference>
            <field>ClauseChanges__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFinancialChanges</assignToReference>
            <field>FinancialChanges__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRentChanges</assignToReference>
            <field>RentChanges__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varViewItems</assignToReference>
            <field>ViewItems__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>QueryInitialClonedOpportunity</name>
        <label>Query Initial Cloned Opportunity</label>
        <locationX>1078</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupContactRoles</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewOppoId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varInitialAnnualMinimumRent</assignToReference>
            <field>AnnualMinimumRent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInitialBreakType</assignToReference>
            <field>BreakType__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInitialDealType</assignToReference>
            <field>DealType__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInitialFitoutContribution</assignToReference>
            <field>FitoutContribution__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInitialGuarantorCount</assignToReference>
            <field>NumberofGuarantors__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInitialPercentRentIncluded</assignToReference>
            <field>PercentageRentIncluded__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>boolInitialPercentRentInclude</assignToReference>
            <field>PercentageRentIncluded__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInitialPromoLevyInclude</assignToReference>
            <field>PromoLevyIncluded__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInitialProposedEndDate</assignToReference>
            <field>ProposedEndDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInitialProposedRentCommencementDate</assignToReference>
            <field>ProposedRentCommencementDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInitialProposedStartDate</assignToReference>
            <field>ProposedStartDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInitialSecurityDepositDays</assignToReference>
            <field>SecurityDepositDays__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInitialSecurityDepositAmount</assignToReference>
            <field>SecurityDeposit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInitialSpecialConditionClause</assignToReference>
            <field>TechSpecialConditionClause__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInitialUsageClause</assignToReference>
            <field>Tech_UsageClause__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInitialTermDay</assignToReference>
            <field>TermDays__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInitialTermMonths</assignToReference>
            <field>TermMonths__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInitialTermYears</assignToReference>
            <field>TermYr__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInitialPromoFund</assignToReference>
            <field>TotalPromotionLevy__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpportunityType</assignToReference>
            <field>Type</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNewOpptyUsageClause</assignToReference>
            <field>UsageClause__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>QueryOpportunityContactRole</name>
        <label>QueryOpportunityContactRole</label>
        <locationX>547</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lease_Start_Date_Earlier_than_Proposed_Rent_Commencement_Date</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewOppoId</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>varUpdatedOpptyContactRole</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>QueryUpdatedOpportunity</name>
        <label>Query Updated Opportunity</label>
        <locationX>390</locationX>
        <locationY>418</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QueryOpportunityContactRole</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewOppoId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varAnnualMinimumRent</assignToReference>
            <field>AnnualMinimumRent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBreakType</assignToReference>
            <field>BreakType__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDealType</assignToReference>
            <field>DealType__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFitoutContribution</assignToReference>
            <field>FitoutContribution__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFitoutContribution</assignToReference>
            <field>FitoutContribution__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varForecastedTurnover</assignToReference>
            <field>ForecastedTurnoverYear1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGuaranteesType</assignToReference>
            <field>GuaranteesType__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGuarantorsCount</assignToReference>
            <field>NumberofGuarantors__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPercentRentAmount</assignToReference>
            <field>PercentageRentAmount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPercentRentIncluded</assignToReference>
            <field>PercentageRentIncluded__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPercentRentPercent</assignToReference>
            <field>PercentageRentPercent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPromoLevyIncluded</assignToReference>
            <field>PromoLevyIncluded__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProposedEndDate</assignToReference>
            <field>ProposedEndDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProposedRentCommencementDate</assignToReference>
            <field>ProposedRentCommencementDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProposedStartDate</assignToReference>
            <field>ProposedStartDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSecurityDepositDays</assignToReference>
            <field>SecurityDepositDays__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSecurityDepositMonths</assignToReference>
            <field>SecurityDepositMonths__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSecurityDepositType</assignToReference>
            <field>SecurityDepositType__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSecurityDepositWeeks</assignToReference>
            <field>SecurityDepositWeeks__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSecurityDeposit</assignToReference>
            <field>SecurityDeposit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>boolCapitalChanged</assignToReference>
            <field>TechCapitalChanged__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>boolClauseChanged</assignToReference>
            <field>TechClauseChanged__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>boolFeesChargesChanged</assignToReference>
            <field>TechFeeChargesChanged__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>boolOutgoingsChanged</assignToReference>
            <field>TechOutgoingsChanged__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>boolRentPromoReviewsChanged</assignToReference>
            <field>TechReviewItemsChanged__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpecialConditionClause</assignToReference>
            <field>TechSpecialConditionClause__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUsageClause</assignToReference>
            <field>Tech_UsageClause__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTermDays</assignToReference>
            <field>TermDays__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTermMonth</assignToReference>
            <field>TermMonths__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTermYear</assignToReference>
            <field>TermYr__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFinalPromoFund</assignToReference>
            <field>TotalPromotionLevy__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOldOpptyUsageClause</assignToReference>
            <field>UsageClause__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RecordTypeLookUp</name>
        <label>Record Type Look Up</label>
        <locationX>432</locationX>
        <locationY>627</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QueryUpdatedOpportunity</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LVIVariationofSpecialtyLeases</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOpportunity</name>
        <label>Update Opportunity</label>
        <locationX>968</locationX>
        <locationY>2244</locationY>
        <connector>
            <targetReference>ToNewOppo</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewOppoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>VariationDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpecialtyLeaseCase__c</field>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Propose &amp; Accept</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TechLesseeName__c</field>
            <value>
                <elementReference>varUpdatedLesseeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VariationChanges__c</field>
            <value>
                <elementReference>varSummaryDescription</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>createOppError</name>
        <label>createOppError</label>
        <locationX>511</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorOppText</name>
            <fieldText>{!oppErrorMsgFormula}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplayStandardInformation</name>
        <label>Display Standard Information</label>
        <locationX>582</locationX>
        <locationY>1083</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LeaseVariationOutgoings</targetReference>
        </connector>
        <fields>
            <name>LAType</name>
            <fieldText>LA Type : {!varOpportunityType}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SemiGrossCurrentRent</name>
            <fieldText>Semi Gross Current Rent : {!varCurrentSemiGrossRent}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GrossCurrentRentD</name>
            <fieldText>Gross Current Rent : {!varGrossCurrentRent}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LTFPVBudgetRent</name>
            <fieldText>LTFPV Budget Rent : {!varAnnualisedPVRentNet}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Dec12BudgetRent</name>
            <fieldText>Dec*12 Budget Rent : {!varAnnualisedRentDecSemiGross}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CurrentRentD</name>
            <fieldText>Current Rent : {!varCurrentRent}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DealAchievedRent</name>
            <fieldText>Deal Achieved Rent : {!varDealAchievedRent}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LesseeName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varLesseeName</elementReference>
            </defaultValue>
            <fieldText>Lessee Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EffectiveDate</name>
            <dataType>Date</dataType>
            <fieldText>Effective Date (Effective Date cannot be less than Lease Start Date or Proposed Rent Commencement Date)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorEffectiveDate</name>
        <label>Invalid Effective Date</label>
        <locationX>939</locationX>
        <locationY>837</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errEffMess</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Effective Date cannot be less than Lease Start Date or Proposed Rent Commencement Date&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorMsgScreen</name>
        <label>errorMsgScreen</label>
        <locationX>172</locationX>
        <locationY>715</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorText</name>
            <fieldText>{!errorMsgFormula}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoChangesDetectedScreen</name>
        <label>No Changes Detected</label>
        <locationX>1987</locationX>
        <locationY>2452</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>VariationSummary</targetReference>
        </connector>
        <fields>
            <name>NoChangesDetectedDisplay</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;The system didn&apos;t detect any change for Variation. Please ensure that you have saved your changes in the Wizard.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;
&lt;BR&gt;&lt;/BR&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;If you wish to proceed further, the changes will not be reflected in JDE.&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OpportunityCreationFailed</name>
        <label>Opportunity Creation Failed</label>
        <locationX>1028</locationX>
        <locationY>1342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayText</name>
            <fieldText>Sorry, there was a problem creating a variation lease. Please check with the administrator if the related opportunity is valid.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FaultError</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OpportunityWizard</name>
        <label>OpportunityWizard</label>
        <locationX>515</locationX>
        <locationY>765</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RecordTypeLookUp</targetReference>
        </connector>
        <fields>
            <name>oppoWizard</name>
            <extensionName>c:OpportunityWizard</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varNewOppoId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varNewOppoId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>DisplayText3</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Note: Please give a brief description of the changes done as part of this variation which will be forwarded in the email approval to RM/GM&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VariationDescription</name>
            <fieldText>Variation Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>oppPropertyError</name>
        <label>oppPropertyError</label>
        <locationX>336</locationX>
        <locationY>1125</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>oppPropertyErrorText</name>
            <fieldText>{!oppPropertyErrorFormula}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SpecialConditions</name>
        <label>Special Conditions</label>
        <locationX>1063</locationX>
        <locationY>304</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getOpptyUsageClause</targetReference>
        </connector>
        <fields>
            <name>Clauses</name>
            <extensionName>c:ClauseSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varNewOppoId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varNewOppoId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ExtensionReasonInput</name>
            <choiceReferences>Extendcurrentleasebeyondblackoutperiod</choiceReferences>
            <choiceReferences>Holdexistingtenantuntilnewmerchanttakespossession</choiceReferences>
            <choiceReferences>Developmentaffectedsite</choiceReferences>
            <choiceReferences>Existingtenanttoberelocated</choiceReferences>
            <choiceReferences>Otherextensionreasondetailsincommentsfield</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Extension Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Please enter a value if the Extension Reason is choosen as &apos;Other extension reason details&apos;</errorMessage>
                <formulaExpression>{!ExtensionReasonInput}={!Otherextensionreasondetailsincommentsfield}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TypeSelection</name>
        <label>Type Selection</label>
        <locationX>148</locationX>
        <locationY>971</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsAccountPropertyEqualOppProperty</targetReference>
        </connector>
        <fields>
            <name>Type</name>
            <choiceReferences>VariationtoLease</choiceReferences>
            <choiceReferences>VariationofLease</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayHelpText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Note: Select &amp;apos;Variation to Lease&amp;apos; if no documentation works is required, or select &amp;apos;Variation of Lease&amp;apos; to include documentation works&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VariationSummary</name>
        <label>Variation Summary</label>
        <locationX>1497</locationX>
        <locationY>2366</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateCase</targetReference>
        </connector>
        <fields>
            <name>ScreenSummary</name>
            <fieldText>The variation has been raised with the following changes

Effective Date :  {!EffectiveDate}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenVariationDescription</name>
            <fieldText>Variation Summary : {!VariationDescription}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenDealTypeChanged</name>
            <fieldText>{!varMarkDealTypeChanged}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenLesseeChanged</name>
            <fieldText>{!varMarkLesseeChanged}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenRentChanged</name>
            <fieldText>{!varMarkRentChanged}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenPercentRentChanged</name>
            <fieldText>{!varMarkPercentRentChanged}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenPromoLevyChanged</name>
            <fieldText>{!varMarkPromoLevyChanged}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenDateChanged</name>
            <fieldText>{!varMarkDateChanged}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenReviewLineItemsChanged</name>
            <fieldText>{!varMarkReviewLineItems}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenFinancialsChanged</name>
            <fieldText>{!varMarkFinancialsChanged}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SecurityDepositChanged</name>
            <fieldText>{!varMarkSecurityDepositChanged}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenOutgoingsChanged</name>
            <fieldText>{!varMarkOutgoingsChanged}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenFeesChargesChanged</name>
            <fieldText>{!varMarkFeesChargesChanged}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenCapitalChanged</name>
            <fieldText>{!varMarkCapitalChanged}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenClauseChanged</name>
            <fieldText>{!varMarkClauseChanged}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenGuarantorsChanged</name>
            <fieldText>{!varMarkGuarantorsChanged}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>LookUpForContract</startElementReference>
    <status>Active</status>
    <variables>
        <name>boolCapitalChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolClauseChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolDatesChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolDealTypeChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolFeesChargesChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolFinancialsChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolFitoutContributionChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolGuarantorsChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolInitialPercentRentInclude</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>boolLesseeChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolNewCapitalChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolOutgoingsChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolPercentRentChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolPromoLevyChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolRentChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolRentPromoReviewsChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolSecurityDepositChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolUsageClauseSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>outgoingArgsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StringInput</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountPropertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAnnualisedPVRentNet</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varAnnualisedRentDecNet</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varAnnualisedRentDecSemiGross</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varAnnualMinimumRent</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varBreakType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varChanges</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClauseChanges</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContributionAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varCurrentRent</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varCurrentSemiGrossRent</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varDealAchievedRent</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varDealType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinalPromoFund</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varFinancialChanges</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFitoutContribution</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varForecastedTurnover</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varGrossCurrentRent</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varGuaranteesType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGuarantorsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varHandoverDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInitialAnnualMinimumRent</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varInitialBreakType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInitialDealType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInitialFitoutContribution</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varInitialGuarantorCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varInitialPercentRentIncluded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInitialPromoFund</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varInitialPromoLevyInclude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInitialProposedEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInitialProposedRentCommencementDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInitialProposedStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInitialSecurityDepositAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varInitialSecurityDepositDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varInitialSpecialConditionClause</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varInitialTermDay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varInitialTermMonths</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varInitialTermYears</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varInitialUsageClause</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varLastBudgetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLeaseEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLeaseStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLesseeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLoopUsageClauseRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityClause__c</objectType>
    </variables>
    <variables>
        <name>varNewOppoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewOpptyUsageClause</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOldAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOldOppoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOldOpptyUsageClause</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOldOptyCurrentRent</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varOldOptyDealType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varOldOptyTotalPromoLevy</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varOpportunityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOppPropertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPercentRentAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varPercentRentIncluded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPercentRentPercent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varPromoLevyIncluded</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProposedEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProposedRentCommencementDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProposedStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRentChanges</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRentCommerDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSecurityDeposit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varSecurityDepositDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varSecurityDepositMonths</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varSecurityDepositType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSecurityDepositWeeks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varSelectedUsageClause</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityClause__c</objectType>
    </variables>
    <variables>
        <name>varSemiGrossRent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varSObjectCollOpptyContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>varSpaceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSpecialConditionClause</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTermDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varTermMonth</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varTermYear</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varUpdatedLesseeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUpdatedOpptyContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>varUsageClause</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varUsageClauseDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varViewItems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
