flows/CreateAffliation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>assign_id_to_verTempAccountId</name>
        <label>assign id to verTempAccountId</label>
        <locationX>909</locationX>
        <locationY>1482</locationY>
        <assignmentItems>
            <assignToReference>varTempAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getidsofallnewlycreatedaffiliations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignaffiliationrecordtopropertybasedaccounts</name>
        <label>assign affiliation record to property based accounts</label>
        <locationX>1522</locationX>
        <locationY>1556</locationY>
        <assignmentItems>
            <assignToReference>sObjectAffiliationPropertyBasedAccount.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTempAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectAffiliationPropertyBasedAccount.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjAffiliationIds.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectAffiliationPropertyBasedAccount.PrimaryAffiliationAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjAffiliationIds.PrimaryAffiliationAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectAffiliationPropertyBasedAccount.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectAffiliationPropertyBasedAccount.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjAffiliationIds.Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>storeallaffiliationatpropertybasedaccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignidtosobjectAccountId</name>
        <label>Assign id to sobjectAccountId</label>
        <locationX>1219</locationX>
        <locationY>1352</locationY>
        <assignmentItems>
            <assignToReference>varTempAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjpropertybasedofchildgroup.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getidsofallnewlycreatedaffiliations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Removeallrecordfromscollpropertybased</name>
        <label>Remove all record from scollpropertybased</label>
        <locationX>952</locationX>
        <locationY>1749</locationY>
        <assignmentItems>
            <assignToReference>sCollAffiliationProertyBased</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptySCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkthetempvariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setTempvartoFalse</name>
        <label>set Temp var to False</label>
        <locationX>965</locationX>
        <locationY>1347</locationY>
        <assignmentItems>
            <assignToReference>varTemp</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>False</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAllaccountsrelatedtoparentaccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setthetempvariabletoTRUE</name>
        <label>set the temp variable to TRUE</label>
        <locationX>644</locationX>
        <locationY>1257</locationY>
        <assignmentItems>
            <assignToReference>varTemp</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>True</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>extractallpropertybasedaccountsofchildgroup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>storeallaffiliationatpropertybasedaccounts</name>
        <label>store all affiliation at property based accounts</label>
        <locationX>1516</locationX>
        <locationY>1445</locationY>
        <assignmentItems>
            <assignToReference>sCollAffiliationProertyBased</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObjectAffiliationPropertyBasedAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getidsofallnewlycreatedaffiliations</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Australia</name>
        <choiceText>Australia</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>AustralianCapitalTerritory</name>
        <choiceText>Australian Capital Territory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ACT</stringValue>
        </value>
    </choices>
    <choices>
        <name>CompanywithParentGuarantees</name>
        <choiceText>Company with Parent Guarantees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Company with Parent Guarantees</stringValue>
        </value>
    </choices>
    <choices>
        <name>CompanywithPersonalGuarantees</name>
        <choiceText>Company with Personal Guarantees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Company with Personal Guarantees</stringValue>
        </value>
    </choices>
    <choices>
        <name>Corporate</name>
        <choiceText>Corporate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Corporate</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewSouthWales</name>
        <choiceText>New South Wales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NSW</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoAddMoreGuarantors</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NorthernTerritory</name>
        <choiceText>Northern Territory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Personal</name>
        <choiceText>Personal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Personal</stringValue>
        </value>
    </choices>
    <choices>
        <name>PersonalGuaranteesbyFranchisee</name>
        <choiceText>Personal Guarantees by Franchisee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Personal Guarantees by Franchisee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Queensland</name>
        <choiceText>Queensland</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QLD</stringValue>
        </value>
    </choices>
    <choices>
        <name>SouthAustralia</name>
        <choiceText>South Australia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tasmania</name>
        <choiceText>Tasmania</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TAS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Victoria</name>
        <choiceText>Victoria</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VIC</stringValue>
        </value>
    </choices>
    <choices>
        <name>WesternAustralia</name>
        <choiceText>Western Australia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WA</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesAddMoreGuarantors</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Checkifchildaccountisgroupbased</name>
        <label>Check if child account is group based</label>
        <locationX>644</locationX>
        <locationY>1391</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YesChildGroup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAcctRecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varGroupAccountRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setthetempvariabletoTRUE</targetReference>
            </connector>
            <label>YesChildGroup</label>
        </rules>
        <rules>
            <name>NoGroupChild</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAcctRecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varGroupAccountRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_id_to_verTempAccountId</targetReference>
            </connector>
            <label>NoGroupChild</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckifGroupbasedaccount</name>
        <label>Check if Group based account</label>
        <locationX>242</locationX>
        <locationY>1586</locationY>
        <defaultConnector>
            <targetReference>SuccessMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YesGroup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACCGroupLevel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>extractallpropertybasedaccounts</targetReference>
            </connector>
            <label>YesGroup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checkifuserwantstoaddmoreguarantors</name>
        <label>Check if user wants to add more guarantors</label>
        <locationX>252</locationX>
        <locationY>1059</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YesAdd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddMoreGuarantors</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesAddMoreGuarantors</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TypeofGuarantor</targetReference>
            </connector>
            <label>YesAdd</label>
        </rules>
        <rules>
            <name>NoAdd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddMoreGuarantors</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoAddMoreGuarantors</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckifGroupbasedaccount</targetReference>
            </connector>
            <label>NoAdd</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChecktheGuaranteeType</name>
        <label>Check the Guarantee Type</label>
        <locationX>465</locationX>
        <locationY>825</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YesMatch</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>typeGuarantor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varGuaranteeTypes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varGuaranteeTypes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TypeOfGuarantorDecision</targetReference>
            </connector>
            <label>Yes Match</label>
        </rules>
        <rules>
            <name>NoMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>typeGuarantor</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varGuaranteeTypes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GuarantorTypeValidationMessage</targetReference>
            </connector>
            <label>No Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checktheobjectfromwherethebuttonisclicked</name>
        <label>Check the object from where the button is clicked</label>
        <locationX>236</locationX>
        <locationY>135</locationY>
        <defaultConnector>
            <targetReference>getAccountDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gettheaccountidoftheopportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkthetempvariable</name>
        <label>check the temp variable</label>
        <locationX>953</locationX>
        <locationY>1582</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTemp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>True</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>extractallpropertybasedaccountofchildgroup</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTemp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>False</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAllaccountsrelatedtoparentaccount</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>TypeOfGuarantorDecision</name>
        <label>TypeOfGuarantorDecision</label>
        <locationX>695</locationX>
        <locationY>825</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CorporatePick</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>typeGuarantor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CompanywithParentGuarantees</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>typeGuarantor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CompanywithPersonalGuarantees</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAccountRecord</targetReference>
            </connector>
            <label>Corporate</label>
        </rules>
        <rules>
            <name>PersonalGuarantor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>typeGuarantor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PersonalGuaranteesbyFranchisee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createContact</targetReference>
            </connector>
            <label>Personal Guarantor</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AffStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Affiliation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AffType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Affiliation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>conSalutation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>conStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>NavigateToAccURL</name>
        <dataType>String</dataType>
        <expression>{!$Label.LVIEnvURL}+{!AccountId}+&apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>Create Affliation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Affliation</label>
    <loops>
        <name>extractallpropertybasedaccountofchildgroup</name>
        <label>extract all property based account of child group</label>
        <locationX>1220</locationX>
        <locationY>1146</locationY>
        <assignNextValueToReference>sObjpropertybasedofchildgroup</assignNextValueToReference>
        <collectionReference>sCollpropertybasedofchildgroup</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignidtosobjectAccountId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>setTempvartoFalse</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>getAllaccountsrelatedtoparentaccount</name>
        <label>get All accounts related to parent account</label>
        <locationX>643</locationX>
        <locationY>1584</locationY>
        <assignNextValueToReference>sObjAccount</assignNextValueToReference>
        <collectionReference>sCollAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>gettherecordtypeidofthesobjectaccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SuccessMessage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>getidsofallnewlycreatedaffiliations</name>
        <label>get ids of all newly created affiliations</label>
        <locationX>1216</locationX>
        <locationY>1559</locationY>
        <assignNextValueToReference>sObjAffiliationIds</assignNextValueToReference>
        <collectionReference>sCollAfiliationObject</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignaffiliationrecordtopropertybasedaccounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Createallaffiliationatpropertybasedaccounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>createAffiliation</name>
        <label>createAffiliation</label>
        <locationX>939</locationX>
        <locationY>824</locationY>
        <assignRecordIdToReference>affRecId</assignRecordIdToReference>
        <connector>
            <targetReference>Add_more_Guarantors</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>conId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryAffiliationAccount__c</field>
            <value>
                <elementReference>newAccRecId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>typeGuarantor</elementReference>
            </value>
        </inputAssignments>
        <object>Affiliation__c</object>
    </recordCreates>
    <recordCreates>
        <name>Createallaffiliationatpropertybasedaccounts</name>
        <label>Create all affiliation at property based accounts</label>
        <locationX>1217</locationX>
        <locationY>1749</locationY>
        <connector>
            <targetReference>Removeallrecordfromscollpropertybased</targetReference>
        </connector>
        <inputReference>sCollAffiliationProertyBased</inputReference>
    </recordCreates>
    <recordLookups>
        <name>extractallpropertybasedaccounts</name>
        <label>extract all property based accounts</label>
        <locationX>449</locationX>
        <locationY>1585</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAllaccountsrelatedtoparentaccount</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>sCollAccounts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>extractallpropertybasedaccountsofchildgroup</name>
        <label>extract all property based accounts of child group</label>
        <locationX>646</locationX>
        <locationY>1149</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>extractallpropertybasedaccountofchildgroup</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjAccount.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>sCollpropertybasedofchildgroup</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getAccountDetails</name>
        <label>getAccountDetails</label>
        <locationX>237</locationX>
        <locationY>317</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getthenameoftherecordtypeoftheaccount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>accountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>accountTradingName</assignToReference>
            <field>TradingName__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getGroupAccountRecordTypeId</name>
        <label>getGroupAccountRecordTypeId</label>
        <locationX>243</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TypeofGuarantor</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ACCGroupLevel</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varGroupAccountRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getRecType</name>
        <label>getRecType</label>
        <locationX>240</locationX>
        <locationY>584</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getGroupAccountRecordTypeId</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ACCThirdParty</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>accRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Gettheaccountidoftheopportunity</name>
        <label>Get tht account id of the opportunity</label>
        <locationX>426</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountDetails</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGuaranteeTypes</assignToReference>
            <field>GuaranteesType__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getthenameoftherecordtypeoftheaccount</name>
        <label>get the name of the record type of the account</label>
        <locationX>240</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRecType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountRecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>gettherecordtypeidofthesobjectaccount</name>
        <label>get the record type id of the sobject account</label>
        <locationX>438</locationX>
        <locationY>1388</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checkifchildaccountisgroupbased</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjAccount.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAcctRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Add_more_Guarantors</name>
        <label>Add more Guarantors</label>
        <locationX>1147</locationX>
        <locationY>1061</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Checkifuserwantstoaddmoreguarantors</targetReference>
        </connector>
        <fields>
            <name>AddMoreGuarantors</name>
            <choiceReferences>YesAddMoreGuarantors</choiceReferences>
            <choiceReferences>NoAddMoreGuarantors</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NoAddMoreGuarantors</defaultSelectedChoiceReference>
            <fieldText>Do you want to add more guarantors?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CreateAccountRecord</name>
        <label>Create Account</label>
        <locationX>695</locationX>
        <locationY>684</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createAffiliation</targetReference>
        </connector>
        <fields>
            <name>NewAccountForm</name>
            <extensionName>c:CreateAccount</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountRecTypeId</name>
                <value>
                    <elementReference>accRecTypeId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>newAccRecId</assignToReference>
                <name>accountRecordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>conId</assignToReference>
                <name>contactId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>createContact</name>
        <label>Create Contact</label>
        <locationX>697</locationX>
        <locationY>960</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createAffiliation</targetReference>
        </connector>
        <fields>
            <name>createContactLC</name>
            <extensionName>c:CreateContact</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountRecTypeId</name>
                <value>
                    <elementReference>accRecTypeId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>newAccRecId</assignToReference>
                <name>accountId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>conId</assignToReference>
                <name>contactId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GuarantorTypeValidationMessage</name>
        <label>Guarantor Type Validation Message</label>
        <locationX>463</locationX>
        <locationY>679</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>GuaranorTypeValidationMessage</name>
            <fieldText>Guarator type should match with the Guarantee type defined at the opportunity</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessMessage</name>
        <label>Success Message</label>
        <locationX>438</locationX>
        <locationY>1769</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Displaysuccessmessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Guarantor(s) are added successfully.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TypeofGuarantor</name>
        <label>Type of Guarantor</label>
        <locationX>250</locationX>
        <locationY>827</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ChecktheGuaranteeType</targetReference>
        </connector>
        <fields>
            <name>typeGuarantor</name>
            <choiceReferences>CompanywithParentGuarantees</choiceReferences>
            <choiceReferences>CompanywithPersonalGuarantees</choiceReferences>
            <choiceReferences>PersonalGuaranteesbyFranchisee</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Guarantor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Checktheobjectfromwherethebuttonisclicked</startElementReference>
    <status>Active</status>
    <variables>
        <name>accountBillingAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accountTradingName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accRegisteredCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accRegisteredCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accRegisteredState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accRegisteredStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accRegisteredZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ACCThirdParty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>affliationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>affRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>conId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactMailingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactMailingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactMailingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactMailingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactMailingZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactSalutation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contSalutation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Current</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dummyAustraliaCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Australia</stringValue>
        </value>
    </variables>
    <variables>
        <name>dummyRegisteredCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>The Rocks</stringValue>
        </value>
    </variables>
    <variables>
        <name>dummyRegisteredState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>New South Wales</stringValue>
        </value>
    </variables>
    <variables>
        <name>dummyRegisteredStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>123 George Street</stringValue>
        </value>
    </variables>
    <variables>
        <name>dummyRegisteredZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>2000</stringValue>
        </value>
    </variables>
    <variables>
        <name>EmptySCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Affiliation__c</objectType>
    </variables>
    <variables>
        <name>Guarantor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GuarantorType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>newAccRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>primaryAccountAffliation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sCollAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sCollAffiliationProertyBased</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Affiliation__c</objectType>
    </variables>
    <variables>
        <description>Collects records of affiliation objects to be created</description>
        <name>sCollAfiliationObject</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Affiliation__c</objectType>
    </variables>
    <variables>
        <name>sCollpropertybasedofchildgroup</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sObjAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sObjAffiliationIds</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Affiliation__c</objectType>
    </variables>
    <variables>
        <description>Single record of affiliation object</description>
        <name>sObjectAffiliation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Affiliation__c</objectType>
    </variables>
    <variables>
        <name>sObjectAffiliationPropertyBasedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Affiliation__c</objectType>
    </variables>
    <variables>
        <name>sObjpropertybasedofchildgroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varAcctRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varGroupAccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varGuaranteeTypes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varRecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varTemp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>False</stringValue>
        </value>
    </variables>
    <variables>
        <name>varTempAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
