flows/CreateOpportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>testRecId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a0K5D000000vdlp</stringValue>
        </value>
    </constants>
    <decisions>
        <name>getScreenbyRecType</name>
        <label>getScreenbyRecType</label>
        <locationX>72</locationX>
        <locationY>261</locationY>
        <defaultConnectorLabel>TestOutcome</defaultConnectorLabel>
        <rules>
            <name>StoreRoomScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CON_StoreroomContract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getStoreRoomRecTypeId</targetReference>
            </connector>
            <label>Store Room</label>
        </rules>
        <rules>
            <name>RetailAndCommercial</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CON_RetailContract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CON_CommercialContract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRetComRecTypeId</targetReference>
            </connector>
            <label>Retail And Commercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>isSuccess</name>
        <label>isSuccess</label>
        <locationX>862</locationX>
        <locationY>373</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newOppName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>successCreation</targetReference>
            </connector>
            <label>Success</label>
        </rules>
        <rules>
            <name>Fail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newOppName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>failCreation</targetReference>
            </connector>
            <label>Fail</label>
        </rules>
    </decisions>
    <formulas>
        <name>defaultRentCommDate</name>
        <dataType>Date</dataType>
        <expression>{!leaseEndDate} + 1</expression>
    </formulas>
    <formulas>
        <name>navigateToOppUrl</name>
        <dataType>String</dataType>
        <expression>{!$Label.LVIEnvURL}+{!opportunityId}+&apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>CreateOpportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Opportunity</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>createRetCommOpportunity</name>
        <label>createRetCommOpportunity</label>
        <locationX>658</locationX>
        <locationY>378</locationY>
        <assignRecordIdToReference>opportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>newOppLookup</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>contractAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>forecastAchievedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExistingContract__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>contractName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>contractProperty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProposedEndDate__c</field>
            <value>
                <elementReference>proposedEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProposedRentCommencementDate__c</field>
            <value>
                <elementReference>proposedRentCommencementDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProposedStartDate__c</field>
            <value>
                <elementReference>proposedStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>oppRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Space__c</field>
            <value>
                <elementReference>contractSpace</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Understand &amp; Negotiate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TermDays__c</field>
            <value>
                <elementReference>termDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TermMonths__c</field>
            <value>
                <elementReference>termMonths</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TermYr__c</field>
            <value>
                <elementReference>termYears</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>createStoreroomOpportunity</name>
        <label>createStoreroomOpportunity</label>
        <locationX>663</locationX>
        <locationY>141</locationY>
        <assignRecordIdToReference>opportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>newOppLookup</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>contractAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>forecastAchievedDateStore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExistingContract__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>contractName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>contractProperty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProposedEndDate__c</field>
            <value>
                <elementReference>proposedEndDateStore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProposedRentCommencementDate__c</field>
            <value>
                <elementReference>proposedRentCommencementDateStore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProposedStartDate__c</field>
            <value>
                <elementReference>proposedStartDateStore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>oppRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Space__c</field>
            <value>
                <elementReference>contractSpace</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Understand &amp; Negotiate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TermDays__c</field>
            <value>
                <elementReference>termDaysStore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TermMonths__c</field>
            <value>
                <elementReference>termMonthsStore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TermYr__c</field>
            <value>
                <elementReference>termYearsStore</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>getContractDetails</name>
        <label>getContractDetails</label>
        <locationX>68</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRecordTypeofContract</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>contractAccountId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>leaseEndDate</assignToReference>
            <field>LeaseEndDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contractName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contractProperty</assignToReference>
            <field>Property__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contractSpace</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeofContract</name>
        <label>getRecordTypeofContract</label>
        <locationX>68</locationX>
        <locationY>136</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getScreenbyRecType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getRetComRecTypeId</name>
        <label>getRetComRecTypeId</label>
        <locationX>252</locationX>
        <locationY>375</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RetailCommercialScreen</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OPPRetailLeasing</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OPPCommercialLeasing</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>oppRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getStoreRoomRecTypeId</name>
        <label>getStoreRoomRecTypeId</label>
        <locationX>255</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>StoreRoomLicense</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OPPStoreRoomLeasing</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>oppRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>newOppLookup</name>
        <label>newOppLookup</label>
        <locationX>862</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>newOppName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>errorMessage</name>
        <label>errorMessage</label>
        <locationX>661</locationX>
        <locationY>259</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMessageText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sorry, but you can’t create an opportunity record at this time.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Error message: &lt;B&gt;{!$Flow.FaultMessage}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>failCreation</name>
        <label>failCreation</label>
        <locationX>982</locationX>
        <locationY>484</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>failCreationText</name>
            <fieldText>Error on creating Opportunity. Check with your System Administrator.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RetailCommercialScreen</name>
        <label>RetailCommercialScreen</label>
        <locationX>455</locationX>
        <locationY>378</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createRetCommOpportunity</targetReference>
        </connector>
        <fields>
            <name>proposedRentCommencementDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>defaultRentCommDate</elementReference>
            </defaultValue>
            <fieldText>Proposed Rent Commencement Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>forecastAchievedDate</name>
            <dataType>Date</dataType>
            <fieldText>Forecast Achieved Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>proposedStartDate</name>
            <dataType>Date</dataType>
            <fieldText>Proposed Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>proposedEndDate</name>
            <dataType>Date</dataType>
            <fieldText>Proposed End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>termYears</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>5.0</numberValue>
            </defaultValue>
            <fieldText>Term (Years)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>termMonths</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Term (Months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>termDays</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Term (Days)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>StoreRoomLicense</name>
        <label>Store Room License</label>
        <locationX>456</locationX>
        <locationY>138</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createStoreroomOpportunity</targetReference>
        </connector>
        <fields>
            <name>proposedRentCommencementDateStore</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>defaultRentCommDate</elementReference>
            </defaultValue>
            <fieldText>Proposed Rent Commencement Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>forecastAchievedDateStore</name>
            <dataType>Date</dataType>
            <fieldText>Forecast Achieved Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>proposedStartDateStore</name>
            <dataType>Date</dataType>
            <fieldText>Proposed Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>proposedEndDateStore</name>
            <dataType>Date</dataType>
            <fieldText>Proposed End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>termYearsStore</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Term (Years)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>termMonthsStore</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Term (Months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>termDaysStore</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Term (Days)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>successCreation</name>
        <label>successCreation</label>
        <locationX>743</locationX>
        <locationY>482</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayOpportunity</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Opportunity : &lt;/B&gt;&lt;A HREF=&quot;https://{!navigateToOppUrl}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;{!newOppName}&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Opportunity Successfully Created!&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Navigate to the Opportunity by clicking the opportunity above.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getContractDetails</startElementReference>
    <status>Active</status>
    <variables>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractProperty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractSpace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leaseEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newOppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OPPCommercialLeasing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>OPP_CommercialLeasing</stringValue>
        </value>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OPPRetailLeasing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>OPP_RetailLeasing</stringValue>
        </value>
    </variables>
    <variables>
        <name>OPPStoreRoomLeasing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>OPP_StoreRoomLeasing</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
