flows/OPC_CreateUsageRCA.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>CheckExistingHighRiskOppClause</name>
        <label>CheckExistingHighRiskOppClause</label>
        <locationX>530</locationX>
        <locationY>270</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CreateRCADecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingHighRiskUsageOppClause</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateRCA</targetReference>
            </connector>
            <label>CreateRCADecision</label>
        </rules>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingHighRiskUsageOppClause</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>False</label>
        </rules>
    </decisions>
    <formulas>
        <name>oppClauseLeasingRecTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.OppClauseLeasingRecTypeId}</expression>
    </formulas>
    <interviewLabel>OPC_CreateUsageRCA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPC_CreateUsageRCA</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateRCA</name>
        <label>CreateRCA</label>
        <locationX>838</locationX>
        <locationY>272</locationY>
        <assignRecordIdToReference>newOppClauseId</assignRecordIdToReference>
        <inputAssignments>
            <field>ClauseDetails__c</field>
            <value>
                <elementReference>clauseLibrary.ClauseDetails__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsAutomated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>clauseLibrary.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>opportunityClause.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReasonRecommendation__c</field>
            <value>
                <elementReference>clauseLibrary.ReasonRecommendation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>oppClauseLeasingRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferencedClause__c</field>
            <value>
                <elementReference>clauseLibrary.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskApplies__c</field>
            <value>
                <elementReference>clauseLibrary.RiskApplies__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubType__c</field>
            <value>
                <elementReference>clauseLibrary.SubType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>clauseLibrary.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityClause__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetExistingHighRiskOppClause</name>
        <label>GetExistingHighRiskOppClause</label>
        <locationX>522</locationX>
        <locationY>111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckExistingHighRiskOppClause</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityClause.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>National Change in Usage</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RCA</stringValue>
            </value>
        </filters>
        <object>OpportunityClause__c</object>
        <outputAssignments>
            <assignToReference>existingHighRiskUsageOppClause.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetNationalChangeInUsageClauseLibrary</name>
        <label>GetNationalChangeInUsageClauseLibrary</label>
        <locationX>316</locationX>
        <locationY>110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExistingHighRiskOppClause</targetReference>
        </connector>
        <filters>
            <field>RiskApplies__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>SubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>National Change in Usage</stringValue>
            </value>
        </filters>
        <object>ClauseLibrary__c</object>
        <outputAssignments>
            <assignToReference>clauseLibrary.ClauseDetails__c</assignToReference>
            <field>ClauseDetails__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>clauseLibrary.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>clauseLibrary.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>clauseLibrary.ReasonRecommendation__c</assignToReference>
            <field>ReasonRecommendation__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>clauseLibrary.RiskApplies__c</assignToReference>
            <field>RiskApplies__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>clauseLibrary.SubType__c</assignToReference>
            <field>SubType__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>clauseLibrary.Type__c</assignToReference>
            <field>Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunityClauseDetails</name>
        <label>GetOpportunityClauseDetails</label>
        <locationX>120</locationX>
        <locationY>112</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetNationalChangeInUsageClauseLibrary</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityClause__c</object>
        <outputAssignments>
            <assignToReference>opportunityClause.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>opportunityClause.Opportunity__c</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>GetOpportunityClauseDetails</startElementReference>
    <status>Active</status>
    <variables>
        <name>clauseLibrary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ClauseLibrary__c</objectType>
    </variables>
    <variables>
        <name>existingHighRiskUsageOppClause</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityClause__c</objectType>
    </variables>
    <variables>
        <name>newOppClauseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opportunityClause</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityClause__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
