flows/OPP_SubmitForApprovalFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>apexValidation</name>
        <label>apexValidation</label>
        <locationX>931</locationX>
        <locationY>180</locationY>
        <actionName>codeValidateOpportunity</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>initialScreeningBeforeSubmission</targetReference>
        </connector>
        <inputParameters>
            <name>oppIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>errorMsgFromApex</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>OpportunityRMApproval</name>
        <label>OpportunityRMApproval</label>
        <locationX>204</locationX>
        <locationY>560</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>checkIfConfirmed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorOnApprovalSubmission</targetReference>
        </faultConnector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>InstanceID</assignToReference>
            <name>instanceId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>UpdateRoleFields</name>
        <label>Update Role Fields</label>
        <locationX>358</locationX>
        <locationY>356</locationY>
        <actionName>UpdateRoleFieldsBaseFromClause</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RecordLookupForRoles</targetReference>
        </connector>
        <inputParameters>
            <name>OpportunityLst</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>pendingLeasingRMApproval</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Leasing RM Approval</stringValue>
        </value>
    </constants>
    <constants>
        <name>RMApprovalRejected</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RM Approval Rejected</stringValue>
        </value>
    </constants>
    <decisions>
        <name>checkApprovalStatus</name>
        <label>checkApprovalStatus</label>
        <locationX>282</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>NotSubmittedForApproval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isForInit</name>
            <conditionLogic>(1 OR 2 ) AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Approval Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RMLARS</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>recTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPP_RetailLeasing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPP_CommercialLeasing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateOppSubmitter</targetReference>
            </connector>
            <label>isForInit</label>
        </rules>
        <rules>
            <name>isForRisk</name>
            <conditionLogic>(1 OR 4 OR 6 OR 7) AND (2 OR 5) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Approval Granted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPP_RetailLeasing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>noOfUnApprovedClauses</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Risk Approval Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPP_CommercialLeasing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Approval Granted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Risk Approval Granted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateOppSubmitter</targetReference>
            </connector>
            <label>isForRisk</label>
        </rules>
        <rules>
            <name>isForFinal</name>
            <conditionLogic>(1 or 3 or 4 or 7) AND (2 OR 6) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Approval Granted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPP_RetailLeasing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Final Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Approval Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AcceptedDisclosure</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPP_CommercialLeasing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Risk Approval Granted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateOppSubmitter</targetReference>
            </connector>
            <label>isForFinal</label>
        </rules>
        <rules>
            <name>isForStoreRoom</name>
            <conditionLogic>(1 OR 2) AND (3 OR 5) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Licence Approval Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RetailManager</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>recTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPP_StoreRoomLeasing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CentreManager</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>updateOppSubmitter</targetReference>
            </connector>
            <label>isForStoreRoom</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfConfirmed</name>
        <label>checkIfConfirmed</label>
        <locationX>403</locationX>
        <locationY>655</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>successfullySubmitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InstanceID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OppApprovalSubmissionConfirmed</targetReference>
            </connector>
            <label>successfullySubmitted</label>
        </rules>
        <rules>
            <name>notSubmitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InstanceID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errorOnApprovalSubmission</targetReference>
            </connector>
            <label>notSubmitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>initialScreeningBeforeSubmission</name>
        <label>initialScreeningBeforeSubmission</label>
        <locationX>1110</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>UpdateRoleFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isRentZeroOrStageNegotiate</name>
            <conditionLogic>2 OR (1 AND 3 AND 4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>rent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>stageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Understand &amp; Negotiate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OPP_StoreRoomLeasing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SuperfineCategory</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Z311</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SuperfineCategory</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Z111</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SuperfineCategory</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Z241</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>stageOrRentRequired</targetReference>
            </connector>
            <label>isRentZeroOrStageNegotiate</label>
        </rules>
        <rules>
            <name>billingNotProvided</name>
            <conditionLogic>(1 OR 2 OR 3 OR 5 OR (4 AND 6)) AND (7 OR 8 OR 9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>accBillingCity</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>accBillingCountry</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>accBillingSt</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>accBillingState</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>accBillingPostalCode</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>accBillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Approval Granted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Final Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Approval Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Risk Approval Granted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>billingInfoRequired</targetReference>
            </connector>
            <label>billingNotProvided</label>
        </rules>
        <rules>
            <name>withErrorFromApexValidation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMsgFromApex</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>apexErrorScreen</targetReference>
            </connector>
            <label>withErrorFromApexValidation</label>
        </rules>
    </decisions>
    <decisions>
        <name>isRATaskComplete</name>
        <label>isRATaskComplete</label>
        <locationX>698</locationX>
        <locationY>116</locationY>
        <defaultConnector>
            <targetReference>apexValidation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>notComplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTaskStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTaskRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RA_Task_Incomplete</targetReference>
            </connector>
            <label>notComplete</label>
        </rules>
    </decisions>
    <decisions>
        <name>isRCAReviewed</name>
        <label>isRCAReviewed</label>
        <locationX>1101</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isRCAReviewedFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>noOfRCA</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rcaReviewed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OPP_StoreRoomLeasing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowNoOfRCAWarning</targetReference>
            </connector>
            <label>isRCAReviewedFalse</label>
        </rules>
        <rules>
            <name>isRCAReviewedTrue</name>
            <conditionLogic>4 OR (3 OR (1 AND 2))</conditionLogic>
            <conditions>
                <leftValueReference>noOfRCA</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rcaReviewed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>noOfRCA</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPP_StoreRoomLeasing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkApprovalStatus</targetReference>
            </connector>
            <label>isRCAReviewedTrue</label>
        </rules>
    </decisions>
    <formulas>
        <name>currentUserCalc</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>warningMsgFromCustLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.NoOfRCAWarningMsg}</expression>
    </formulas>
    <interviewLabel>OPP_SubmitForApprovalFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPP_SubmitForApprovalFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccountDetails</name>
        <label>getAccountDetails</label>
        <locationX>290</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRecType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>accBillingCity</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>accBillingCountry</assignToReference>
            <field>BillingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>accBillingEmail</assignToReference>
            <field>BillingEmailAddress__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>accBillingPostalCode</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>accBillingState</assignToReference>
            <field>BillingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>accBillingSt</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>accountType</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOppDetails</name>
        <label>getOppDetails</label>
        <locationX>135</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>initialupdateOpp</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>AcceptedDisclosure</assignToReference>
            <field>AcceptedDisclosureStatement__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>rent</assignToReference>
            <field>AnnualMinimumRent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApprovalStatus</assignToReference>
            <field>ApprovalStatus__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>noOfUnApprovedClauses</assignToReference>
            <field>NoofUnApprovedClause__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProposedRentCommencementDate</assignToReference>
            <field>ProposedRentCommencementDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RMLARS</assignToReference>
            <field>RMLARS__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>stageName</assignToReference>
            <field>StageName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SuperfineCategory</assignToReference>
            <field>SuperfineCategory__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpportunityType</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getRAReviewTask</name>
        <label>getRAReviewTask</label>
        <locationX>459</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isRATaskComplete</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>TaskType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>76 - RA Review Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>varTaskStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTaskType</assignToReference>
            <field>TaskType__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTaskRecordId</assignToReference>
            <field>WhatId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getRecType</name>
        <label>getRecType</label>
        <locationX>378</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRAReviewTask</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recTypeName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RecordLookupForRoles</name>
        <label>RecordLookupForRoles</label>
        <locationX>738</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isRCAReviewed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>AcceptedDisclosure</assignToReference>
            <field>AcceptedDisclosureStatement__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CentreManager</assignToReference>
            <field>CentreManager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>noOfRCA</assignToReference>
            <field>NoofRCA__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>rcaReviewed</assignToReference>
            <field>RCAsReviewed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RMLARS</assignToReference>
            <field>RMLARS__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RetailManager</assignToReference>
            <field>RetailManager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>costEstimateComplete</assignToReference>
            <field>TECH_UpdateCostEstimateCompleted__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>costEstimateRequired</assignToReference>
            <field>TECH_UpdateCostEstimateRequired__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>initialupdateOpp</name>
        <label>initial update on Opp Record</label>
        <locationX>188</locationX>
        <locationY>321</locationY>
        <connector>
            <targetReference>getAccountDetails</targetReference>
        </connector>
        <faultConnector>
            <targetReference>showValidationError</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>stageName</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateOppSubmitter</name>
        <label>updateOppSubmitter</label>
        <locationX>742</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>OpportunityRMApproval</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorOnApprovalSubmission</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ApprovalSubmitter__c</field>
            <value>
                <elementReference>currentUserCalc</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>apexErrorScreen</name>
        <label>Approval Submission Failed</label>
        <locationX>1142</locationX>
        <locationY>593</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorFromApex</name>
            <fieldText>{!errorMsgFromApex}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>billingInfoRequired</name>
        <label>Approval Submission Failed</label>
        <locationX>1176</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessageBilling</name>
            <fieldText>Please ensure your Account has a Billing address before submitting for Final Approval.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorOnApprovalSubmission</name>
        <label>Error On Approval Submission</label>
        <locationX>274</locationX>
        <locationY>725</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorOnApprovalSubmit</name>
            <fieldText>Error on Approval Submission. Please contact your Administrator.

{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NotSubmittedForApproval</name>
        <label>Approval Submission Failed</label>
        <locationX>606</locationX>
        <locationY>470</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SubmissionFailed</name>
            <fieldText>This record doesn’t have the criteria to be submitted for Approval.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OppApprovalSubmissionConfirmed</name>
        <label>Opportunity Approval Submission Confirmed!</label>
        <locationX>500</locationX>
        <locationY>734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successforRiskApproval</name>
            <fieldText>You have successfully submitted your Opportunity for  Approval.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RA_Task_Incomplete</name>
        <label>RA Task Incomplete</label>
        <locationX>574</locationX>
        <locationY>250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RATaskErrorMessage</name>
            <fieldText>&lt;p&gt;Unable to Submit for Approval. Retail Administration Review task must be completed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShowNoOfRCAWarning</name>
        <label>Approval Submission Failed</label>
        <locationX>683</locationX>
        <locationY>536</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>warningMsg</name>
            <fieldText>{!warningMsgFromCustLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showValidationError</name>
        <label>showValidationError</label>
        <locationX>127</locationX>
        <locationY>624</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>showValidationErrorMsg</name>
            <fieldText>Error on Approval Submission. Please contact your Administrator.

{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>stageOrRentRequired</name>
        <label>Approval Submission Failed</label>
        <locationX>954</locationX>
        <locationY>433</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>An Opportunity cannot be submitted for Approval in the &quot;Understand &amp; Negotiate&quot; Stage or when Annual Minimum Rent = 0.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getOppDetails</startElementReference>
    <status>Active</status>
    <variables>
        <name>accBillingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accBillingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accBillingEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accBillingPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accBillingSt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accBillingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AcceptedDisclosure</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accountType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ApprovalStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CentreManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>costEstimateComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>costEstimateRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>errorMsgFromApex</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ForecastedRentTerminationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InstanceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>noOfRCA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>noOfUnApprovedClauses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OpportunityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProposedRentCommencementDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>rcaReviewed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>rent</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RetailManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RMLARS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SpaceStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SuperfineCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalForecastCapital</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTaskRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
