flows/OPP_NewRetailer.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>navigateToOpportunity</name>
        <label>navigateToOpportunity</label>
        <locationX>1627</locationX>
        <locationY>504</locationY>
        <actionName>c:NavigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>newCreatedOppId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>newCreatedOppId</assignToReference>
            <name>SObject</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>categoryFilter</name>
        <label>categoryFilter</label>
        <locationX>5</locationX>
        <locationY>1054</locationY>
        <assignmentItems>
            <assignToReference>whereClauseCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>whereClause2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Homepage</name>
        <label>Homepage</label>
        <locationX>604</locationX>
        <locationY>1078</locationY>
        <assignmentItems>
            <assignToReference>forecastedDateVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastAchieveDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>spacevar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>noCategory</name>
        <label>noCategory</label>
        <locationX>333</locationX>
        <locationY>1093</locationY>
        <assignmentItems>
            <assignToReference>whereClauseCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>whereClause</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewOpportunity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>OPP_CommercialLeasing</name>
        <choiceText>Commercial Leasing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OPP_CommercialLeasing</stringValue>
        </value>
    </choices>
    <choices>
        <name>OPP_RetailLeasing</name>
        <choiceText>Retail Leasing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OPP_RetailLeasing</stringValue>
        </value>
    </choices>
    <choices>
        <name>OPP_Store_RoomLeasing</name>
        <choiceText>Storeroom Leasing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OPP_StoreRoomLeasing</stringValue>
        </value>
    </choices>
    <constants>
        <name>accLookupWhereClause</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RecordType.DeveloperName = &apos;ACCPropertyBased&apos; AND Status__c=&apos;Active&apos; AND Property__c = &apos;</stringValue>
        </value>
    </constants>
    <constants>
        <name>accLookupWhereClause2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RecordType.DeveloperName = &apos;ACCPropertyBased&apos; AND Status__c=&apos;Active&apos; AND Category__c!=null AND Category__c!=&apos;Z320&apos; AND SuperfineCategory__c!=null AND Property__c = &apos;</stringValue>
        </value>
    </constants>
    <constants>
        <name>invertedComma</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&apos;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>isIdNull</name>
        <label>isIdNull</label>
        <locationX>499</locationX>
        <locationY>754</locationY>
        <defaultConnector>
            <targetReference>getAccountParentId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isIdsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>propertyId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>isIdsNull?</label>
        </rules>
    </decisions>
    <decisions>
        <name>isNull</name>
        <label>isNull</label>
        <locationX>747</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>getSpaceDetails_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AccountIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>displayErrorAccount</targetReference>
            </connector>
            <label>AccountIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordTypeCheck</name>
        <label>RecordTypeCheck</label>
        <locationX>1394</locationX>
        <locationY>664</locationY>
        <defaultConnector>
            <targetReference>objectiveComponent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OtherRecordType</defaultConnectorLabel>
        <rules>
            <name>IsStoreroomRT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectOpportunityType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPP_StoreRoomLeasing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>navigateToOpportunity</targetReference>
            </connector>
            <label>IsStoreroomRT</label>
        </rules>
    </decisions>
    <decisions>
        <name>RetailCommercial</name>
        <label>RetailCommercial</label>
        <locationX>454</locationX>
        <locationY>902</locationY>
        <defaultConnector>
            <targetReference>noCategory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>sisRetailOrCommercial</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelectOpportunityType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OPP_CommercialLeasing</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectOpportunityType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OPP_RetailLeasing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>categoryFilter</targetReference>
            </connector>
            <label>isRetailOrCommercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>StoreRoomRecordType</name>
        <label>Store Room RecordType</label>
        <locationX>660</locationX>
        <locationY>601</locationY>
        <defaultConnector>
            <targetReference>getAccountDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isStoreRoom</name>
            <conditionLogic>(1 AND 2) AND (1 AND 3) AND (1 AND 4) AND (1 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>SelectOpportunityType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPP_StoreRoomLeasing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>spaceType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>spaceType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>spaceType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>spaceType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessage</targetReference>
            </connector>
            <label>isStoreRoom</label>
        </rules>
        <rules>
            <name>isAccountNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>isAccountNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>SucessOrFail</name>
        <label>SucessOrFail</label>
        <locationX>1035</locationX>
        <locationY>630</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SuccessfullyCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newCreatedOppId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>creationSuccess</targetReference>
            </connector>
            <label>SuccessfullyCreated</label>
        </rules>
        <rules>
            <name>OpportunityCreationFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newCreatedOppId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>creationFailed</targetReference>
            </connector>
            <label>OpportunityCreationFailed</label>
        </rules>
    </decisions>
    <description>Flow for the &apos;New Retailer&apos; button on Space</description>
    <dynamicChoiceSets>
        <name>OppRecordTypeChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>oppRecordTypes</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>spaceTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Space__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>NavigateToOpportunityURL</name>
        <dataType>String</dataType>
        <expression>{!$Label.VFURL}+&apos;/lightning/r/&apos;+{!newCreatedOppId}+&apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>oppNameFormula</name>
        <dataType>String</dataType>
        <expression>{!propertyName} + {!spaceName} + {!accountName} + &quot;New Retailer&quot;</expression>
    </formulas>
    <formulas>
        <name>proposedStartDateFormula</name>
        <dataType>Date</dataType>
        <expression>{!HandoverDatee}</expression>
    </formulas>
    <formulas>
        <name>whereClause</name>
        <dataType>String</dataType>
        <expression>{!accLookupWhereClause} + {!propertyId} + {!invertedComma}</expression>
    </formulas>
    <formulas>
        <name>whereClause2</name>
        <dataType>String</dataType>
        <expression>{!accLookupWhereClause2} + {!propertyId} + {!invertedComma}</expression>
    </formulas>
    <formulas>
        <name>whereClauseForRelatedContacts</name>
        <dataType>String</dataType>
        <expression>&quot;AccountId IN &quot; &amp; &quot;(&apos;&quot; &amp; {!accountId} &amp; &quot;&apos;,&quot; &amp; &quot;&apos;&quot; &amp; {!accountRecord.ParentId} &amp; &quot;&apos;)&quot;</expression>
    </formulas>
    <interviewLabel>OPP_NewRetailer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPP_NewRetailer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNewOpportunityRecord</name>
        <label>Create New Opportunity Record</label>
        <locationX>878</locationX>
        <locationY>462</locationY>
        <assignRecordIdToReference>newCreatedOppId</assignRecordIdToReference>
        <connector>
            <targetReference>newOppLookup</targetReference>
        </connector>
        <faultConnector>
            <targetReference>faultMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>forecastedDateVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>oppNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryContact__c</field>
            <value>
                <elementReference>primaryContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>propertyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProposedHandoverDate__c</field>
            <value>
                <elementReference>HandoverDatee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProposedRentCommencementDate__c</field>
            <value>
                <elementReference>proposedStartDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProposedStartDate__c</field>
            <value>
                <elementReference>proposedStartDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Space__c</field>
            <value>
                <elementReference>spacevar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>oppType</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>AccountContactRelationLookup</name>
        <label>AccountContactRelation Lookup</label>
        <locationX>404</locationX>
        <locationY>392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPropertyDetails</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accConAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accConId</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputAssignments>
            <assignToReference>accConAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>accConContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getAccountDetails</name>
        <label>getAccountDetails</label>
        <locationX>630</locationX>
        <locationY>424</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getContactDetails</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getAccountParentId</name>
        <label>getAccountParentId</label>
        <locationX>274</locationX>
        <locationY>830</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RetailCommercial</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accConAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>accParentId</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getContactDetails</name>
        <label>getContactDetails</label>
        <locationX>716</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOpportunityRecType</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>primaryContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOpportunityRecType</name>
        <label>getOpportunityRecType</label>
        <locationX>908</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateNewOpportunityRecord</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectOpportunityType</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getPropertyDetails</name>
        <label>getPropertyDetails</label>
        <locationX>513</locationX>
        <locationY>599</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectOppRecordType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>propertyId</elementReference>
            </value>
        </filters>
        <object>Property__c</object>
        <outputAssignments>
            <assignToReference>propertyName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSpaceDetails</name>
        <label>getSpaceDetails</label>
        <locationX>171</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountContactRelationLookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Space__c</object>
        <outputAssignments>
            <assignToReference>spaceName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>propertyId</assignToReference>
            <field>Property__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>spaceType</assignToReference>
            <field>Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSpaceDetails_0</name>
        <label>getSpaceDetails</label>
        <locationX>647</locationX>
        <locationY>756</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>StoreRoomRecordType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>spaceId</elementReference>
            </value>
        </filters>
        <object>Space__c</object>
        <outputAssignments>
            <assignToReference>spaceName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>spaceType</assignToReference>
            <field>Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>newOppLookup</name>
        <label>newOppLookup</label>
        <locationX>1034</locationX>
        <locationY>481</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SucessOrFail</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newCreatedOppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>budgetCapital</assignToReference>
            <field>BudgetCapital__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>fitoutContribution</assignToReference>
            <field>FitoutContribution__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>oppName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>CreateNewOpportunity</name>
        <label>Create New Opportunity</label>
        <locationX>254</locationX>
        <locationY>1261</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Homepage</targetReference>
        </connector>
        <fields>
            <name>Type</name>
            <fieldText>Type: {!oppType}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountLookup</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Parent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <elementReference>whereClauseCategory</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>otherFields</name>
                <value>
                    <stringValue>ParentId</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>accountId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountRecord</assignToReference>
                <name>selectedRecord</name>
            </outputParameters>
        </fields>
        <fields>
            <name>PrimaryContactLookup</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>AccountContactRelation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>ContactName__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Child</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>primaryContactId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ForecastAchieveDate</name>
            <dataType>Date</dataType>
            <fieldText>Forecast Achieve Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Property</name>
            <fieldText>Property: {!propertyName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Space</name>
            <fieldText>Space: {!spaceName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HandoverDatee</name>
            <dataType>Date</dataType>
            <fieldText>Handover Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>creationFailed</name>
        <label>creationFailed</label>
        <locationX>1049</locationX>
        <locationY>769</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Error on Creating Opportunity.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Check with your System Administrator.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>creationSuccess</name>
        <label>creationSuccess</label>
        <locationX>1259</locationX>
        <locationY>709</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RecordTypeCheck</targetReference>
        </connector>
        <fields>
            <name>displayOpportunity</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Opportunity:&lt;/B&gt; &lt;A HREF=&quot;http://{!NavigateToOpportunityURL}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;{!oppName}&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Opportunity Successfully Created!&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Navigate to the Opportunity by clicking the Opportunity Name above.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>displayErrorAccount</name>
        <label>displayErrorAccount</label>
        <locationX>889</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateNewOpportunity</targetReference>
        </connector>
        <fields>
            <name>displayerrorMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This required field must be completed: Account Name&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorMessage</name>
        <label>Error Message</label>
        <locationX>870</locationX>
        <locationY>662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Cannot create Opportunity.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Space type should be either &lt;B&gt;Store Room&lt;/B&gt;, &lt;B&gt;Seating,&lt;/B&gt; &lt;B&gt;Sundry&lt;/B&gt; or &lt;B&gt;Garage / Parking&lt;/B&gt; for Storeroom opportunities&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>faultMessage</name>
        <label>faultMessage</label>
        <locationX>1038</locationX>
        <locationY>353</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>faultErrorMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sorry, but you can’t create a record at this time.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Error message: {!$Flow.FaultMessage}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>KeyDates</name>
        <label>KeyDates</label>
        <locationX>1457</locationX>
        <locationY>376</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>securityComponent</targetReference>
        </connector>
        <fields>
            <name>KeyDate</name>
            <extensionName>c:OpportunityKeyDates</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>newCreatedOppId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>newCreatedOppId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>objectiveComponent</name>
        <label>objectiveComponent</label>
        <locationX>1267</locationX>
        <locationY>499</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RentComponent</targetReference>
        </connector>
        <fields>
            <name>Objective</name>
            <extensionName>c:BusinessObjective</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>newCreatedOppId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>newCreatedOppId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RentComponent</name>
        <label>RentComponent</label>
        <locationX>1265</locationX>
        <locationY>368</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>KeyDates</targetReference>
        </connector>
        <fields>
            <name>Rent</name>
            <extensionName>c:RentCalculator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>newCreatedOppId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displaykeydays</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showWizardHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>newCreatedOppId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>securityComponent</name>
        <label>securityComponent</label>
        <locationX>1455</locationX>
        <locationY>501</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>navigateToOpportunity</targetReference>
        </connector>
        <fields>
            <name>Security</name>
            <extensionName>c:Security</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>newCreatedOppId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>newCreatedOppId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectOppRecordType</name>
        <label>Select Opp Record Type</label>
        <locationX>278</locationX>
        <locationY>651</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>isIdNull</targetReference>
        </connector>
        <fields>
            <name>SelectOpportunityType</name>
            <choiceReferences>OPP_RetailLeasing</choiceReferences>
            <choiceReferences>OPP_CommercialLeasing</choiceReferences>
            <choiceReferences>OPP_Store_RoomLeasing</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>OPP_RetailLeasing</defaultSelectedChoiceReference>
            <fieldText>Select Opportunity Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getSpaceDetails</startElementReference>
    <status>Active</status>
    <variables>
        <name>accConAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accConContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accConId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountParentId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>budgetCapital</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fitOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fitoutContribution</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fitOutDays</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>forecas</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>forecastedDateVar</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>initErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newCreatedOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>oppNameFormula</elementReference>
        </value>
    </variables>
    <variables>
        <name>oppRecordTypes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New Retailer</stringValue>
        </value>
    </variables>
    <variables>
        <name>primaryContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>propertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>propertyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReasonforClosureDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>test</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>spaceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>spaceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>spaceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>spacevar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Stage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Understand &amp; Negotiate</stringValue>
        </value>
    </variables>
    <variables>
        <name>whereClauseCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
