flows/OPP_GenerateProposalPackForRetailer.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_if_Disclosure_statement</name>
        <label>Check if Disclosure statement</label>
        <locationX>523</locationX>
        <locationY>37</locationY>
        <defaultConnector>
            <targetReference>ContentDistribution</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDocumentTitle</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>DS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_the_latest_version_of_the_DS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_document_is_DS</name>
        <label>Check if the document is DS</label>
        <locationX>767</locationX>
        <locationY>162</locationY>
        <defaultConnector>
            <targetReference>Checkthedocumenttype</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YesDS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDocumentTitle</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>DS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateDisclosureStatement</targetReference>
            </connector>
            <label>YesDS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_latest_version_of_the_DS</name>
        <label>Check if the latest version of the DS</label>
        <locationX>331</locationX>
        <locationY>31</locationY>
        <defaultConnector>
            <targetReference>Processeachfile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YesDSLatestVersion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDocumentTitle</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>varVersion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContentDistribution</targetReference>
            </connector>
            <label>YesDSLatestVersion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checkthedocumenttype</name>
        <label>Check the document type</label>
        <locationX>753</locationX>
        <locationY>355</locationY>
        <defaultConnector>
            <targetReference>Processeachfile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>InspectionReport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inspection Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateInspectionReport</targetReference>
            </connector>
            <label>Inspection Report</label>
        </rules>
        <rules>
            <name>LeasePlan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lease Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateLeasePlan</targetReference>
            </connector>
            <label>Lease Plan</label>
        </rules>
        <rules>
            <name>SketchPlan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sketch Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateSketchPlan</targetReference>
            </connector>
            <label>Sketch Plan</label>
        </rules>
        <rules>
            <name>FoodMenu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Food Menu</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateFoodMenu</targetReference>
            </connector>
            <label>Food Menu</label>
        </rules>
    </decisions>
    <formulas>
        <name>NewLineFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!NewLine},&quot;-&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>OPP_GenerateProposalPackForRetailer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPP_GenerateProposalPackForRetailer</label>
    <loops>
        <name>Processeachfile</name>
        <label>Process each file</label>
        <locationX>113</locationX>
        <locationY>170</locationY>
        <assignNextValueToReference>FileVariable</assignNextValueToReference>
        <collectionReference>FilesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Extractfiledetails</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>ContentDistribution</name>
        <label>Content Distribution</label>
        <locationX>537</locationX>
        <locationY>190</locationY>
        <assignRecordIdToReference>varContentDistributionId</assignRecordIdToReference>
        <connector>
            <targetReference>GetDistributionURL</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentVersionId</field>
            <value>
                <elementReference>varContentVersionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varDocumentTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesAllowOriginalDownload</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesAllowPDFDownload</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesLinkLatestVersion</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDistribution</object>
    </recordCreates>
    <recordLookups>
        <name>ExtractAllAttachedfiles</name>
        <label>Extract All Attached files</label>
        <locationX>113</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Processeachfile</targetReference>
        </connector>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>FilesCollection</outputReference>
        <queriedFields>ContentDocumentId</queriedFields>
        <queriedFields>Id</queriedFields>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Extractfiledetails</name>
        <label>Extract file details</label>
        <locationX>341</locationX>
        <locationY>174</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Disclosure_statement</targetReference>
        </connector>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FileVariable.ContentDocumentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsLatest</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ContentVersion</object>
        <outputAssignments>
            <assignToReference>varDocumentType</assignToReference>
            <field>DocumentType__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContentVersionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDocumentTitle</assignToReference>
            <field>Title</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetDistributionURL</name>
        <label>Get Distribution URL</label>
        <locationX>774</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_the_document_is_DS</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContentDistributionId</elementReference>
            </value>
        </filters>
        <object>ContentDistribution</object>
        <outputAssignments>
            <assignToReference>varPublicURL</assignToReference>
            <field>DistributionPublicUrl</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateDisclosureStatement</name>
        <label>Update Disclosure Statement</label>
        <locationX>440</locationX>
        <locationY>362</locationY>
        <connector>
            <targetReference>Processeachfile</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DisclosureStatementLink__c</field>
            <value>
                <elementReference>varPublicURL</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFoodMenu</name>
        <label>Update Food Menu</label>
        <locationX>437</locationX>
        <locationY>942</locationY>
        <connector>
            <targetReference>Processeachfile</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FoodMenuLink__c</field>
            <value>
                <elementReference>varPublicURL</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateInspectionReport</name>
        <label>Update Inspection Report</label>
        <locationX>444</locationX>
        <locationY>457</locationY>
        <connector>
            <targetReference>Processeachfile</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>InspectionReportLink__c</field>
            <value>
                <elementReference>varPublicURL</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLeasePlan</name>
        <label>Update Lease Plan</label>
        <locationX>449</locationX>
        <locationY>592</locationY>
        <connector>
            <targetReference>Processeachfile</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LeasePlanLink__c</field>
            <value>
                <elementReference>varPublicURL</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSketchPlan</name>
        <label>Update Sketch Plan</label>
        <locationX>441</locationX>
        <locationY>762</locationY>
        <connector>
            <targetReference>Processeachfile</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SketchPlanLink__c</field>
            <value>
                <elementReference>varPublicURL</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>ExtractAllAttachedfiles</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>NewLine</name>
        <text>-
-</text>
    </textTemplates>
    <variables>
        <name>FilesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>FileVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>NameAndPublicURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varContentDistributionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varContentVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varDocumentTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varDocumentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varDSPassword</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHyperlink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varPublicURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varVersion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
