flows/PRO_BulkLeaseVariation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Miscellaneous</name>
        <choiceText>LV18 - Miscellaneous</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LV18 - Miscellaneous</stringValue>
        </value>
    </choices>
    <constants>
        <name>ACCGroupLevel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ACCGroupLevel</stringValue>
        </value>
    </constants>
    <constants>
        <name>ACCPropertyBased</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ACCPropertyBased</stringValue>
        </value>
    </constants>
    <constants>
        <name>AssignmentofaLease</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Assignment of a Lease</stringValue>
        </value>
    </constants>
    <decisions>
        <name>checkIfContractsAvailable</name>
        <label>checkIfContractsAvailable</label>
        <locationX>593</locationX>
        <locationY>379</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Nocontracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contractsRelatedToProperty</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateLeaseVariation</targetReference>
            </connector>
            <label>No contracts</label>
        </rules>
        <rules>
            <name>MiscellaneousChoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeaseVariationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LV18 - Miscellaneous</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MiscellaneousLease</targetReference>
            </connector>
            <label>Miscellaneous</label>
        </rules>
    </decisions>
    <interviewLabel>PRO_BulkLeaseVariation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRO_BulkLeaseVariation</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>getRelatedContracts</name>
        <label>getRelatedContracts</label>
        <locationX>593</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfContractsAvailable</targetReference>
        </connector>
        <filters>
            <field>LeaseStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <filters>
            <field>Property__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputReference>contractsRelatedToProperty</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Property__c</queriedFields>
        <queriedFields>Space__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>JDELeaseNumber__c</queriedFields>
        <queriedFields>TechSpaceType__c</queriedFields>
        <sortField>Property__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>CreateLeaseVariation</name>
        <label>Create Lease Variation</label>
        <locationX>776</locationX>
        <locationY>571</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>nocontractsScreen</name>
            <fieldText>There are no contracts available for variation.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CreateLeaseVariationS</name>
        <label>Create Lease Variation</label>
        <locationX>595</locationX>
        <locationY>114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getRelatedContracts</targetReference>
        </connector>
        <fields>
            <name>LeaseVariationType</name>
            <choiceReferences>Miscellaneous</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lease Variation Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>CreateLeaseVariationS</startElementReference>
    <status>Active</status>
    <subflows>
        <name>MiscellaneousLease</name>
        <label>Miscellaneous Lease</label>
        <locationX>435</locationX>
        <locationY>548</locationY>
        <flowName>PRO_MiscellaneousLease</flowName>
        <inputAssignments>
            <name>contractsRelatedToProperty</name>
            <value>
                <elementReference>contractsRelatedToProperty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>propertyRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varParentCaseId</assignToReference>
            <name>varParentCaseId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>accountRecTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>contractsRelatedToProperty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>errAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newAccountParentCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>propertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
