flows/PRO_MiscellaneousLease.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_to_Case</name>
        <label>Navigate to Case</label>
        <locationX>1383</locationX>
        <locationY>759</locationY>
        <actionName>c:NavigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>varParentCaseId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varParentCaseId</assignToReference>
            <name>SObject</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>NavigatetoSingleCase</name>
        <label>Navigate to Single Case</label>
        <locationX>818</locationX>
        <locationY>749</locationY>
        <actionName>c:NavigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varNewCaseId</assignToReference>
            <name>SObject</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>AddValuesToArray</name>
        <label>AddValuesToArray</label>
        <locationX>393</locationX>
        <locationY>23</locationY>
        <assignmentItems>
            <assignToReference>DataArr</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fieldDataForm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuildContractRecordDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToTempProperty</name>
        <label>assignToTempProperty</label>
        <locationX>1213</locationX>
        <locationY>155</locationY>
        <assignmentItems>
            <assignToReference>varTempProperty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPropertyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPropertyCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getMultiSelectedContract_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>childCaseAssignment</name>
        <label>childCaseAssignment</label>
        <locationX>1607</locationX>
        <locationY>423</locationY>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContractIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varParentCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Space__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseSubjectFormulaM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LV18 - Miscellaneous</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseSubtypeM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescriptionM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPropertyLevelAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseFromContract.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>childCasesListAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>childCasesListAssignment</name>
        <label>childCasesListAssignment</label>
        <locationX>1442</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>childCasesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newCaseFromContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getMultiSelectedContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>selectedContractCount</name>
        <label>selectedContractCount</label>
        <locationX>601</locationX>
        <locationY>179</locationY>
        <assignmentItems>
            <assignToReference>varContractCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedIdContract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arrayContractId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSelectedIdContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getSelectedContracts</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Centre</name>
        <choiceText>Centre</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Centre</stringValue>
        </value>
    </choices>
    <choices>
        <name>DC</name>
        <choiceText>D&amp;C</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D&amp;C</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeaseExpired</name>
        <choiceText>Lease Expired</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lease Expired</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeasingFinance</name>
        <choiceText>Leasing Finance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leasing Finance</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeasingRGM</name>
        <choiceText>Leasing (RGM)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leasing (RGM)</stringValue>
        </value>
    </choices>
    <choices>
        <name>LegalLockout</name>
        <choiceText>Legal/Lockout</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal/Lockout</stringValue>
        </value>
    </choices>
    <choices>
        <name>MajorsFinance</name>
        <choiceText>Majors Finance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Majors Finance</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewLease</name>
        <choiceText>New Lease</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NewRetailer</name>
        <choiceText>New Retailer</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>PreexpiryofLease</name>
        <choiceText>Pre-expiry of Lease</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pre-expiry of Lease</stringValue>
        </value>
    </choices>
    <choices>
        <name>RevenueAssurance</name>
        <choiceText>Revenue Assurance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Revenue Assurance</stringValue>
        </value>
    </choices>
    <constants>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Surrender a Lease</stringValue>
        </value>
    </constants>
    <constants>
        <name>MakeGoodErrorText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>If  &quot;Other (Please Specify)&quot; value is selected in the &quot;Make Good&quot; field, please populate the &quot;Make Good Details&quot; field</stringValue>
        </value>
    </constants>
    <constants>
        <name>OthersPleaseSpecify</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Other (Please Specify)</stringValue>
        </value>
    </constants>
    <constants>
        <name>SurrenderaLeaseRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CAS_LVISurrenderaLease</stringValue>
        </value>
    </constants>
    <constants>
        <name>SurrenderPayoutErrorMsg</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please put an amount greater than 0 or check the Surrender Payout Amount TBA?</stringValue>
        </value>
    </constants>
    <constants>
        <name>UnexpiredErrorMsgText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The &quot;Unexpired Fitout Amount&quot; field is required when value is &quot;Lease Pre-Expiry&quot;.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>checkIfDistinctProperty</name>
        <label>checkIfDistinctProperty</label>
        <locationX>1068</locationX>
        <locationY>29</locationY>
        <defaultConnector>
            <targetReference>getMultiSelectedContract_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>DistinctProperty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPropertyId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varTempProperty</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignToTempProperty</targetReference>
            </connector>
            <label>DistinctProperty</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSelectedContractCount</name>
        <label>checkSelectedContractCount</label>
        <locationX>381</locationX>
        <locationY>298</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OneContractSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MiscellaneousLease</targetReference>
            </connector>
            <label>One Contract</label>
        </rules>
        <rules>
            <name>GreaterThanOneContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MiscellaneousLeaseM</targetReference>
            </connector>
            <label>GreaterThanOneContract</label>
        </rules>
        <rules>
            <name>NoSelectedContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contractIdsArray</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoContractSelected</targetReference>
            </connector>
            <label>No Selected Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>isSuccess</name>
        <label>isSuccess</label>
        <locationX>943</locationX>
        <locationY>634</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CaseCreateSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NavigatetoSingleCase</targetReference>
            </connector>
            <label>CaseCreateSuccess</label>
        </rules>
        <rules>
            <name>CaseCreateFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseFailed</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>parentSuccess</name>
        <label>parentSuccess</label>
        <locationX>1235</locationX>
        <locationY>637</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CaseParentCreateSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentCaseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varParentCaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateParentCase</targetReference>
            </connector>
            <label>CaseParentCreateSuccess</label>
        </rules>
        <rules>
            <name>CaseParentCreateFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentCaseId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varParentCaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseFailed</targetReference>
            </connector>
            <label>CaseParentCreateFailed</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CaseSubtypePicklistChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SubType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseSubtypePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SubType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GuaranteesTypePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GuaranteeType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LATypePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LAType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LATypePLm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LAType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MakeGoodPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MakeGood__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonforTerminationPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReasonforTermination__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReleaseGuaranteePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReleaseOutgoingGuarantor__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SurrenderpayoutPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SurrenderPayout__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CaseSubjectFormulaM</name>
        <dataType>String</dataType>
        <expression>&quot;LV18 - Miscellaneous - &quot; + {!CaseSubtypeM}</expression>
    </formulas>
    <formulas>
        <name>CaseSubjectFormulaS</name>
        <dataType>String</dataType>
        <expression>&quot;LV18 Miscellaneous - &quot; + {!CaseSubtype}</expression>
    </formulas>
    <formulas>
        <name>CaseSubjectParent</name>
        <dataType>String</dataType>
        <expression>&quot;LV18 - Miscellaneous - &quot; + {!CaseSubtypeM} + &quot;- PARENT&quot;</expression>
    </formulas>
    <formulas>
        <name>columnNameForm</name>
        <dataType>String</dataType>
        <expression>&quot;Property,Property__r.Name,text;Space,Space__r.Name,text;Space Type,TechSpaceType__c,text;Account Name, Account__r.Name,text;JDE Lease Number,JDELeaseNumber__c,text;Id,Id,Id;&quot;</expression>
    </formulas>
    <formulas>
        <name>fieldDataForm</name>
        <dataType>String</dataType>
        <expression>{!contract.Property__r.Name}&amp;&quot;,&quot;&amp;{!contract.Space__r.Name}&amp;&quot;,&quot;&amp;{!contract.TechSpaceType__c}&amp;&quot;,&quot;&amp;{!contract.Account__r.Name}&amp;&quot;,&quot;&amp;{!contract.JDELeaseNumber__c}&amp;&quot;,&quot;&amp;{!contract.Id}</expression>
    </formulas>
    <formulas>
        <name>navigateToCaseURL</name>
        <dataType>String</dataType>
        <expression>{!$Label.LVIEnvURL}+{!varNewCaseId}+&apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>navigateToParentCaseId</name>
        <dataType>String</dataType>
        <expression>{!$Label.LVIEnvURL}+{!varNewAccountParentCase}+&apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>PRO_MiscellaneousLease {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRO_MiscellaneousLease</label>
    <loops>
        <name>BuildContractRecordDetails</name>
        <label>BuildContractRecordDetails</label>
        <locationX>180</locationX>
        <locationY>24</locationY>
        <assignNextValueToReference>contract</assignNextValueToReference>
        <collectionReference>contractsRelatedToProperty</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddValuesToArray</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ActiveContracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>getMultiSelectedContract</name>
        <label>getMultiSelectedContract</label>
        <locationX>1233</locationX>
        <locationY>425</locationY>
        <assignNextValueToReference>varContractIds</assignNextValueToReference>
        <collectionReference>arrayContractId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getContractIdLookup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createChildCases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>getMultiSelectedContract_0</name>
        <label>getMultiSelectedContract</label>
        <locationX>944</locationX>
        <locationY>156</locationY>
        <assignNextValueToReference>varContractIds</assignNextValueToReference>
        <collectionReference>arrayContractId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getContractIdLookup_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createParentCase</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>getSelectedContracts</name>
        <label>getSelectedContracts</label>
        <locationX>377</locationX>
        <locationY>179</locationY>
        <assignNextValueToReference>varSelectedIdContract</assignNextValueToReference>
        <collectionReference>contractIdsArray</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>selectedContractCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkSelectedContractCount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createCaseContract</name>
        <label>createCaseContract</label>
        <locationX>547</locationX>
        <locationY>542</locationY>
        <assignRecordIdToReference>varNewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>getNewCaseId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountOnContract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>varSelectContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Space__c</field>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubType__c</field>
            <value>
                <elementReference>CaseSubtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubjectFormulaS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TechNumberOfProperties__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TechSingleMiscLease__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>LV18 - Miscellaneous</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>createChildCases</name>
        <label>createChildCases</label>
        <locationX>1232</locationX>
        <locationY>546</locationY>
        <connector>
            <targetReference>parentSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <inputReference>childCasesList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createParentCase</name>
        <label>createParentCase</label>
        <locationX>1067</locationX>
        <locationY>288</locationY>
        <assignRecordIdToReference>varParentCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>getNewParentCaseId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Space__c</field>
            <value>
                <elementReference>varSpaceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubType__c</field>
            <value>
                <elementReference>CaseSubtypeM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubjectParent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TechNumberOfProperties__c</field>
            <value>
                <elementReference>varPropertyCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TechSingleMiscLease__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>LV18 - Miscellaneous</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>getContractIdLookup</name>
        <label>getContractIdLookup</label>
        <locationX>1437</locationX>
        <locationY>349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>childCaseAssignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractIds</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varPropertyLevelAccountId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpportunityId</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpaceId</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getContractIdLookup_0</name>
        <label>getContractIdLookup</label>
        <locationX>837</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfDistinctProperty</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractIds</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varPropertyId</assignToReference>
            <field>Property__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getMiscellaneousRecId</name>
        <label>getMiscellaneousRecId</label>
        <locationX>366</locationX>
        <locationY>541</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createCaseContract</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CAS_LVIMiscellaneous</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getMiscellaneousRecId_0</name>
        <label>getMiscellaneousRecId</label>
        <locationX>867</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSelectedContractDetail_0</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CAS_LVIMiscellaneous</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getNewCaseId</name>
        <label>getNewCaseId</label>
        <locationX>694</locationX>
        <locationY>640</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isSuccess</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varNewCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getNewParentCaseId</name>
        <label>getNewParentCaseId</label>
        <locationX>1232</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMultiSelectedContract</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varNewParentCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSelectedContractDetail</name>
        <label>getSelectedContractDetail</label>
        <locationX>185</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMiscellaneousRecId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectContractId</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varAccountOnContract</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpportunityId</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpaceId</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSelectedContractDetail_0</name>
        <label>getSelectedContractDetail</label>
        <locationX>867</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMultiSelectedContract_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectContractId</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varOpportunityId</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpaceId</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateParentCase</name>
        <label>updateParentCase</label>
        <locationX>1511</locationX>
        <locationY>641</locationY>
        <connector>
            <targetReference>Navigate_to_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TechHasChildCase__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>ActiveContracts</name>
        <label>Active Contracts</label>
        <locationX>183</locationX>
        <locationY>177</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getSelectedContracts</targetReference>
        </connector>
        <fields>
            <name>MiscellaneousLeaseScreen</name>
            <fieldText>Miscellaneous Lease</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ActiveContractScreen</name>
            <extensionName>c:ContractListFlowDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnsStr</name>
                <value>
                    <elementReference>columnNameForm</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dataArr</name>
                <value>
                    <elementReference>DataArr</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contractIdsArray</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CaseFailed</name>
        <label>CaseFailed</label>
        <locationX>1100</locationX>
        <locationY>754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error</name>
            <fieldText>Error on Creating Case. Check with your System Administrator.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorMessage</name>
        <label>errorMessage</label>
        <locationX>841</locationX>
        <locationY>544</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessageText</name>
            <fieldText>Sorry, but you can’t create a record at this time.

Error message: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MiscellaneousLease</name>
        <label>Miscellaneous Lease</label>
        <locationX>188</locationX>
        <locationY>414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getSelectedContractDetail</targetReference>
        </connector>
        <fields>
            <name>CaseSubtype</name>
            <choiceReferences>Centre</choiceReferences>
            <choiceReferences>DC</choiceReferences>
            <choiceReferences>LeasingFinance</choiceReferences>
            <choiceReferences>LeasingRGM</choiceReferences>
            <choiceReferences>RevenueAssurance</choiceReferences>
            <choiceReferences>MajorsFinance</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Subtype</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MiscellaneousLeaseM</name>
        <label>Miscellaneous Lease</label>
        <locationX>658</locationX>
        <locationY>289</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getMiscellaneousRecId_0</targetReference>
        </connector>
        <fields>
            <name>CaseSubtypeM</name>
            <choiceReferences>Centre</choiceReferences>
            <choiceReferences>LeasingFinance</choiceReferences>
            <choiceReferences>RevenueAssurance</choiceReferences>
            <choiceReferences>LeasingRGM</choiceReferences>
            <choiceReferences>DC</choiceReferences>
            <choiceReferences>MajorsFinance</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Subtype</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DescriptionM</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoContractSelected</name>
        <label>No Contract Selected</label>
        <locationX>545</locationX>
        <locationY>417</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoContractSelectedScreen</name>
            <fieldText>Please select at least 1 contract on the previous screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>BuildContractRecordDetails</startElementReference>
    <status>Active</status>
    <variables>
        <name>arrayContractId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>childCasesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>contractIdsArray</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contractsRelatedToProperty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>DataArr</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newCaseFromContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>propertyRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountOnContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContractCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varContractIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewAccountParentCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewParentCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParentCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPropertyCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varPropertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPropertyLevelAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSelectContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSelectedIdContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSpaceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTempProperty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
