flows/RenewContract.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigatetoopportunity</name>
        <label>Navigate to opportunity</label>
        <locationX>1979</locationX>
        <locationY>729</locationY>
        <actionName>c:NavigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>varNewOpportunityId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varNewOpportunityId</assignToReference>
            <name>SObject</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>assignmentofcommercialvaluestocreateopportunityrecord</name>
        <label>assignment of commercial values to create opportunity record</label>
        <locationX>979</locationX>
        <locationY>676</locationY>
        <assignmentItems>
            <assignToReference>assignForecastAchieveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommForecastAchievedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignProposedRentCommencementDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommProposedRentCommencementDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignProposedStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommProposedStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignTermYears</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommTermYears</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignTermMonths</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommTermMonths</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignTermDays</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommTermDays</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignNumberOfOptions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommNumberofOptions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignOptionTerms</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommOptionTerm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createNewRetailOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignmentofvaluestocreateopportunityrecord</name>
        <label>assignment of values to create opportunity record</label>
        <locationX>617</locationX>
        <locationY>612</locationY>
        <assignmentItems>
            <assignToReference>assignProposedRentCommencementDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RetialProposedRentCommencementDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignForecastAchieveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReailForecastAchievedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignProposedStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RetailProposedStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignTermYears</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RetailTermYears</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignTermMonths</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RetailTermMonths</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignTermDays</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RetailTermDays</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignNumberOfOptions</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignOptionTerms</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createNewRetailOpportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if Contract Clause Name and Details are present</description>
        <name>checkContractClauseDetails</name>
        <label>checkContractClauseDetails</label>
        <locationX>427</locationX>
        <locationY>885</locationY>
        <defaultConnector>
            <targetReference>getusageclauseofnewopportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ContractClauseEmpty</defaultConnectorLabel>
        <rules>
            <name>ContractClausePresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractUsageClauseName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContractUsageClauseDetails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deleteOppUsageClause</targetReference>
            </connector>
            <label>ContractClausePresent</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkContractRecordType</name>
        <label>checkContractRecordType</label>
        <locationX>734</locationX>
        <locationY>351</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>StoreRoom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CON_StoreroomContract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChecktheProfileoftheuser</targetReference>
            </connector>
            <label>Store Room</label>
        </rules>
        <rules>
            <name>Retial</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CON_RetailContract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retail</targetReference>
            </connector>
            <label>Retial</label>
        </rules>
        <rules>
            <name>Commercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CON_CommercialContract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CommercialScreen</targetReference>
            </connector>
            <label>Commercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checkifflowiscalledfromcontractorspace</name>
        <label>Check if flow is called from contract or space</label>
        <locationX>1041</locationX>
        <locationY>27</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>FromContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gettherecordtypenameofthecontract</targetReference>
            </connector>
            <label>From Contract</label>
        </rules>
        <rules>
            <name>FromSpace</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getthecontractidfromspace</targetReference>
            </connector>
            <label>From Space</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckiftherecordidofcontractisNULL</name>
        <label>Check if the record id of contract is NULL</label>
        <locationX>1062</locationX>
        <locationY>157</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YesNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessageCurrentLease</targetReference>
            </connector>
            <label>Yes NULL</label>
        </rules>
        <rules>
            <name>NoNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrievethecontractinformation</targetReference>
            </connector>
            <label>No NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checkifthereisanyusageclauseontheparentopportunity</name>
        <label>Check if there is any usage clause on the parent opportunity</label>
        <locationX>1676</locationX>
        <locationY>1010</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>TruePresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUsageClauseOnParentOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateUsageclauseonthenewopportunity</targetReference>
            </connector>
            <label>TruePresent</label>
        </rules>
        <rules>
            <name>FalsePresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUsageClauseOnParentOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ifnewopportunityiscreated</targetReference>
            </connector>
            <label>FalsePresent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checkifusageclauseispresentonthenewopporunity</name>
        <label>Check if usage clause is present on the new opporunity</label>
        <locationX>1308</locationX>
        <locationY>897</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YesPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppClauseonNewOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ifnewopportunityiscreated</targetReference>
            </connector>
            <label>YesPresent</label>
        </rules>
        <rules>
            <name>NoPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppClauseonNewOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getUsageclausefromtheparentopportunity</targetReference>
            </connector>
            <label>NoPresent</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChecktheProfileoftheuser</name>
        <label>Check the Profile of the user</label>
        <locationX>1043</locationX>
        <locationY>400</locationY>
        <defaultConnector>
            <targetReference>AccessError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SystemAdminORSCGRetailCentreMgtORSCGRetail_Admin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varUserProfile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserProfile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SCG-Retail CentreMgt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserProfile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SCG-Retail Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StoreroomLicence</targetReference>
            </connector>
            <label>System Admin OR SCG-Retail CentreMgt OR SCG-Retail Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ifnewopportunityiscreated</name>
        <label>If new opportunity is created</label>
        <locationX>1788</locationX>
        <locationY>389</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewOpportunityId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getNewOpportunityName</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewOpportunityId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Failure</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Renew the contract either from space or exisiting contract</description>
    <formulas>
        <name>DefaultRentCommenencementDate</name>
        <dataType>Date</dataType>
        <expression>{!varLeaseEndDate} + 1</expression>
    </formulas>
    <formulas>
        <name>navigateToURL</name>
        <dataType>String</dataType>
        <expression>{!$Label.LVIEnvURL}+{!varNewOpportunityId}+&apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>varUserProfile</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <name>varwhereclause</name>
        <dataType>String</dataType>
        <expression>&quot;AccountId=&quot;+&quot;&apos;&quot;+{!varAccountId}+&quot;&apos;&quot;+&quot; or AccountId=&quot;+&quot;&apos;&quot;+{!varParentAccountId}+&quot;&apos;&quot;</expression>
    </formulas>
    <interviewLabel>Renew Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Renew Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createNewOpportunity</name>
        <label>createNewOpportunity</label>
        <locationX>1474</locationX>
        <locationY>254</locationY>
        <assignRecordIdToReference>varNewOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Ifnewopportunityiscreated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessageDisplay</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Forecast_Achieved_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExistingContract__c</field>
            <value>
                <elementReference>varContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentOpportunity__c</field>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>varProperty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProposedRentCommencementDate__c</field>
            <value>
                <elementReference>ProposedRentCommencementDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProposedStartDate__c</field>
            <value>
                <elementReference>ProposedStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varOpportunityRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RentInAdvance__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Space__c</field>
            <value>
                <elementReference>varSpace</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Understand &amp; Negotiate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TermDays__c</field>
            <value>
                <elementReference>TermDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TermMonths__c</field>
            <value>
                <elementReference>TermMonths</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TermYr__c</field>
            <value>
                <elementReference>TermYears</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New Lease</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>createNewRetailOpportunity</name>
        <label>createNewRetailOpportunity</label>
        <locationX>180</locationX>
        <locationY>712</locationY>
        <assignRecordIdToReference>varNewOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>checkContractClauseDetails</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessageDisplay</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>assignForecastAchieveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExistingContract__c</field>
            <value>
                <elementReference>varContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfOptions__c</field>
            <value>
                <elementReference>assignNumberOfOptions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionTerm__c</field>
            <value>
                <elementReference>assignOptionTerms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentOpportunity__c</field>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryContact__c</field>
            <value>
                <elementReference>varPrimaryContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>varProperty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProposedRentCommencementDate__c</field>
            <value>
                <elementReference>assignProposedRentCommencementDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProposedStartDate__c</field>
            <value>
                <elementReference>assignProposedStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varOpportunityRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RentInAdvance__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Space__c</field>
            <value>
                <elementReference>varSpace</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Understand &amp; Negotiate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TermDays__c</field>
            <value>
                <elementReference>assignTermDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TermMonths__c</field>
            <value>
                <elementReference>assignTermMonths</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TermYr__c</field>
            <value>
                <elementReference>assignTermYears</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New Lease</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <description>Create Opportunity Usage Clause from Contract Details</description>
        <name>createUsageClauseFromContract</name>
        <label>createUsageClauseFromContract</label>
        <locationX>879</locationX>
        <locationY>798</locationY>
        <assignRecordIdToReference>varNewOpportunityClauseId</assignRecordIdToReference>
        <connector>
            <targetReference>Ifnewopportunityiscreated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessageDisplay</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ClauseDetails__c</field>
            <value>
                <elementReference>varContractUsageClauseDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varContractUsageClauseName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varNewOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varOppclauseRectypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Usage</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityClause__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateUsageclauseonthenewopportunity</name>
        <label>Create Usage clause on the new opportunity</label>
        <locationX>1891</locationX>
        <locationY>958</locationY>
        <assignRecordIdToReference>varNewOpportunityClauseId</assignRecordIdToReference>
        <connector>
            <targetReference>Ifnewopportunityiscreated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessageDisplay</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ClauseDetails__c</field>
            <value>
                <elementReference>varClauseDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varUsageClauseName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varNewOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varOppclauseRectypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Usage</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityClause__c</object>
    </recordCreates>
    <recordDeletes>
        <name>deleteOppUsageClause</name>
        <label>deleteOppUsageClause</label>
        <locationX>657</locationX>
        <locationY>781</locationY>
        <connector>
            <targetReference>createUsageClauseFromContract</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewOpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Usage</stringValue>
            </value>
        </filters>
        <object>OpportunityClause__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Extractthedescriptionoftheexisitngstoreroomopportunity</name>
        <label>Extract the description of the exisitng storeroom opportunity</label>
        <locationX>1275</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createNewOpportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessageDisplay</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varDescription</assignToReference>
            <field>Description</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getNewOpportunityName</name>
        <label>getNewOpportunityName</label>
        <locationX>1928</locationX>
        <locationY>557</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Navigatetoopportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessageDisplay</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varNewOpportunityName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getthecontractidfromspace</name>
        <label>get the contract id from space</label>
        <locationX>1333</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckiftherecordidofcontractisNULL</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Space__c</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>CurrentLease__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>gettherecordtypeidofleasingopportunityclause</name>
        <label>get the record type id of leasing opportunity clause</label>
        <locationX>609</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkContractRecordType</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OPC_LeasingClause</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varOppclauseRectypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>gettherecordtypenameofthecontract</name>
        <label>get the record type name of the contract</label>
        <locationX>607</locationX>
        <locationY>140</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>gettherecordtypeidofleasingopportunityclause</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractRecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getUsageclausefromtheparentopportunity</name>
        <label>get Usage clause from the parent opportunity</label>
        <locationX>1524</locationX>
        <locationY>1057</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checkifthereisanyusageclauseontheparentopportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessageDisplay</targetReference>
        </faultConnector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Usage</stringValue>
            </value>
        </filters>
        <object>OpportunityClause__c</object>
        <outputAssignments>
            <assignToReference>varClauseDetails</assignToReference>
            <field>ClauseDetails__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUsageClauseOnParentOpportunity</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUsageClauseName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varReferencedClause</assignToReference>
            <field>ReferencedClause__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getusageclauseofnewopportunity</name>
        <label>get usage clause of new opportunity</label>
        <locationX>1032</locationX>
        <locationY>906</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checkifusageclauseispresentonthenewopporunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessageDisplay</targetReference>
        </faultConnector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewOpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Usage</stringValue>
            </value>
        </filters>
        <object>OpportunityClause__c</object>
        <outputAssignments>
            <assignToReference>varOppClauseonNewOpportunity</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Retrievethecontractinformation</name>
        <label>Retrieve the contract information</label>
        <locationX>606</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checkifflowiscalledfromcontractorspace</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContractId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLeaseEndDate</assignToReference>
            <field>LeaseEndDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpportunityId</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varParentAccountId</assignToReference>
            <field>ParentAccount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProperty</assignToReference>
            <field>Property__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContractRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSpace</assignToReference>
            <field>Space__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpportunityRecordTypeId</assignToReference>
            <field>TECH_OpportunityRecordTypeId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpportunityPrimaryContact</assignToReference>
            <field>Tech_PrimaryContact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContractUsageClauseDetails</assignToReference>
            <field>UsageClauseDetails__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContractUsageClauseName</assignToReference>
            <field>UsageClauseName__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>AccessError</name>
        <label>Access Error</label>
        <locationX>1293</locationX>
        <locationY>510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AuthMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You are not authorised to renew the lease&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CommercialScreen</name>
        <label>Commercial</label>
        <locationX>980</locationX>
        <locationY>545</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignmentofcommercialvaluestocreateopportunityrecord</targetReference>
        </connector>
        <fields>
            <name>CommPrimaryContactLookup</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>AccountContactRelation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>ContactName__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>varOpportunityPrimaryContact</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <elementReference>varwhereclause</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varPrimaryContactId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>CommProposedRentCommencementDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>DefaultRentCommenencementDate</elementReference>
            </defaultValue>
            <fieldText>Proposed Rent Commencement Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CommForecastAchievedDate</name>
            <dataType>Date</dataType>
            <fieldText>Forecast Achieved Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CommProposedStartDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>DefaultRentCommenencementDate</elementReference>
            </defaultValue>
            <fieldText>Proposed Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CommTermYears</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>5.0</numberValue>
            </defaultValue>
            <fieldText>Term (Years)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>CommTermMonths</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Term (Months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>CommTermDays</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Term (Days)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>CommNumberofOptions</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Number of Options</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>CommOptionTerm</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Option Term</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorMessageCurrentLease</name>
        <label>Error Message</label>
        <locationX>830</locationX>
        <locationY>249</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoCurrrentLeasewithSpace</name>
            <fieldText>There is no current lease associated with the space</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorMessageDisplay</name>
        <label>errorMessageDisplay</label>
        <locationX>1462</locationX>
        <locationY>551</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayErrorMessage</name>
            <fieldText>Sorry, but you can’t create a record at this time.

Error message: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Failure</name>
        <label>Failure</label>
        <locationX>2193</locationX>
        <locationY>572</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>Failed to create an opportunity</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retail</name>
        <label>Retail</label>
        <locationX>776</locationX>
        <locationY>535</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignmentofvaluestocreateopportunityrecord</targetReference>
        </connector>
        <fields>
            <name>RetailPrimaryContactLookup</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>AccountContactRelation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>ContactName__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>varOpportunityPrimaryContact</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <elementReference>varwhereclause</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varPrimaryContactId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>RetialProposedRentCommencementDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>DefaultRentCommenencementDate</elementReference>
            </defaultValue>
            <fieldText>Proposed Rent Commencement Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ReailForecastAchievedDate</name>
            <dataType>Date</dataType>
            <fieldText>Forecast Achieved Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RetailProposedStartDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>DefaultRentCommenencementDate</elementReference>
            </defaultValue>
            <fieldText>Proposed Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RetailTermYears</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>5.0</numberValue>
            </defaultValue>
            <fieldText>Term (Years)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>RetailTermMonths</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Term (Months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>RetailTermDays</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Term (Days)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>StoreroomLicence</name>
        <label>Storeroom Licence</label>
        <locationX>1121</locationX>
        <locationY>273</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Extractthedescriptionoftheexisitngstoreroomopportunity</targetReference>
        </connector>
        <fields>
            <name>StoreroomPrimaryContactLookup</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>AccountContactRelation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>ContactName__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>varOpportunityPrimaryContact</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <elementReference>varwhereclause</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varPrimaryContactId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ProposedRentCommencementDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>DefaultRentCommenencementDate</elementReference>
            </defaultValue>
            <fieldText>Proposed Rent Commencement Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Forecast_Achieved_Date</name>
            <dataType>Date</dataType>
            <fieldText>Forecast Achieved Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProposedStartDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>DefaultRentCommenencementDate</elementReference>
            </defaultValue>
            <fieldText>Proposed Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TermYears</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Term (Years)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>TermMonths</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Term (Months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>TermDays</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Term (Days)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Retrievethecontractinformation</startElementReference>
    <status>Active</status>
    <variables>
        <name>assignForecastAchieveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assignNumberOfOptions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>assignOptionTerms</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>assignProposedRentCommencementDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assignProposedStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assignTermDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>assignTermMonths</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>assignTermYears</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varClauseDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varContractRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varContractUsageClauseDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContractUsageClauseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varLeaseEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewOpportunityClauseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varNewOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varNewOpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varOppClauseonNewOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varOppclauseRectypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varOpportunityPrimaryContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varOpportunityRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varParentAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varPrimaryContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varProperty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varReferencedClause</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSpace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varUsageClauseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varUsageClauseOnParentOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
